<section class="content">
	<div class="container-fluid">
		<div class="row clearfix m-t-123">
			<div class="col-md-12">
				<div class="card text-white feeds-container" style="margin: 0 !important;">
					<div class="body bg-pink profile-header dim">
                        <img src="assets/images/social1.jpg"/>
						<button class="btn btn-simple btn-round btn-warning">change header image</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-3 m-t--30">
				<div class="card member-card transparent">
                    <div class="member-img">
                        <a href="#" class="profile-container">
                        <img src="../assets/images/profile_av.jpg" class="user_pic rounded-circle img-raised" alt="profile-image">
                        <span class="change-pics"><a href="#"> Change </a></span>
                        </a>
                    </div>
                </div>
			</div>
			<div class="col-md-7 m-t-20">
				<div class="card">
                    <div class="header">
                        <h2><strong>Account</strong> Settings</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name">
                                </div>
                            </div>
                                                           
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="City">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Country">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="4" class="form-control no-resize" placeholder="Address Line 1"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <input id="procheck1" type="checkbox">
                                    <label for="procheck1">Profile Visibility For Everyone</label>
                                </div>
                                <div class="checkbox">
                                    <input id="procheck2" type="checkbox">
                                    <label for="procheck2">New task notifications</label>
                                </div>
                                <div class="checkbox">
                                    <input id="procheck3" type="checkbox">
                                    <label for="procheck3">New friend request notifications</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-round">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="card">
                    <div class="header">
                        <h2><strong>Security</strong> Settings</h2>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Current Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password">
                        </div>
                        <button class="btn btn-info btn-round">Save Changes</button>                               
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>