<section class="content">
	<div class="container">
		<div class="row clearfix m-t-125">
			<div class="col-sm-12 col-md-12 col-lg-3 sticky">

				<div class="card member-card">
                    <div class="header l-blush">
                        <h4 class="m-t-10">Eliana Smith</h4>
                    </div>
                    <div class="member-img">
                        <a href="profile.html" class="">
                        <img src="../assets/images/lg/avatar2.jpg" class="rounded-circle" alt="profile-image">
                        </a>
                    </div>
                    <div class="body">
                        <div class="col-12">
                            <ul class="social-links list-unstyled">
                                <li><a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a></li>
                            </ul>
                            <p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <h5 class="m-b-0">18</h5>
                                <small>Files</small>
                            </div>
                            <div class="col-4">
                                <h5 class="m-b-0">2GB</h5>
                                <small>Used</small>
                            </div>
                            <div class="col-4">
                                <h5 class="m-b-0">65,6$</h5>
                                <small>Spent</small>
                            </div>
                        </div>
                    </div>
                </div>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="row clearfix">
					<div class="col-sm-12 col-md-12">
						<div class="card feeds-container chat-app">
		                    <div class="body">
		                    	<div class="chat">
			                        <div class="chat-header clearfix">
			                            <div class="row">
			                                <div class="col-lg-6">
			                                  <h5> Write an article</h5>
			                                </div>
			                                <div class="col-lg-6 text-right">
			                                    <button class="btn btn-primary btn-icon  btn-icon-mini btn-round"><i class="icon-camera"></i></button>
			                                    <button class="btn btn-primary btn-icon  btn-icon-mini btn-round"><i class="icon-camcorder"></i></button>
			                                    <button class="btn btn-primary btn-icon  btn-icon-mini btn-round"><i class="icon-settings"></i></button>
			                                    <button class="btn btn-primary btn-icon  btn-icon-mini btn-round"><i class="icon-question"></i></button>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="chat-history">
			                            <div class="form-group">
			                            	<textarea name="" rows="3" class="form-control"></textarea>
			                            </div>
			                        </div>
			                        <div class="chat-message clearfix">
			                           <button class="btn btn-primary btn-round"><i class="zmdi zmdi-favorite-outline6"></i> Post</button>
			                        </div>
			                    </div>
		                    </div>
		                </div>
					</div>

					<div class="col-sm-12 col-md-12">
						<div class="card feeds-container min-height-400">
		                    <div class="body">
		                    	<br/>
		                    	<br/>
		                    </div>
		                </div>
					</div>

					<div class="col-sm-12 col-md-12">
						<div class="card feeds-container min-height-400">
		                    <div class="body">
		                    	<br/>
		                    	<br/>
		                    </div>
		                </div>
					</div>

					<div class="col-sm-12 col-md-12">
						<div class="card feeds-container min-height-400">
		                    <div class="body">
		                    	<br/>
		                    	<br/>
		                    </div>
		                </div>
					</div>

				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-3 sticky">
				<div class="card feeds-container min-height-400">
                    <div class="body">
                    	<ul class="list-group custom-list">
                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar1.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">John Gidado</h6>
                    				<span class="list-position">Manager Sunflex</span>
                    			</div>
                    			<button class="btn btn-primary btn-sm btn-simple">Follow</button>
                    		</li>
                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar2.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">Kelvin Black</h6>
                    				<span class="list-position">CEO Grand More Inc.</span>
                    			</div>
                    			<button class="btn btn-primary btn-sm btn-simple">Follow</button>
                    		</li>
                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar3.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">Malcon Malvin</h6>
                    				<span class="list-position">Entrepreneur</span>
                    			</div>
                    			<button class="btn btn-primary btn-sm btn-simple">Follow</button>
                    		</li>

                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar4.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">Bamidele Joshua</h6>
                    				<span class="list-position">CEO Health Ko.</span>
                    			</div>
                    			<button class="btn btn-primary btn-sm btn-simple">Follow</button>
                    		</li>
                    	</ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>