  <section class="cover-sec">
      <img src="{{ currentUser.bg_image?currentUser.bg_image : 'assets/images/default/default.png' }}" alt="">
      <a href="javascript:;" class="remove-btn" (click)="removeBgImage()"><i class="fa fa-trash"></i> Remove Image</a>
      <label for="file-upload" class="custom-file-upload waves-effect">
         <i class="fa fa-camera"></i> Change Image
      </label>
      <input id="file-upload" type="file" multiple (change)="uploadHeaderImage(profileHeaderInput)"  #profileHeaderInput/>

  </section>


  <main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
              <div class="col-lg-3">
                <div class="main-left-sidebar">
                  <div class="user_profile">
                    <div class="user-pro-img">
                      <img src="{{ currentUser.avatar?currentUser.avatar : 'assets/images/default/avatar.jpg' }}" alt="">
                      <label for="avatar_upload" class="custom-file-upload waves-effect">
                         <i class="fa fa-camera"></i> Change
                      </label>
                      <input id="avatar_upload" #profileImageInput type="file" multiple (change)="uploadProfileAvatar($event)"/>
                    </div><!--user-pro-img end-->
                     
                    </div><!--user_pro_status end-->
                  
                </div><!--main-left-sidebar end-->


                <div class="acc-leftbar">

                   <div class="nav nav-tabs" id="nav-tab" >
                    <a *ngFor="let nav of navigation" 
                      [ngClass]="{'active': selectedNavigation.id === nav.id}"
                      class="nav-item nav-link" id="nav-acc-tab" 
                      [routerLink]="" 
                      (click)="setActiveNavigation(nav)"><i class="la {{ nav.icon }}"></i> 
                      {{ nav.name | titlecase }}
                    </a>
                  </div>
                
              </div><!--acc-leftbar end-->


              </div>
			         <div class="col-md-7 m-t-20">

                 <div *ngIf="selectedNavigation.alias === 'account'">
				          <div class="card">
                    <div class="card-header">
                        <h2><strong>Account</strong> Settings</h2>
                        <p class="text-danger" *ngIf="role === 'business'"> The avatar can be changed to your company or business logo & must be <b>450x450</b> width & height respectively.</p>
                    </div>
                    <div class="card-body">
                       <form [formGroup]="userForm" (ngSubmit)="userFormSubmit()">
                            <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input 
                                    type="text" 
                                    formControlName="name"
                                    [readonly]="true"
                                    class="form-control" 
                                    placeholder="Full Name" 
                                    [ngClass]="{ 'is-invalid': userFormSubmitted && f.name.errors }"
                                    >
                                    <div *ngIf="userFormSubmitted && f.name.errors" class="invalid-feedback">
                                      <div *ngIf="f.name.errors.required">Full Name can't be empty</div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input
                                    [readonly]="currentUser.email_verified_at"
                                    type="email" 
                                    formControlName="email"
                                    class="form-control"
                                    placeholder="E-mail" [ngClass]="{ 'is-invalid': userFormSubmitted && f.email.errors }">
                                    <div *ngIf="userFormSubmitted && f.email.errors" class="invalid-feedback">
                                      <div *ngIf="f.email.errors.required">Email Address can't be empty</div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input 
                                    type="text" 
                                    formControlName="phone" 
                                    class="form-control" 
                                    placeholder="Phone" [ngClass]="{ 'is-invalid': userFormSubmitted && f.phone.errors }">
                                    <div *ngIf="userFormSubmitted && f.phone.errors" class="invalid-feedback">
                                      <div *ngIf="f.phone.errors.required">Full Name can't be empty</div>
                                  </div>
                                </div>
                            </div>
                                                           
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                     <label>Country</label>
                                      <ng-select [items]="countries"
                                               bindLabel="name"
                                               (change)="countryChange($event)"
                                               bindValue="id"
                                               placeholder="select country"
                                               formControlName="country">
                                    </ng-select>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <label>State</label>
                                     <ng-select [items]="states"
                                               bindLabel="name"
                                               bindValue="id"
                                               placeholder="select state"
                                               formControlName="state">
                                    </ng-select>
                                </div>
                            </div>

                             <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <label>City</label>
                                     <input 
                                    type="text" 
                                    formControlName="city" 
                                    class="form-control" 
                                    placeholder="Enter City" [ngClass]="{ 'is-invalid': userFormSubmitted && f.city.errors }">
                                    <div *ngIf="userFormSubmitted && f.city.errors" class="invalid-feedback">
                                      <div *ngIf="f.city.errors.required">City can't be empty</div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Date of Birth</label>
                                    <input [owlDateTimeTrigger]="dt3" formControlName="dob" class="form-control" [owlDateTime]="dt3">
                                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <div class="form-group">
                                    <label>Residential Address</label>
                                    <textarea rows="3" formControlName="address" class="textarea form-control no-resize" placeholder="Address Line 1"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>A Short Brief About You</label>
                                    <textarea rows="3" formControlName="bio" class="textarea form-control no-resize" placeholder="say something"></textarea>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <button class="btn btn-sm btn-primary btn-round waves-effect" [ladda]="userFormLoading">Save Changes</button>
                            </div>
                        </div>
                       </form>
                    </div>
                </div>
              </div>

               <div *ngIf="selectedNavigation.alias === 'platform_profile'">
                <div class="card mb-5" *ngIf="role !== 'business'">
                    <div class="card-header">
                        <h2><strong>Platform</strong> Settings</h2>
                    </div>
                    <div class="card-body">
                        <div *ngIf="role === 'student'">
                            <form [formGroup]="studentForm" (ngSubmit)="studentFormSubmit()">
                             <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" 
                                        formControlName="institution" 
                                        class="form-control" 
                                        placeholder="School/Institution/College" 
                                        [ngClass]="{ 'is-invalid': studentFormSubmitted && s.institution.errors }">
                                        <div *ngIf="studentFormSubmitted && s.institution.errors" class="invalid-feedback">
                                          <div *ngIf="s.institution.errors.required">Field can't be empty</div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" 
                                        formControlName="faculty" 
                                        class="form-control" 
                                        placeholder="Faculty" 
                                        [ngClass]="{ 'is-invalid': studentFormSubmitted && s.faculty.errors }">
                                         <div *ngIf="studentFormSubmitted && s.faculty.errors" class="invalid-feedback">
                                          <div *ngIf="s.faculty.errors.required">Field can't be empty</div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" 
                                        formControlName="department" 
                                        class="form-control" 
                                        placeholder="Department" 
                                        [ngClass]="{ 'is-invalid': studentFormSubmitted && s.department.errors }">
                                         <div *ngIf="studentFormSubmitted && s.department.errors" class="invalid-feedback">
                                          <div *ngIf="s.department.errors.required">Field can't be empty</div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" 
                                        formControlName="level" 
                                        class="form-control" 
                                        placeholder="Level/Year ( enter Graduated if graduate )" 
                                        [ngClass]="{ 'is-invalid': studentFormSubmitted && s.level.errors }">
                                         <div *ngIf="studentFormSubmitted && s.level.errors" class="invalid-feedback">
                                          <div *ngIf="s.level.errors.required">Field can't be empty</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label>Primary Career Path</label>
                                       <ng-select [items]="careerPaths"
                                               bindLabel="name"
                                               bindValue="id"
                                               placeholder="select primary career path"
                                               formControlName="careerPath">
                                    </ng-select>
                                    </div>
                                </div>
                               
                                <div class="col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label>Secondary Career Path</label>
                                         <ng-select [items]="careerPaths"
                                               bindLabel="name"
                                               bindValue="id"
                                               placeholder="select secondary career path"
                                               formControlName="secondaryCP">
                                        </ng-select>
                                    </div>
                                </div>
                           <!-- <div class="col-md-12">
                                <div class="checkbox">
                                    <input id="procheck1" type="checkbox">
                                    <label for="procheck1">Profile Visibility For Everyone</label>
                                </div>
                            </div> -->
                                <div class="col-md-12 mt-5">
                                    <button class="btn btn-sm btn-primary btn-round waves-effect">Save Changes</button>
                                </div>
                                </div>
                            </form>
                            </div>

                             <div *ngIf="role === 'mentor'">
                                <form [formGroup]="mentorForm" (ngSubmit)="mentorFormSubmit()">
                                    <div class="row clearfix">
                                      <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Maximum Mentees You Wish To Mentor</label>
                                                     <input type="number" formControlName="total_trainee" class="form-control" placeholder="Maximum mentee">
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Employment Status</label>
                                                     <ng-select [items]="employmentState"
                                                           bindLabel="name"
                                                           bindValue="name"
                                                           placeholder="Employment Status"
                                                           formControlName="employmentStatus">
                                                    </ng-select>
                                                 </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Current Job Position (<small>if you own a business, state your role</small>)</label>
                                                 <input type="text" formControlName="current_job_position" class="form-control" placeholder="Current Job Position">
                                            </div>
                                        </div>

                                       <div class="col-md-12 mt-3">
                                            <div class="form-group">
                                                <label>Work Experience Entry</label>
                                                <div 
                                                    formArrayName="workExperience"
                                                    *ngFor="let experience of mentorForm.get('workExperience').controls; let i = index;">

                                                  <div class="text-center mt-2 mb-2 p-2">{{ i+1 }}
                                                    <button type=" button" *ngIf="i !== 0" 
                                                    class="btn btn-round btn-warning btn-sm" 
                                                    (click)="removeWorkExperience(i)"> remove</button>
                                                </div>

                                                  <div [formGroupName]="i">
                                                    <input formControlName="company" class="form-control" placeholder="Company"><br/>
                                                    <input formControlName="position" class="form-control" placeholder="Position"><br/>

                                                     <input formControlName="location" class="form-control" placeholder="Company Address"><br/>

                                                      <input [owlDateTimeTrigger]="dt5" formControlName="from_date" class="form-control" [owlDateTime]="dt5" placeholder="Start Date"><br/>
                                                    <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>

                                                      <input [owlDateTimeTrigger]="dt4" formControlName="to_date" class="form-control" [owlDateTime]="dt4" placeholder="End Date"><br/>
                                                     <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>

                                                       <div class="checkbox">
                                                        <input id="tillDate" type="checkbox" formControlName="till_present">
                                                        <label for="tillDate">Till date ?</label>
                                                      </div>
                                                  </div>
                                                  
                                                </div>
                                                <button type="button" class="btn btn-round btn-warning btn-sm" (click)="addworkExperience()"> Add More</button>
                                            </div>
                                        </div>


                                        <div class="col-md-12 mt-3 mb-4">
                                            <div class="form-group">
                                                <label>Education Entry</label>
                                                <div 
                                                    formArrayName="education"
                                                    *ngFor="let education of mentorForm.get('education').controls; let i = index;">

                                                  <div class="text-center mt-1 mb-1 p-1">{{ i+1 }}
                                                    <button type="button" *ngIf="i !== 0" 
                                                    class="btn btn-round btn-warning btn-sm" 
                                                    (click)="removeEducation(i)"> remove</button>
                                                </div>

                                                  <div [formGroupName]="i">
                                                    <input formControlName="institution" class="form-control" placeholder="Institution"><br/>
                                                    <input formControlName="program" class="form-control" placeholder="Program of Study"><br/>

                                                     <input [owlDateTimeTrigger]="dt2" formControlName="from_date" class="form-control" [owlDateTime]="dt2" placeholder="Start Date"><br/>
                                                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

                                                      <input [owlDateTimeTrigger]="dt1" formControlName="to_date" class="form-control" [owlDateTime]="dt1" placeholder="End Date"><br/>
                                                      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

                                                       <div class="checkbox">
                                                        <input id="tillPresent_{{ i }}" type="checkbox" formControlName="till_present">
                                                        <label for="tillPresent_{{ i }}">Till date ?</label>
                                                      </div>
                                                  </div>
                                                  
                                                </div>
                                                <button type="button" class="btn btn-round btn-warning btn-sm" (click)="addEducation()"> Add More</button>
                                            </div>
                                        </div>


                                        <div class="col-md-12 mt-4">
                                            <button class="btn btn-sm btn-primary btn-round" [ladda]="mentorFormLoading">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>                      
                    </div>
                </div>

                <div class="card mb-5" *ngIf="role === 'business'">
                    <div class="card-header">
                        <h2><strong>Platform</strong> Settings</h2>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="companyForm" (ngSubmit)="companyFormSubmit()">
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="name" class="form-control" placeholder="Company/Business Name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="phone" class="form-control" placeholder="Company/Business Phone">
                                    </div>
                                </div>

                                 <div class="col-md-12 mt-2">
                                    <div class="form-group">
                                        <input type="text" formControlName="website" class="form-control" placeholder="https://">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="textarea form-control no-resize" formControlName="description" rows="4" placeholder="About Company"></textarea>
                                    </div>
                                </div>

                               
                               <div class="col-md-12">
                                   <div class="form-group">
                                        <label class="pb-2">Enter Business/Organization Services
                                         <small class="text-danger">( and press enter)</small></label>
                                       <ng-select [items]="[]"
                                                   [addTag]="true"
                                                   [multiple]="true"
                                                   [isOpen]="false"
                                                   formControlName="services">
                                        </ng-select>
                                   </div>
                               </div>


                                <div class="col-md-12 mt-3 mb-4">
                                    <div class="form-group">
                                        <label>Company/Business Social Networks</label>
                                        <div 
                                            formArrayName="social_handle"
                                            *ngFor="let social of companyForm.get('social_handle').controls; let i = index;">

                                          <div class="text-center mt-1 mb-1 p-1">{{ i+1 }}
                                            <button type="button" *ngIf="i !== 0" 
                                            class="btn btn-round btn-warning btn-sm" 
                                            (click)="removeSocialHandle(i)"> remove</button>
                                        </div>

                                          <div [formGroupName]="i">
                                            <input formControlName="name" class="form-control" placeholder="Social Network"><br/>
                                            <input formControlName="url" class="form-control" placeholder="Url"><br/>
                                          </div>
                                          
                                        </div>
                                        <button type="button" class="btn btn-round btn-primary btn-sm" (click)="addSocialHandle()"> Add More</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" 
                                    class="btn btn-sm btn-primary btn-round waves-effect" 
                                    [ladda]="companyFormLoading">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="card mb-5" *ngIf="role === 'mentor' || role === 'business'">
                    <div class="card-header">
                        <h2><strong>Career Fields of Interest</strong></h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="industryForm" (ngSubmit)="industryFormSubmit()">
                             <div class="form-group">
                                <ng-select [items]="industries.industries"
                                        [addTag]="addTag"
                                        [hideSelected]="true"
                                        multiple="true"
                                        bindLabel="name"
                                        formControlName="industries">
                                </ng-select>
                            </div>

                           <!--  <div class="form-group">
                              <label class="mb-2">IF your career fields is not present above, enter it below</label>
                              <ng-select [items]="[]"
                                         [addTag]="true"
                                         [multiple]="true"
                                         [isOpen]="false"
                                         [ngModelOptions]="{standalone: true}"
                                         [(ngModel)]="mentorCareerInterest">
                              </ng-select>
                            </div> -->
                            <button class="btn btn-sm btn-primary btn-round waves-effect">Save Changes</button>
                        </form>
                    </div>
                </div>

              </div>

               <div *ngIf="selectedNavigation.alias === 'change_password'">
				        <div class="card mb-5">
                    <div class="card-header">
                        <h2><strong>Security</strong> Settings</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="passwordForm" (ngSubmit)="passwordFormSubmit()">
                            <div class="form-group">
                                <input type="password" 
                                formControlName="password" 
                                autocomplete="new-password" 
                                [ngClass]="{'is-invalid': passSubmitted && pass.password.errors}"
                                class="form-control" placeholder="New Password">
                                <div *ngIf="passSubmitted && pass.password.errors" class="invalid-feedback">
                                  <div *ngIf="pass.password.errors.required">Password is required</div>
                                  <div *ngIf="pass.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" 
                                autocomplete="new-password"
                                formControlName="confirmPassword"
                                [ngClass]="{'is-invalid': passSubmitted && pass.confirmPassword.errors}"
                                class="form-control" placeholder="Confirm New Password">
                                <div *ngIf="passSubmitted && pass.confirmPassword.errors" class="invalid-feedback">
                                  <div *ngIf="pass.confirmPassword.errors.required">Confirm Password is required</div>
                                  <div *ngIf="pass.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-primary btn-round waves-effect">Save Changes</button> 
                        </form>

                      </div>
                    </div>
                  </div>


                   <div *ngIf="selectedNavigation.alias === 'delete_account'">
                   <div class="card mb-5">
                    <div class="card-header">
                        <h2><strong>Account</strong> Removal</h2>
                    </div>
                    <div class="card-body">
                        <hr>
                        <h3 class="apple-font rigid text-danger">Dangerous Zone</h3>
                        <hr>
                        <button 
                        [ladda]="deletingProfile"
                        type="button"
                        [swal]="accountRemovalSwal" 
                        (confirm)="deleteAccount()"
                        class="btn btn-primary waves-effect">
                          Delete Account
                        </button>

                        <!-- <button type="button" class="btn btn-danger waves-effect"> 
                        Upgrade To Graduate</button>  --> 

                          <!-- Products Detachment confirmation Alert -->
                    <swal #accountRemovalSwal title="Delete Your Account ?"
                      text="Every bit of your information will be wiped and cannot be recovered again. Continue?"
                      type="warning"
                      [showCancelButton]="true"
                      [focusCancel]="true">
                      </swal>

                    </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

<!-- Page Modals -->
  <div class="modal fade" #imageCropperModal id="imageCropperModal" tabindex="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body"> 
               <image-cropper
                style="max-height: 480px !important;"
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="5 / 5"
                [resizeToWidth]="200"
                [cropperMinWidth]="200"
                [onlyScaleDown]="true"
                [roundCropper]="false"
                format="png"
                outputType="base64"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success btn-round waves-effect" (click)="saveImage()" [ladda]="avatarLoading">SAVE CHANGES</button>
              <button id="closeImageModal" type="button" class="btn btn-warning btn-simple btn-round waves-effect" data-dismiss="modal">CLOSE</button>
          </div>
      </div>
    </div>
</div>