<section class="profile-account-setting">
      <div class="container">
        <div class="account-tabs-setting">
          <div class="row mt-3">
            <div class="col-lg-4">
              <div class="acc-leftbar">
                <div class="nav nav-tabs" id="nav-tab" >
                    <a *ngFor="let nav of navigation" 
                    [ngClass]="{'active': selectedNavigation.id === nav.id}"
                    class="nav-item nav-link" id="nav-acc-tab" 
                    [routerLink]="" 
                    (click)="setActiveNavigation(nav)"><i class="la la-arrow-right"></i> 
                    {{ nav.name | titlecase }}
                  </a>
                  </div>
              </div><!--acc-leftbar end-->
            </div>
            <div class="col-lg-8">
              <div *ngIf="selectedNavigation.alias === 'career_fields'">
                <app-knowledge-hub-careers></app-knowledge-hub-careers>
              </div>

               <div *ngIf="selectedNavigation.alias === 'career_development'">
                <app-knowledge-hub-career-dev></app-knowledge-hub-career-dev>
              </div>

               <div *ngIf="selectedNavigation.alias === 'general_knowledge'">
                <app-knowledge-hub-general-knowledge></app-knowledge-hub-general-knowledge>
              </div>

               <div *ngIf="selectedNavigation.alias === 'business_management'">
                <app-knowledge-hub-business-management></app-knowledge-hub-business-management>
              </div>
            </div>
          </div>
        </div><!--account-tabs-setting end-->
      </div>
    </section>