<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
  <div class="container">
    <div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">
      <div class="col-sm-12 col-md-12">
        <div class="row clearfix">
          <div class="col-md-6 offset-3 m-b-40">

            <form [formGroup]="searchForm">
              <label class="text-center">Search for entrepreneurship contents</label>
               <ng-select 
                     [items]="[]"
                     bindLabel="name"
                     bindValue="id"
                     [dropdownPosition]="'bottom'"
                     placeholder="search for lession, articles e.t.c"
                     formControlName="search">
            </ng-select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


	<div class="container"> 
		<div class="row clearfix">
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>BO</strong> - Bukola Oke <small>Public</small></h2>                        
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
									<li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="lesson-body-top">
                        	It is a long established fact that a reader will be distracted by the readable content of ... <span class="badge badge-success float-right">New</span>
                        </div>
                    </div>
                    <div class="body lesson-box">
                       	<div class="lesson-image">
                       		<img src="assets/images/image-gallery/6.jpg" alt="">
                       	</div>
                       
                       <div class="lesson-body-bottom">
                       	 <div class="progress-container l-black m-b-20">
                            <span class="progress-badge">Progress</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                                    <span class="progress-value">68%</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-3">
                           	<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round">+1</button>
                           </div>
                           <div class="col-md-9">
                           	<div class="float-right">
                           		<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-speech"></i></button>
                           		<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-share"></i></button>
                           	</div>
                           </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>MK</strong> - Milona Kemota <small>Public</small></h2>                        
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
									<li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="lesson-body-top">
                        	Lessons learned after i shut down my shuttle box ... <span class="badge badge-success float-right">New</span>
                        </div>
                    </div>
                    <div class="body lesson-box">           
                       	<div class="lesson-image">
                       		<img src="assets/images/image-gallery/8.jpg" alt="">
                       	</div>
                       
                       <div class="lesson-body-bottom">
                       	 <div class="progress-container l-black m-b-20">
                            <span class="progress-badge">Progress</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                                    <span class="progress-value">68%</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-3">
                           	<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round">+1</button>
                           </div>
                           <div class="col-md-9">
                           	<div class="float-right">
                           		<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-speech"></i></button>
                           		<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-share"></i></button>
                           	</div>
                           </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>BT</strong> - Bamigbaye Tunde <small>Public</small></h2>                        
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
									<li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="lesson-body-top">Facts you should know when venturing into enterprise business ... <span class="badge badge-success float-right">New</span></div>
                    </div>
                    <div class="body lesson-box">         
                       	<div class="lesson-image">
                       		<img src="assets/images/image-gallery/4.jpg" alt="">
                       	</div>
                       
                       <div class="lesson-body-bottom">
                       	 <div class="progress-container l-black m-b-20">
                            <span class="progress-badge">Progress</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                                    <span class="progress-value">68%</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-3">
                           	<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round">+1</button>
                           </div>
                           <div class="col-md-9">
                           	<div class="float-right">
                           		<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-speech"></i></button>
                           		<button class="btn btn-default btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-share"></i></button>
                           	</div>
                           </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
		</div>

	</div>

</section>