<section class="content">
	<div class="container-fluid">
		<div class="row clearfix m-t-123">
			<div class="col-md-12">
				<div class="card text-white feeds-container" style="margin: 0 !important;">
					<div class="body bg-pink profile-header" style="background-image: url(assets/images/social3.jpg);">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-3 m-t--30">
				<div class="card member-card transparent">
                    <div class="member-img">
                        <a href="#" class="">
                        <img src="../assets/images/profile_av.jpg" class="user_pic rounded-circle img-raised" alt="profile-image">
                        </a>
                    </div>
                    <div class="body">
                        <div class="col-12">
                        	<h6>John Darke</h6>
                        	<p class="text-muted"><strong>Lanscape Architech</strong></p>
                        	<p class="text-muted">Lanscape studio focussed problem solving creativity. Design to us is how we can make things *work* amazinly.</p>
                           
                            <p class="text-muted text-left"><i class="icon-pointer"></i> Abuja, nigeria</p>
                            <p class="text-muted text-left"><i class="icon-link"></i> darke@gmail.com</p>
                            <p class="text-muted text-left"><i class="icon-calendar"></i> Joined April 2019</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                               <button class="btn btn-primary btn-round wave">Message</button>
                            </div>
                       
                            <div class="col-6">
                                <button class="btn btn-primary btn-round wave">Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6">
				<div class="profile-pane"> 
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="feed-tab" data-toggle="tab" href="#feed" role="tab" aria-controls="feed" aria-selected="true">Feeds</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="conection-tab" data-toggle="tab" href="#connection" role="tab" aria-controls="connection" aria-selected="false">Trainers</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="training-tab" data-toggle="tab" href="#training" role="tab" aria-controls="training" aria-selected="false"> Businesses </a>
					  </li>
					 
					</ul>
				</div>
				<div class="row clearfix m-t-20"> 
					<div class="col-sm-12 col-md-12">
						<div class="card feeds-container min-height-400">
		                    <div class="body">
		                    	<br/>
		                    	<br/>
		                    </div>
		                </div>
					</div>

					<div class="col-sm-12 col-md-12">
						<div class="card feeds-container min-height-400">
		                    <div class="body">
		                    	<br/>
		                    	<br/>
		                    </div>
		                </div>
					</div>

				</div>
			</div>
			<div class="col-md-3 m-t-80 sticky">
				<div class="card feeds-container min-height-400">
					<div class="body">
						<p><strong>Similar Mentors </strong> <span>refresh </span> <span>view all</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>