<div class="authentication parallax">
  <div id="logo-container"> 

    <div class="logo-container-inner"> 
     <img src="assets/images/logo-auth.png" class="auth-logo" />
     <h6>AN ONLINE COMMUNITY FOR AFRICAN STUDENTS TO LEARN, CONNECT, <br/> AND LANCH THEIR ENTREPRENEURAL JOURNEY</h6>
   </div>

 </div>
 <div class="container">
  <div class="col-md-12 content-center">
    <div class="row clearfix"> 
      <div class="col-lg-8 col-md-12 offset-lg-2">
        <div class="card-plain register">
          <div class="header">
            <h5>Sign Up</h5>
          </div>

          <form [formGroup]="registrationForm" [ngClass]="form" (ngSubmit)="onSubmit()">                            
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <input 
                  type="text" 
                  class="form-control" 
                  formControlName="name" 
                  placeholder="Enter Full Name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                  <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Full Name is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <input 
                  type="text" 
                  class="form-control" 
                  formControlName="username" 
                  placeholder="Username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                  <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>

              </div>
              
              <div class="col-md-12">
               <div class="form-group">
                <label class="">who are you?</label>
                <select 
                class="form-control" 
                id="role" 
                [ngClass]="{'is-invalid': submitted && f.role.erorrs}"
                formControlName="role">
                <option *ngFor="let role of roles" [value]="role.alias">{{role.name}}</option>
              </select>
              
            </div>
          </div>


          <div class="col-md-6">
           <div class="input-group">
             <input 
             type="email"  
             formControlName="email" 
             class="form-control" 
             placeholder="Enter Email"
             [ngClass] ="{'is-invalid': submitted && f.email.errors}">
             <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
             <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="input-group">
            <input 
            type="text" 
            formControlName="phone" 
            class="form-control" 
            placeholder="Phone" 
            [ngClass]="{'is-invalid': submitted && f.phone.errors}">
            <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">Phone Number is required</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <input type="password" formControlName="password" class="form-control" placeholder="Enter Password" [ngClass]="{'is-invalid': submitted && f.password.errors}">
            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="input-group">
            <input type="password" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div>
        </div>


        <div class="col-md-12">
          
          <div class="checkbox">
            <input id="terms" type="checkbox" formControlName="acceptTerms">
            <label for="terms">I read and Agree to the <a href="javascript:void(0);">Terms of Usage</a></label>
             <div *ngIf="submitted && f.acceptTerms.errors" class="">
              <small *ngIf="submitted && f.acceptTerms.errors.required" class="text-danger">You must agree to our terms & conditions</small>
          </div>
          </div>

          <div class="footer">
            <button class="btn btn-warning waves-effect btn-round btn-block" [ladda]="loading">SIGN UP</button>
          </div>
        </div>

      </div>                      
    </form>
    <a class="link" [routerLink]="'/login'">You already have a membership?</a>

  </div>
</div>
</div>
</div>
</div>
<div class="footer-text">
  <p>All Rights Reserved.<br/> Startev &copy; 2019</p>
</div>
</div>