<footer class="">
<div class="footy-sec mn no-margin">
	<div class="container">
		<ul>
			<li><a href="#" title="">Help Center</a></li>
			<li><a href="#" title="">Privacy Policy</a></li>
			<li><a href="#" title="">Community Guidelines</a></li>
			<li><a href="#" title="">Cookies Policy</a></li>
			<li><a href="#" title="">Copyright Policy</a></li>
		</ul>
		<p><img src="assets/images/copy-icon2.png" alt="">Copyright {{ copyDate | date:'yyyy' }}</p>
		<span class="fl-rgt"><img class="" src="/assets/logo/logo_.png" width="40" alt=""> Startev</span>
	</div>
</div>
</footer>
