
<header class="sticky-top shadow" *ngIf="!currentUser">
    <div class="container-fluid">
        <div class="header-data">
            <div class="logo">
                <a href="#" title=""><img src="/assets/images/logo_1.png" width="138" alt="Startev"></a>
            </div><!--logo end-->
           
            <nav>
                <ul>
                    <li>
                        <a href="javascript:;" title="">
                            <span>&nbsp;</span>
                            &nbsp;
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>

<main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data mt-4">
            <div class="row">
    	<div class="col-md-12">
    		<div class="card feeds-container mt-5" *ngIf="showCart">
    			<div class="card-header">
    				<h2><strong>Cart</strong> Summary</h2>
    			</div>
    			<div class="card-body">
                        <div class="table-responsive">
                            <table class="table m-b-0 cart-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th data-breakpoints="xs">Amount</th>
                                        <th data-breakpoints="sm xs md">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of cart">
                                        <td><img [src]="checkValue(item.product.images[0],'avatar','null')" width="40" alt="Product img"></td>
                                        <td><strong>{{ item.product.product_name }}</strong></td>
                                       <td>
                                            <div class="quantity-grp">
                                                <div class="input-group">                                    
                                                    <span class="input-group-addon">
                                                        <a [routerLink]="" (click)="decrease(item)" class="spin-down"><i class="fa fa-minus"></i></a>
                                                    </span>

                                                    <input type="text" [readonly]="true" class="form-control text-center" [(ngModel)]="item.quantity">


                                                     <span class="input-group-addon">
                                                        <a (click)="increase(item)" [routerLink]=""  class="spin-up"><i class="fa fa-plus"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>NGN {{ item.amount | number:0 }}</td>
                                        <td>
                                            <button 
                                            (click)="removeFromCart(item)"
                                            type="button" 
                                            class="btn btn-primary btn-icon btn-icon-mini btn-round waves-effect waves-float waves-red"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <!-- if cart is empty -->
                                    <tr *ngIf="count(cart) < 1">
                                        <td colspan="5" class="text-center"><strong>No Item in Your Cart</strong></td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr *ngIf="deliveryFee">
                                        <th colspan="2">Delivery</th>
                                        <th colspan="2">NGN {{ deliveryFee | number:0 }}</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th colspan="2">Subtotal</th>
                                        <th colspan="2">NGN {{ calculateTotal() | number:0 }}</th>
                                        <th></th>
                                    </tr>
                                    <tr *ngIf="grandTotal > 0">
                                        <th colspan="2">Grand Total</th>
                                        <th colspan="2">NGN {{ grandTotal | number:0 }}</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <button *ngIf="count(cart) > 0" (click)="clearCart()" class="btn btn-primary">Clear Cart</button>
    		</div>


    		<div class="card feeds-container mt-5" *ngIf="showCart && count(cart) > 0">
    			<div class="card-header">
    				<h2><strong>Delivery </strong> Details</h2>
    				<div class="card-body mt-3">

                        <div class="form-group">
                            <label>Full Name </label>
                            <input type="text" class="form-control mt-3" style="border-radius: 0 !important" [(ngModel)]="userData.name" placeholder="Your Full Name"/>
                        </div>

                         <div class="form-group">
                            <label>Phone Number: </label>
                            <input type="text" class="form-control mt-3" style="border-radius: 0 !important" [(ngModel)]="userData.phone" placeholder="Your Phone Number"/>
                        </div>

                         <div class="form-group">
                            <label>Email Address </label>
                            <input type="email" class="form-control mt-3" style="border-radius: 0 !important" [(ngModel)]="userData.email" placeholder="Your Email Address"/>
                        </div>

                        <span>Enter Delivery Address</span>
                        <div style="width:100%; z-index:9999 !important;" class="ng-autocomplete mt-3">
                            <ng-autocomplete
                              [(ngModel)]="userData.address"
                              [isLoading]="searching"
                              [searchKeyword]="'name'"
                              [data]="suggestions"
                              (selected)='selectEvent($event)'
                              (inputChanged)='onChangeSearch($event)'
                              [itemTemplate]="itemTemplate"
                              [notFoundTemplate]="notFoundTemplate">                                 
                            </ng-autocomplete>
                             
                            <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                            </ng-template>
                             
                            <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="addressNotFound"></div>
                            </ng-template>
                        </div>
                        <br/>
                        <span *ngIf="addressError" class="text-danger mt-3" [innerHtml]="addressError"></span>

                        <div *ngIf="verifyError" class="notice_bar danger mt-3 shadow text-center">
                            <p class="text-danger">{{ verifyError }}</p>
                        </div>
                        </div>
    				</div>

                    <div *ngIf="showPaymentButton">
                        <div class="form-group" *ngIf="currentUser">
                        <button
                        angular4-paystack
                        [key]="transactionTestKey"
                        [email]="currentUser.email"
                        [amount]="grandTotal+'00'"
                        [ref]="transactionRef.value"
                        (close)="transactionCancelled()"
                        (callback)="transactionSuccessful($event)"
                        [ladda]="processingOrder"
                        type="button"
                        class="btn btn-round btn-primary waves-effect">Pay Now</button>
                    </div>

                    <div class="form-group" *ngIf="!currentUser && count(userData.email) > 0 && count(userData.name) > 0 && count(userData.address) > 0">
                        <button
                        angular4-paystack
                        [key]="transactionTestKey"
                        [email]="userData.email"
                        [amount]="grandTotal+'00'"
                        [ref]="transactionRef.value"
                        (close)="transactionCancelled()"
                        (callback)="transactionSuccessful($event)"
                        [ladda]="processingOrder"
                        type="button"
                        class="btn btn-round btn-primary waves-effect">Pay Now</button>
                    </div>

    			</div>
    		</div>

    		<div id="print-invoice" class="card feeds-container" *ngIf="showMsgBox">
    			<div class="card-header">
    				<h2><strong>Order </strong> Invoice</h2>
    			</div>
    			<div class="card-body" *ngIf="invoice">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6">
                            <address>
                                <strong>Startev Africa.</strong><br>
                                <!-- 15B, Alhaji Hussen,<br>
                                Lekki-Phase 1, NG 23407<br>
                                <abbr title="Phone">P:</abbr> (123) 456-34636 -->
                            </address>
                        </div>

                        <div class="col-md-6 col-sm-6 text-right">
                            <p class="m-b-0"><strong>Order Date: </strong> {{ invoice.order_date.date | date: 'mediumDate' }}</p>
                            <p class="m-b-0"><strong>Order Status: </strong> <span class="badge badge-warning m-b-0">{{ invoice.order_status }}</span></p>
                            <p><strong>Order ID: </strong> #{{ invoice.order_id }}</p>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>                                                        
                                            <th>Item</th>
                                            <th style="width: 50px;">Description</th>
                                            <th>Quantity</th>
                                            <th class="hidden-sm-down">Unit Cost</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of invoice.items; let index = index;">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ item.product_name }}</td>
                                            <td><p [innerHtml]="item.description | excerpt: 80"></p></td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.unit_cost }}</td>
                                            <td>{{ item.total }}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <h5>Note</h5>
                            <p [innerHtml]="invoice.remark"></p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="m-b-0"><b>Sub-total:</b> {{ invoice.sub_total }}</p>                               
                            <h3 class="m-b-0 m-t-10">NGN {{ invoice.total | number:0 }}</h3>
                        </div>                                    
                        <div class="hidden-print col-md-12 text-right">
                            <hr>
                            <button
                            printTitle="Order Invoice: {{ invoice.order_id }}"
                            [useExistingCss]="true"
                            ngxPrint 
                            printSectionId="print-invoice" 
                            class="btn btn-primary btn-round"><i class="fa fa-print"></i></button>
                            <a [routerLink]="['/']" class="btn btn-secondary btn-round">Goto Home</a>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
</div>
</div>
</div>
</main>