<div class="row clearfix">
	<div class="col-md-12">
		<div class="card feeds-container">
			<div class="header">
				<h2><strong>Track </strong> Order</h2>
			</div>
			<div class="body text-center mt-5">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter Order ID" [(ngModel)]="orderId">
				</div>
				<button 
				type="button"
				(click)="trackOrder()"
				[ladda]="tracking"
				class="btn btn-lg btn-warning btn-round waves-effect">Track Order</button>
			</div>
		</div>

		<div class="card feeds-container fadeIn" *ngIf="showNotice">
			<div class="header">
				<h2><strong>Order </strong> Details</h2>
				<button (click)="closeNoticeBox()" class="float-right btn btn-icon btn-icon-mini btn-white btn-round waves-effect">
                    <i class="zmdi zmdi-close 2x"></i>
                </button>
			</div>
			<div class="body mt-3">
				<div class="alert alert-info" *ngIf="noticeMsg" [innerHtml]="noticeMsg"></div>

				<table class="table" *ngIf="count(order) > 0">
					<tr>
						<td>Order Details Found</td>
					</tr>
				</table>
			</div>
			
	</div>
</div>
