<div class="login-6">
    <div class="container">
        <div class="col-md-12 pad-0">
            <div class="row login-box-6">
                <div class="col-lg-5 col-md-12 col-sm-12 col-pad-0 bg-img align-self-center none-992">
                    <div class="row">
                      <div class="col-12">
                        <a href="#">
                        <img src="assets/images/logo-auth.png" class="logo" alt="logo">
                      </a>
                    </div>
                    <div class="col-12">
                      <p>An online community for African students and young graduates to connect, learn,<br/> exchange ideas and launch their entrepreneurial or professional journey</p>
                    <a href="https://startev.africa" target="_self" class="btn-outline">Go Home</a>
                    </div>
                  </div>
                    
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-pad-0 align-self-center">
                    <div class="login-inner-form">
                        <div class="details">
                            <h3>Reset Password</h3>
						<form [formGroup]="resetForm" class="form" (ngSubmit)="onSubmit()">

							<div class="form-group">
								<input type="password" formControlName="password" class="form-control input-text" placeholder="New Password" [ngClass]="{'is-invalid': submitted && f.password.errors}">
								
								<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
									<div *ngIf="f.password.errors.required">Password is required</div>
									<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
								</div>
							</div>
							<div class="form-group">
								<input type="password" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}" formControlName="confirmPassword" class="form-control input-text" placeholder="Confirm Password">
								
								<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
									<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
									<div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
								</div>
							</div>

							<div class="footer">
								<button class="btn-theme btn-md waves-effect btn-block" [ladda]="loading">CHANGE PASSWORD</button>
							</div>
							<div *ngIf="error" class="alert alert-danger">{{error}}</div>                            
						</form>
						<a [routerLink]="['login']" class="btn btn-sm btn-secondary btn-simple btn-round">Go back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-text">
		<p>All Rights Reserved.<br/> Startev &copy; 2019</p>
	</div>
</div>
</div>