<section class="content" [ngClass]="{'zero-margin': progress < 82}">
	<div class="container-fluid">
		<div class="row clearfix m-t-123">
			<div class="col-md-12">
				<div class="card text-white feeds-container" style="margin: 0 !important;">
					<div class="body bg-pink profile-header">
                        <img *ngIf="currentMentor.user.bg_image" [src]="currentMentor.user.bg_image"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-3 m-t--30">
				<div class="card member-card transparent">
                    <div class="member-img">
                        <a href="#" class="">
                        <img src="{{ currentMentor.user.avatar?currentMentor.user.avatar : 'assets/images/default/avatar.jpg' }}" class="user_pic rounded-circle img-raised" alt="profile-image">
                        </a>
                    </div>
                    <div class="body">
                        <div class="col-12">
                        	<h6>{{ currentMentor.user.name | titlecase }}</h6>
                        	<p class="text-muted" *ngIf="currentMentor.roleData.role === 'mentor'">
                        		<strong>{{ currentMentor.roleData.data.current_job_position }}</strong>
                        	</p>
                        	<p class="text-muted" *ngIf="currentMentor.roleData.role === 'business'">
                        		<strong>{{ currentMentor.roleData.data.name }}</strong>
                        	</p>
                        	<p class="text-muted" *ngIf="currentMentor.roleData.role === 'business'">
                        		{{ currentMentor.profile.data.description }}
                        	</p>
                        	<p class="text-muted" *ngIf="currentMentor.roleData.role !== 'business'">
                        		{{ currentMentor.user.bio?currentMentor.user.bio: 'N/A' }}
                        	</p>
                           
                             <p class="text-muted text-left"><i class="icon-pointer"></i> 
                            	 <span *ngIf="currentUser.state"> {{ currentMentor.user.state }}, </span> 
                					{{ currentMentor.user.country? currentMentor.user.country : 'Address not set' }}
                            </p>
                            <p class="text-muted text-left"><i class="icon-link"></i> {{ currentMentor.user.email }}</p>
                            <p class="text-muted text-left"><i class="icon-calendar"></i> {{ currentMentor.user.created_at | date: 'mediumDate' }}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                               <button class="btn btn-primary btn-round wave">Message</button>
                            </div>
                       
                            <div class="col-6">
                                <button class="btn btn-primary btn-round wave">Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6">
				<div class="profile-pane"> 
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item" *ngFor="let tab of profileTabs; let first = first">
					    <a class="nav-link" [class.active]="selectedTab === tab" [attr.data-toggle]="tab" href="javascript:void(0);" (click)="selectedTab = tab" role="tab" [attr.aria-controls]="tab" [attr.aria-selected]="{true: first}">{{ tab|titlecase }} </a>
					  </li>
					</ul>
				</div>
				<div class="row clearfix m-t-20"> 

					<div class="col-sm-12 col-md-12">


					 <div class="tab-content">
                		<div
                		*ngIf="selectedTab === profileTabs[0]" 
                		role="tabpanel" class="tab-pane active" 
                		[class.in]="selectedTab === profileTabs[0]" 
                		id="{{ selectedTab }}">

                			<!-- Tab Contents -->

                				<div class="card feeds-container bg_grey zero-m" *ngIf="profile.followers.length === 0">
				                <div class="body">
				                    <p class="text-center">{{ profile.user.name | titlecase }} have no follower yet.</p>
				                </div>
							</div>
                            <div class="card feeds-container" *ngIf="profile.followers.length > 0">
                                <div class="body">
                                    <ul class="follow_us list-unstyled m-b-0">                            
                                        <li class="online" *ngFor="let user of profile.followers">
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <img 
                                                    class="media-object" 
                                                    src="{{ user.avatar?user.avatar : 'assets/images/default/avatar.jpg'}}" 
                                                    alt="">
                                                    <div class="media-body">
                                                        <span class="name">{{ user.name | titlecase }}</span>
                                                        <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
                                                    </div>
                                                    <div class="float-right">
                                                        <button *ngIf="!isFollowing(user.id)" (click)="followUser(user.id)" class="btn btn-follow waves-effect">
                                                            <fa-icon [icon]="['fas','plus']"></fa-icon> Follow
                                                        </button>
                                                        <button *ngIf="isFollowing(user.id)" (click)="unFollowUser(user.id)" class="btn btn-follow waves-effect">
                                                            <fa-icon [icon]="['fas','plus']"></fa-icon> UnFollow
                                                        </button>
                                                    </div>
                                                </div>
                                            </a>                            
                                        </li>            
                                    </ul>
                                </div>
                            </div>

        				</div>

        			</div>


        			<div class="tab-content">
                		<div
                		*ngIf="selectedTab === profileTabs[1]" 
                		role="tabpanel" class="tab-pane active" 
                		[class.in]="selectedTab === profileTabs[1]" 
                		id="{{ selectedTab }}">

                			<!-- Tab Contents -->

							<div class="card feeds-container bg_grey zero-m" *ngIf="profile.following.length === 0">
				                <div class="body">
				                    <p class="text-center">{{ profile.user.name | titlecase }} is following anyone yet. Perhaps a new guest</p>
				                </div>
							</div>
                            <div class="card feeds-container" *ngIf="profile.following.length > 0">
                                <div class="body">
                                    <ul class="follow_us list-unstyled m-b-0">                            
                                        <li class="online" *ngFor="let user of profile.following">
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <img 
                                                    class="media-object" 
                                                    src="{{ user.avatar?user.avatar : 'assets/images/default/avatar.jpg'}}" 
                                                    alt="">
                                                    <div class="media-body">
                                                        <span class="name">{{ user.name | titlecase }}</span>
                                                        <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
                                                    </div>
                                                    <div class="float-right">
                                                        <button (click)="unFollowUser(user.id)" class="btn btn-follow waves-effect">Unfollow</button>
                                                    </div>
                                                </div>
                                            </a>                            
                                        </li>            
                                    </ul>
                                </div>
                            </div>

							<!--//Tab Contents -->

                		</div>
                	</div>

        		</div>

					

				</div>
			</div>
			<div class="col-md-3 m-t-80 sticky">
				<div class="card feeds-container min-height-400">
					<div class="body">
						<p><strong>Similar Mentors </strong> <span>refresh </span> <span>view all</span></p>
						<ul class="follow_us list-unstyled m-b-0">
	                        <li class="online" *ngFor="let mentor of profile.mentors">
	                            <a [routerLink]="['/mentor',mentor.slug]" *ngIf="mentor.id !== profile.user.id">
	                                <div class="media">
	                                    <img class="media-object " src="{{ mentor.avatar?mentor.avatar : 'assets/images/default/avatar.jpg' }}" alt="">
	                                    <div class="media-body">
	                                        <span class="name">{{ mentor.name | titlecase }}</span>
	                                        <span class="message">{{ echoJobTitle(mentor.mentor, 'mentor') }} </span>
	                                        <span class="badge badge-outline status"></span>
	                                    </div>
	                                </div>
	                            </a>                            
	                        </li>
	                                     
	                    </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>