<main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
              <div class="col-lg-3 col-md-4 pd-left-none no-pd">


                <!-- Left seidebar starts here -->
                <div class="main-left-sidebar no-margin">


                  <!-- user Box Panel -->
                  <div class="user-data full-width feeds-container">
                    <div class="user-profile">
                      <div class="username-dt">
                        <div class="usr-pic">
                          <a [routerLink]="['/profile']">
                            <img src="{{ checkValue(currentUser.avatar,'avatar','assets/images/default/avatar.jpg') }}" alt="">
                          </a>
                        </div>
                      </div><!--username-dt end-->
                      <div class="user-specs">
                        <h3 
                        *ngIf="profileData.role !== 'business'">{{ currentUser.name }}</h3>
                        <div class="" *ngIf="profileData.roleData.verified === 1">
                        <span class="user-badge"><i class="fa fa-check"></i> verified</span>
                        <br/>
                      </div>

                        <br/>
                        <h3 
                        *ngIf="profileData.role === 'business' && profile.roleData.name">{{ profile.roleData.name }}</h3>

                        <span>
                          {{ echoJobTitle(profileData.roleData, profileData.role) }}
                        </span>
                        <br/>
                      

                      </div>
                    </div><!--user-profile end-->
                    <ul class="user-fw-status">
                      <li>
                        <a class="waves-effect" (click)="openFollowings()" [routerLink]="" title="">Following ({{ count(profileData.following) }})</a>
                      </li>
                      <li>
                        <a class="waves-effect" (click)="openFollowers()" [routerLink]="" title="">Followers ({{ count(profileData.followers) }})</a>
                      </li>
                      <li>
                        <a class="waves-effect" [routerLink]="['/profile']" title="">View Profile</a>
                      </li>

                       <li *ngIf="profile.role !== 'student' && profile.role !== 'graduate'">
                         <a 
                           [routerLink]="['/my-publications']" 
                           class="waves-effect">My Publications</a>
                      </li>

                      <li *ngIf="profile.role ==='business'">
                        <a 
                         [routerLink]="['/store-manager']"
                         class="waves-effect"> Open Store Manager</a>
                      </li>

                      <li *ngIf="profile.role ==='student' || profile.role === 'graduate'">
                         <a
                          *ngIf="hasStore"
                          [routerLink]="['/venture-dashboard']" 
                          class="waves-effect">Open Venture Dashboard</a>
                      </li>

                      <li>
                         <a 
                          [routerLink]="['/knowledge-hub']" 
                          class="waves-effect">Access Knowledge Hub</a>
                      </li>
                    </ul>
                  </div>
                  <!--user-data end-->

                    <!-- suggestion widget -->
                    <app-suggestions-widget></app-suggestions-widget>
                    <!--// end suggestions widget --><!-- Advert Widget -->
                  <app-ads-widget-left></app-ads-widget-left>
                  <!--// end advert Widget -->


                </div> <!--// end sidebar -->
              </div>


              <div class="col-lg-6 col-md-8 no-pd">
                <div class="main-ws-sec">
                  <div class="post-topbar feeds-container">
                   <div class="row">
                     <div class="col-2">
                        <div class="user-picy">
                          <img src="{{ checkValue(currentUser.avatar,'avatar','null') }}"
                          class="rounded-circle" 
                          width="40" alt="">
                        </div>
                        
                     </div>
                     <div class="col-8">
                       <button #articlePost (click)="writePost('article')" type="button" class="btn btn-block waves-effect"> Share an update</button>
                     </div>

                     <div class="col-1">
                       <button type="button" #imagePost (click)="writePost('image')" class="btn btn-icon waves-effect  btn-icon-mini btn-round"><i class="fa fa-camera"></i></button>
                     </div>
                     <div class="col-1">
                       <button type="button" (click)="videoPost()" class="btn btn-icon waves-effect  btn-icon-mini btn-round"><i class="la la-video-camera"></i></button>
                     </div>
                   </div>
                  </div><!--post-topbar end-->
				

                <!-- Help Tips Box -->
                  <div class="post-topbar feeds-container" *ngIf="showHelpTip && helpTip" [@fadeAnimation]>
                    <div class="row">
                     <div class="col-12">
                      <h6 class="p-3 apple-font color-blue rigid">{{ helpTip.title }} <span class="float-right small">Help Tips</span></h6>
                        <p class="post-content p-3 color-blue">
                          {{ helpTip.content }}
                        </p>
                        <!-- <a [routerLink]="[helpTip.link]" *ngIf="helpTip" class="btn btn-round btn-sm waves-effect">{{ helpTip.link_text }}</a> -->
                    </div>
                  </div>
                </div>



              <div class="posts-section">


                    <div class="top-profiles" *ngIf="showTopProfiles">
                      <div class="pf-hd">
                        <h3>Top Profiles</h3>
                        
                      </div>
                      <div class="profiles-slider">
                         <ngx-slick-carousel class="carousel" 
                              #slickModal="slick-carousel" 
                              [config]="slideConfig">
                             
                             <div class="user-profy" ngxSlickItem *ngFor="let top of topProfiles">
                               <a class="no-style" [routerLink]="['/general-profile', top.slug]">
                                  <img src="{{ checkValue(top.avatar, 'avatar', 'null') }}" width="50" class="rounded-circle" alt="">
                               </a>
                                <div class="user-prop">
                                  <h3 class="">{{ shortenName( top.name ) | titlecase }}</h3>

                                    <div class="" *ngIf="top.roleData.data.verified === 1">
                                    <span class="user-badge"><i class="fa fa-check"></i> verified</span>
                                    </div>
                                  <span>{{ echoJobTitle(top.roleData.data, top.roleData.role) }}</span>
                                </div>
                                <ul>
                                  <li>
                                    <button *ngIf="!isFollowing(top.id) && top.id !== currentUser.id" (click)="followUser(top.id)" class="btn btn-simple btn-sm waves-effect">
                                        <fa-icon [icon]="['fas','plus']"></fa-icon> Follow
                                    </button>

                                    <button *ngIf="isFollowing(top.id) && top.id !== currentUser.id" (click)="unFollowUser(top.id)" class="btn btn-simple btn-sm waves-effect">
                                        <fa-icon [icon]="['fas','plus']"></fa-icon> UnFollow
                                    </button>

                                    <a [routerLink]="['/profile']" *ngIf="top.id === currentUser.id" class="btn btn-simple btn-sm waves-effect">
                                        <fa-icon [icon]="['fas','eye']"></fa-icon> My profile
                                    </a>  
                                  </li>
                                  <li><a *ngIf="top.id !== currentUser.id" href="javascript:;" (click)="quickMessage(top.id)" 
                                    title="" class="envlp"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                                <a [routerLink]="['/general-profile', top.slug]" title="">View Profile</a>
                              </div><!--user-profy end-->
                          
                      </ngx-slick-carousel>
                      </div><!--profiles-slider end-->
                    </div> 

                    <div class="post-bar feeds-container" *ngFor="let feed of feeds; let index = index">
                      <div class="" [@fadeAnimation]>
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <a [routerLink]="['/general-profile', feed.user.slug]">
                              <img src="{{ checkValue(feed.user.avatar, 'avatar', 'null') }}" width="40" alt="">
                            </a>
                            <div class="usy-name">
                              <h3>{{ feed.user.name }}</h3>
                              <span>
                                <img  src="/assets/images/clock.png" alt="">{{ feed.time | date: 'medium' }}
                              </span>
                            </div>
                          </div>
                          <div class="ed-opts">
                            <button type="button" class="ed-options btn btn-round btn-icon btn-icon-mini btn-white waves-effect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="la la-ellipsis-v"></i></button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <button 
                              class="dropdown-item" 
                              type="button" (click)="hideFeed(feed.id)"> <i class="fa fa-ban"></i> Hide</button>
                              <button 
                              *ngIf="feed.user.id === currentUser.id" 
                              class="dropdown-item" type="button" (click)="editFeed(feed)">  <i class="fa fa-edit"></i> Edit Feed</button>
                              <button 
                              *ngIf="feed.user.id === currentUser.id" 
                              class="dropdown-item" type="button" (click)="deleteFeed(feed)">  <i class="fa fa-trash"></i> Remove</button>
                            </div>
                          
                          </div>
                        </div>

                        <div class="job_descp" *ngIf="count(feed.video) === 0">
                        <!-- <h3>{{ feed.title }}</h3> -->
                        <div class="feed-image" *ngIf="feed.image && !feed.images">
                          <img (click)="openImage(feed)" [src]="checkValue(feed.image, 'avatar', 'null')" class="feed-image-responsive"/>
                        </div>

                        <div class="feed-image" *ngIf="feed.images && !feed.image">
                           <ngx-slick-carousel class="carousel" 
                              #feedSlickModal="slick-carousel" 
                              [config]="feedSlideConfig">
                              <img ngxSlickItem *ngFor="let image of feed.images" (click)="openMultipleImages(feed, feed.title)" [src]="checkValue(image, 'avatar', 'null')" class="feed-image-responsive"/>
                            </ngx-slick-carousel>
                        </div>

                        <p class="post-content" [innerHtml]="feed.content | excerpt: 500"></p>
                          <a *ngIf="isMore(feed.content, 500)" [routerLink]="['/feed', feed.id]" class="btn-sm btn btn-round btn-white">read more</a>
                        </div>

                        <!-- If Video Type -->

                        <div class="job_descp" *ngIf="count(feed.video) > 1">
                          <!-- <h3>{{ feed.title }}</h3> -->

                          <div class="video-container">
                            <video style="width:100%;" controls [poster]="checkVideo(feed.image, 'image')">
                              <source [src]="checkVideo(feed.video, 'video')" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                          </div>
                          
                        </div>



                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a [routerLink]="" (click)="toggleLike(feed.id)" class="like-tc"><i class="la la-heart"></i>     <b *ngIf="feed.hasLiked == '0'">Like</b>
                                <b *ngIf="feed.hasLiked == '1'">Unlike</b>
                            </a>
                            <span>{{ count(feed.likers) }}</span>

                            <a [routerLink]="" (click)="toggleCommentBox(feed.id)" class="comment-tc"><i class="la la-comment-o"></i> Comment {{ count(feed.comments) }}</a>

                            <a [routerLink]="" (click)="openSharingBox(feed)" class="comment-tc"><i class="la la-share"></i>
                            Share</a>

                            <!-- <a [routerLink]="" class="comment-tc"><i class="fa fa-eye"></i>
                            Views (0)</a> -->
                          </li> 
                         
                        </ul>
                        <a><i class="la la-eye"></i>Views {{ feed.views }}</a>
                      </div>

                      <div class="" [@fadeAnimation] *ngIf="showSharingBox && currentShare.id === feed.id">
                        <div class="comment-section feeds-container">
                          <share-buttons [theme]="'circles-light'"
                           [include]="['facebook','twitter','linkedin','reddit','tumblr','whatsapp','email','copy']"
                           [exclude]="['pinterest','mix','vk','messenger','telegram','xing','line','sms','print']"
                           [show]="9"
                           [url]="'https://app.startev.africa/open-feeds/'+feed.id"
                           [autoSetMeta]="false"
                           [title]="feed.title"
                           [description]="feed.title"
                           [image]="shareImage"
                          ></share-buttons>
                        </div>
                      </div>

                      <div class="" [@fadeAnimation] *ngIf="showCommentBox && comment.feedId == feed.id">
                        <div class="comment-section feeds-container">
                        <div class="comment-sec" *ngIf="count(feed.comments) > 0">
                          <ul>
                            
                            <li *ngFor="let comment of feed.comments|orderBy:'id':true">
                              <div class="comment-list">
                                <div class="bg-img">
                                  <img src="{{ checkValue(comment.user.avatar, 'avatar', 'null') }}" alt="{{ comment.user.name }}" width="40" />
                                </div>
                                <div class="comment">
                                  <h3>{{ comment.user.name | titlecase }}</h3>
                                  <span><img src="/assets/images/clock.png" alt=""> {{ comment.created_at | dateAgo }}</span>
                                  <p>{{ comment.comment }}</p>
                                </div>
                              </div><!--comment-list end-->
                            </li>
                          </ul>
                        </div><!--comment-sec end-->
                        <div class="post-comment">
                          <div class="cm_img">
                            <img [src]="checkValue(currentUser.avatar, 'avatar', 'null')" class="rounded-circle" width="35"/>
                          </div>
                          <div class="comment_box">
                              <input 
                              type="text" 
                              placeholder="enter comment..." 
                              class="form-control"
                              (keyup.enter)="submitComment()"
                              [(ngModel)]="comment.text">
                          </div>
                          <div class="comment-action">
                            <button class="btn btn-primary waves-effect btn-round" type="button" (click)="submitComment()">Send</button>
                          </div>
                        </div><!--post-comment end-->
                      </div>

                      </div>

                    </div>
                  </div>

                  <div class="process-comm" *ngIf="hasMoreFeeds">
                      <div infiniteScroll
                      [infiniteScrollDistance]="2"
                      [infiniteScrollThrottle]="5"
                      [infiniteScrollDisabled] = "haltInfiniteScroll"
                      (scrolled)="onLoadMore()"><img src="/assets/images/process-icon.png" alt=""></div>
                  </div>
                  <!--process-comm end-->

                </div>
              </div>
            </div>

              <div class="col-lg-3 pd-right-none no-pd">
                <div class="right-sidebar">

                  <!-- Career Fields Widget -->
                  <app-career-fields></app-career-fields>

                  <!-- Advert Widget -->
                  <app-ads-widget></app-ads-widget>
                  <!--// end advert Widget -->
                 
                  <!-- Featured Mentors -->
                  <app-mentors-widget></app-mentors-widget>


                  <!-- New Sign ups -->
                  <app-sign-ups-widget></app-sign-ups-widget>

                  <!-- Footer Widget -->
                  <app-footer-widget></app-footer-widget>

                </div><!--right-sidebar end-->
              </div>

            </div>


          </div>

        </div>

      </div>
    </main>



      <!---------------------------------- TEXT POST MODAL -------------------------- -->

      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #articlePostModal id="articlePostModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
            <img [src]="checkValue(currentUser.avatar, 'avatar', 'null')" class="rounded-circle img-raised img-border" height="45" width="45" />
          </div>
          <div class="modal-body"> 
            <br/>
           <!--  <div class="form-group">
              <input type="text" placeholder="enter a topic..." class="form-control" [(ngModel)]="title">
            </div> -->
             <div class="">
               <quill-editor 
               [modules]="editorConfig"
               [placeholder]="'type something cool'"
               [(ngModel)]="content">
               </quill-editor>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" [ladda]="feedActivity" (click)="submitArticlePost()" class="btn btn-sm btn-primary waves-effect">Publish</button>
            <button (click)="closeModal('articlePostModal')" type="button" class="btn btn-sm btn-primary waves-effect">Close</button>
          </div>
        </div>
      </div>
    </div>


          <!---------------------------------- EDIT POST MODAL -------------------------- -->

      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #editPostModal id="editPostModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
            <img [src]="checkValue(currentUser.avatar, 'avatar', 'null')" class="rounded-circle img-raised img-border" height="45" width="45" />
          </div>
          <div class="modal-body"> 
            <br/>
             <div class="">
               <quill-editor 
               [modules]="editorConfig"
               [placeholder]="'type something cool'"
               [(ngModel)]="editContent">
               </quill-editor>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" [ladda]="feedActivity" (click)="updateFeed()" class="btn btn-sm btn-primary waves-effect">Update</button>
            <button (click)="closeModal('editPostModal')" type="button" class="btn btn-sm btn-primary waves-effect">Close</button>
          </div>
        </div>
      </div>
    </div>

      <!------------------------------------- IMAGE POST MODAL ------------------------------ -->

      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #imagePostModal id="imagePostModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
                <h6 class="title" [ngStyle]="{'font-weight': '400', 'text-transform':'lowercase'}">
               </h6>
               <img [src]="checkValue(currentUser.avatar,'avatar','null')" class="rounded-circle img-raised img-border" height="45" width="45" />
             </div>
             <div class="modal-body"> 
              <br/>
              <div class="form-group text-center">
                <label for="file-upload" class="custom-file-upload waves-effect">
                    <i class="fa fa-cloud-upload"></i> Upload Images
                </label>
                <input id="file-upload" type="file" multiple (change)="processPostImage(postImage)" #postImage/>
                
              </div>
              <!-- <div class="form-group">
                <input type="text" placeholder="enter a topic..." class="form-control" [(ngModel)]="title">
              </div> -->
              <div class="form-group">
               
                <div class="">
                 <quill-editor 
                   [modules]="editorConfig"
                   [(ngModel)]="content">
                  </quill-editor>
               </div>
              </div>

            </div>
            <div class="modal-footer">
              <div class="float-left modal-image-container">
                <div class="" *ngIf="isImage">
                  <img *ngFor="let image of processedImages"  [src]="image" alt="" class="img-raised" height="50" width="58">
                </div>
                
              </div>
              <button type="button" [ladda]="feedActivity" (click)="submitImagePost()" class="btn btn-sm btn-primary waves-effect">Publish</button>
              <button (click)="closeModal('imagePostModal')" type="button" class="btn btn-sm btn-primary waves-effect">Close</button>
            </div>
          </div>
        </div>
      </div>


      <!----------------------------------------- Video Post MODAL ----------------------------- -->

      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #videoPostModal id="videoPostModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
                <h6 class="title" [ngStyle]="{'font-weight': '400', 'text-transform':'lowercase'}">
               </h6>
               <img [src]="checkValue(currentUser.avatar,'avatar','null')" class="rounded-circle img-raised img-border" height="45" width="45" />
             </div>
             <div class="modal-body"> 
              <br/>

              <div *ngIf="videoUpload.status==='error'">
                <div [innerHTML]="videoUpload.message"></div>
            </div>

              <form [formGroup] = "videoForm" (ngSubmit)="onVideoSubmit()">
              <!-- <div class="form-group">
                <input type="text" placeholder="heading..." class="form-control" formControlName="title">
              </div> -->

               <div class="form-group text-center">
                 <label for="video-upload" class="custom-file-upload waves-effect">
                    <i class="fa fa-cloud-upload"></i> Select Video
                </label>
                <input id="video-upload" type="file" (change)="onSelectedVideo($event)"/>
                <br/>
                <span *ngIf="videoSelected" class="text-success">Video selected</span>
              </div>
              <div *ngIf="videoUpload.status==='progress'">
                    <div class="progress" style="height: 20px;margin-bottom:20px; margin-top:20px;">
                      <div class="progress-bar" role="progressbar" [style.width.%]="videoUpload.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{videoUpload.message}}%</div>
                    </div>
                </div>

              <div class="form-group text-center">
                <button type="submit" [ladda]="feedActivity" class="btn btn-primary btn-sm">Submit</button>
              </div>
            </form>

            <div *ngIf="videoUpload.status==='success'">
              <img [src]="videoUpload.filePath" height="200px" />
            </div>

            </div>
            <div class="modal-footer">
              <div class="float-left modal-image-container">
                <div class="" *ngIf="isImage">
                  <img *ngFor="let image of processedImages"  [src]="image" alt="" class="img-raised" height="50" width="58">
                </div>
                
              </div>
              <button (click)="closeModal('videoPostModal')" type="button" class="btn btn-sm btn-simple waves-effect">Close</button>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #followingsModal id="followingsModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
                <h6 class="title" [ngStyle]="{'font-weight': '400', 'text-transform':'lowercase'}">
               </h6>
               <img [src]="checkValue(currentUser.avatar, 'avatar', 'null')" class="rounded-circle img-raised img-border" height="45" width="45" />
             </div>
             <div class="modal-body mt-3">
                    <div class="suggestions-list bg-white" *ngIf="count(profileData.following) > 0">
                        <h4 class="mb-2 text-center">Followings</h4>

                      <div class="suggestion-usd" *ngFor="let user of profileData.following">
                        <img src="{{ checkValue(user.avatar, 'avatar', 'null') }}" alt="user.name" width="40">
                        <div class="sgt-text">
                              <h4>{{ user.name | titlecase }}</h4>
                              <div class="media-body">
                                <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
                            </div>
                        </div>

                        
                             <a [routerLink]=""
                            *ngIf="!isFollowing(user.id) && currentUser.id !== user.id" 
                            (click)="followUser(user.id)" 
                            class="waves-effect">
                            <span><i class="la la-plus"></i></span>
                            </a>

                            <a [routerLink]="" 
                            *ngIf="isFollowing(user.id) && currentUser.id !== user.id" 
                            (click)="unFollowUser(user.id)"
                            class="waves-effect">
                            <span><i class="la la-minus"></i></span>
                            </a>
                        

                        <a [routerLink]="['/general-profile', user.slug]"><span><i class="la la-eye"></i></span></a>

                    </div>


                </div>
             </div>
             <div class="modal-footer">
              <button (click)="closeModal('followingsModal')" type="button" class="btn btn-sm btn-simple waves-effect">Close</button>
            </div>

            </div>
        </div>
      </div>


      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #followersModal id="followersModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
                <h6 class="title" [ngStyle]="{'font-weight': '400', 'text-transform':'lowercase'}">
               </h6>
               <img [src]="checkValue(currentUser.avatar, 'avatar', 'null')" class="rounded-circle img-raised img-border" height="45" width="45" />
             </div>
             <div class="modal-body mt-3">
                  <div class="suggestions-list bg-white" *ngIf="count(profileData.followers) > 0">
                        <h4 class="mb-2 text-center">Followings</h4>

                      <div class="suggestion-usd" *ngFor="let user of profileData.followers">
                        <img src="{{ checkValue(user.avatar, 'avatar', 'null') }}" alt="user.name" width="40">
                        <div class="sgt-text">
                              <h4>{{ user.name | titlecase }}</h4>
                              <div class="media-body">
                                <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
                            </div>
                        </div>

                        
                             <a [routerLink]=""
                            *ngIf="!isFollowing(user.id) && currentUser.id !== user.id" 
                            (click)="followUser(user.id)" 
                            class="waves-effect">
                            <span><i class="la la-plus"></i></span>
                            </a>

                            <a [routerLink]="" 
                            *ngIf="isFollowing(user.id) && currentUser.id !== user.id" 
                            (click)="unFollowUser(user.id)"
                            class="waves-effect">
                            <span><i class="la la-minus"></i></span>
                            </a>
                        

                        <a [routerLink]="['/general-profile', user.slug]"><span><i class="la la-eye"></i></span></a>

                    </div>


                </div>
             </div>
             <div class="modal-footer">
              <button (click)="closeModal('followersModal')" type="button" class="btn btn-sm btn-simple waves-effect">Close</button>
            </div>

            </div>
        </div>
      </div>




      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #quickMessageModal id="quickMessageModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
                <h6 class="title" [ngStyle]="{'font-weight': '400', 'text-transform':'lowercase'}">
               </h6>
               <img [src]="checkValue(currentUser.avatar,'avatar','null')" class="rounded-circle img-raised img-border" height="45" width="45" />
             </div>
             <div class="modal-body"> 
              <div class="form-group mt-4">
                <textarea placeholder="Type your message..." rows="4" class="form-control" [(ngModel)]="quickMessageContent"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" [ladda]="sendingQuickMessage" (click)="submitQuickMessage()" class="btn btn-sm btn-primary waves-effect">Send</button>
              <button (click)="closeQuickModal('quickMessageModal')" type="button" class="btn btn-sm btn-primary waves-effect">Close</button>
            </div>
          </div>
        </div>
      </div>
