<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container">
		<div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">
			<div class="col-sm-12 col-md-12 col-lg-3 sticky">
				<div class="card member-card feeds-container fadeIn">
          <div *ngIf="currentUser.bg_image" class="header" [ngStyle]="{'background-image': 'url('+currentUser.bg_image+')', 'background-position': 'center top'}">
            <!-- <h4 class="m-t-10">{{ currentUser.name }}</h4> -->
            &nbsp;
          </div>


          <div *ngIf="!currentUser.bg_image" class="header bg-pink">
            <!-- <h4 class="m-t-10">{{ currentUser.name }}</h4> -->
            &nbsp;
          </div>

          <div class="member-img">

            <a href="#" class="">
              <img src="{{ checkValue(currentUser.avatar,'avatar','assets/images/default/avatar.jpg') }}" class="rounded-circle" alt="profile-image">
            </a>
          </div>
          <div class="body">

            <div class="row">
              <!-- Publish to knowledge hub for Business Entity & Mentors -->
              <div class="col-md-12 zero-m">
               <div *ngIf="profile.role ==='business'">
                 <a 
                 [routerLink]="['/store-manager']"
                 class="btn btn-info btn-block waves-effect p-2"> Open Store Manager</a>
               </div>

               <div *ngIf="profile.role !== 'student'">
                  <a 
                 [routerLink]="['/publish-to-hub']" 
                 class="btn btn-info btn-block waves-effect p-2">Publish To Knowledge Hub</a>
               </div>
             </div>

             <div class="col-md-12 zero-m">
               <!-- Direct Access Hub For Students -->
               <div *ngIf="profile.role ==='student'">
                <!-- if user has at least a partner, activate venture dashboard -->
                <a
                *ngIf="hasStore"
                [routerLink]="['/venture-dashboard']" 
                class="btn btn-info btn-block waves-effect p-2">Open Venture Dashboard</a>

                <a 
                [routerLink]="['/knowledge-hub']" 
                class="btn btn-info btn-block waves-effect p-2">Access Knowledge Hub</a>
              </div>
            </div>

            <!-- View approved partnerships -->
            <div class="col-md-12 zero-m">
             <a 
             [routerLink]="['/profile']"  
             class="btn btn-warning btn-block waves-effect p-2">View Partnership Profile</a>
           </div>

         </div>
       </div>
     </div>
   </div>

   <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="row clearfix">
					<!-- <div class="col-sm-12 col-md-12">
						<div class="card feeds-container">
		                    <div class="body">
		                    	<div class="chat">
			                        <div class="chat-header clearfix zero-m">
			                            <div class="row zero-m">
			                                <div class="col-lg-6 col-sm-12">
			                                  <h5> Write an article</h5>
			                                </div>
			                                <div class="col-lg-6 col-sm-12 text-right">
			                                    <button class="btn btn-white btn-icon waves-effect  btn-icon-mini btn-round"><i class="icon-camera"></i></button>
			                                    <button class="btn btn-white btn-icon waves-effect  btn-icon-mini btn-round"><i class="icon-camcorder"></i></button>
			                                    <button class="btn btn-white btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-link"></i></button>
			                                    <button class="btn btn-white btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-settings"></i></button>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="chat-history zero-m">
			                            <div class="form-group">
			                            	<textarea [(ngModel)]="content" rows="3" class="form-control"></textarea>
			                            </div>
			                        </div>
			                        <div class=" zero-m clearfix">
			                           <button type="button" (click)="submitPost()" class="btn btn-warning btn-round waves-effect"><i class="zmdi zmdi-favorite-outline6"></i> Post</button>
			                        </div>
			                    </div>
		                    </div>
		                </div>
                 </div> -->
                 <div class="col-sm-12 col-md-12">
                  <div class="card feeds-container fadeIn">
                    <div class="body zero-m">
                      <div class="row zero-m justify-content-md-center">
                        <div class="col-10">
                          <button #articlePost (click)="writePost('article')" type="button" class="btn btn-white btn-block waves-effect"> Share an update</button>
                        </div>
                        <div class="col-2">
                          <button type="button" #imagePost (click)="writePost('image')" class="btn btn-white btn-icon waves-effect  btn-icon-mini btn-round"><i class="icon-camera"></i></button>

                          <!-- <button type="button" #videoPost (click)="writePost('video')" class="btn btn-white btn-icon waves-effect  btn-icon-mini btn-round"><i class="icon-camcorder"></i></button>

                          <button type="button" class="btn btn-white btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-settings"></i></button> -->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Help Tips Box -->
                <div class="col-sm-12 col-md-12">
                  <div class="card feeds-container" *ngIf="showHelpTip && helpTip" [@fadeAnimation]>
                    <div class="body chat post-container">
                     <div class="bg_grey">
                      <h6 class="p-3 apple-font color-blue rigid">{{ helpTip.title }} <span class="float-right small">Help Tips</span></h6>
                    </div>
                    <div class="post-feed-inner">
                      <div class="" class="">
                        <p class="post-content p-3 color-blue">
                          {{ helpTip.content }}
                        </p>
                        <a [routerLink]="[helpTip.link]" *ngIf="helpTip" class="btn btn-round btn-sm waves-effect">{{ helpTip.link_text }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-12" *ngFor="let feed of feeds">
                <div class="card feeds-container" *ngIf="feed.postType === 'post'" [@fadeAnimation]>
                  <div class="body chat post-container">
                    <div class="chat-header clearfix post-feed-header">
                      <div class="row">
                        <div class="col-lg-12 zero-margin">
                          <a [routerLink]="['/general-profile', feed.user.slug]">
                            <img src="{{ checkValue(feed.user.avatar, 'avatar', 'null') }}" class="img-raised" alt="avatar"></a>
                          <div class="chat-about feed-meta">
                            <a [routerLink]="['/general-profile', feed.user.slug]">
                              <h6 class="m-b-0 feed-user">{{ feed.user.name }}</h6></a>
                            <small class="feed-title">{{ feed.title }}</small><br/>
                            <small class="feed-time">{{ feed.createdAt | date: 'medium' }}</small>
                          </div>

                          <button 
                          data-toggle="dropdown"
                          [attr.aria-haspopup]="true"
                          [attr.aria-expanded]="false"
                          class="float-right btn btn-white btn-icon waves-effect btn-icon-mini btn-round">
                          <fa-icon [icon]="['fas','ellipsis-h']" size="lg"></fa-icon>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li>
                            <a [routerLink]="" (click)="hideFeed(feed.id)">
                              <fa-icon [icon]="['fas','tag']"></fa-icon>
                              <span class="pl-1 dropdown-link">Hide this post</span>
                            </a>
                          </li>
                              <li>
                                <a *ngIf="feed.user.id === currentUser.id" [routerLink]="" (click)="deleteFeed(feed)">
                                    <fa-icon [icon]="['fas','trash']"></fa-icon>
                                    <span class="pl-1 dropdown-link">Delete Feed</span>
                                </a>
                              </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="post-feed-inner bg_grey">
                          <div class="" class="p-3">
                            <p class="post-content" [innerHtml]="feed.content | linkify | excerpt: 257 : feed.title">
                            </p>
                             <a *ngIf="isMore(feed.content, 257)" [routerLink]="['/feed', feed.id]" class="btn btn-link read-more waves-effect pb-3">read more</a>
                          </div>
                        </div>

                        <!-- Post Type Like Box -->
                        <div class="" [@enterAnimation] *ngIf="count(feed.likers) > 0 || count(feed.comments) > 0">
                          <div class="row clearfix zero-m">
                            <div class="col-4 p-2">
                              <fa-icon [icon]="['fas','thumbs-up']" [ngStyle]="{'color':'#0073B1'}"></fa-icon>
                              <span class="pl-2">
                                {{ count(feed.likers) }}
                                <em *ngIf="count(feed.likers) > 1">likes</em>
                                <em *ngIf="count(feed.likers) <= 1">like</em>
                              </span>
                            </div>
                            <div class="col-8 negative-margin-30 p-2">
                              <fa-icon [icon]="['fas','comment']" [ngStyle]="{'color':'#0073B1'}"></fa-icon>
                              <span class="pl-2">
                                {{ count(feed.comments) }} 
                                <em *ngIf="count(feed.comments) > 1">comments</em>
                                <em *ngIf="count(feed.comments) <= 1">comment</em>
                              </span>
                            </div>
                            <div class="p-1"></div>
                            <!-- <div class="col-1"></div> -->
                          </div>
                          <div class="border"></div>
                        </div>

                        <!-- Post Type Reaction Box -->
                        <div class="">
                         <div class="row clearfix zero-m">
                          <div class="col-12 pl-2">
                            <button 
                            (click)="toggleLike(feed.id)" 
                            [ngClass]="{'liked': feed.hasLiked}"
                            class="btn btn-white btn-icon  btn-icon-mini btn-round">
                            <i class="icon-like"></i>
                          </button>

                          <button 
                          (click)="toggleCommentBox(feed.id)" 
                          class="btn btn-white btn-icon  btn-icon-mini btn-round">
                          <i class="icon-speech"></i>
                        </button>

                        <!-- <button class="btn btn-white btn-icon  btn-icon-mini btn-round"><i class="icon-action-redo"></i></button> -->
                      </div>
                    </div>
                    <div class="border" *ngIf="showCommentBox && comment.feedId == feed.id"></div>
                  </div>

                  <!-- Post Type Comment Box -->
                  <div class="" [@fadeAnimation] *ngIf="showCommentBox && comment.feedId == feed.id">
                    <div class="row clearfix m-1">
                      <div class="col-1 pt-2" style="margin:0 !important; padding-right: 0 !important; padding-left:0 !important;">
                        <img [src]="currentUser.avatar" class="rounded-circle" height="40" width="40"/>
                      </div>
                      <div class="col-11 pt-2">

                        <div class="input-group">
                          <input 
                          type="text" 
                          placeholder="enter comment..." 
                          class="form-control"
                          (keyup.enter)="submitComment()"
                          [(ngModel)]="comment.text">
                          <span class="input-group-addon pointer-move" (click)="submitComment()">
                            <i class="zmdi zmdi-mail-send"></i>
                          </span>
                        </div>

                      </div>
                    </div>

                    <!-- Comments -->
                    <div class="row clearfix" *ngIf="count(feed.comments) > 0">
                      <div class="col-12 ml-4 p-2">
                       <ul class="chat-widget m-r-2 clearfix">
                        <li class="left float-left" *ngFor="let comment of feed.comments|orderBy:'id':true">
                         <a [routerLink]="['/general-profile', comment.user.slug]">
                          <img 
                          src="{{ checkValue(comment.user.avatar, 'avatar', 'null') }}" 
                          class="rounded-circle" alt=""></a>
                          <div class="chat-info">
                            <span class="message">
                              {{ comment.comment }}
                              <em class="text-muted comment-time">{{ comment.created_at | dateAgo }}</em>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>


              </div>
            </div>
            <div class="card feeds-container min-height-400 fadeIn" *ngIf="feed.postType === 'picture'">
              <div class="body chat post-container">
               <div class="chat-header clearfix post-feed-header">
                <div class="row">
                  <div class="col-lg-12 zero-margin">
                    <a [routerLink]="['/general-profile', feed.user.slug]">
                      <img src="{{ checkValue(feed.user.avatar, 'avatar', 'null') }}" class="img-raised" alt="avatar"></a>
                    <div class="chat-about feed-meta">
                      <a [routerLink]="['/general-profile', feed.user.slug]">
                        <h6 class="m-b-0 feed-user">{{ feed.user.name }}</h6>
                      </a>
                      <small class="feed-title">{{ feed.title }}</small><br/>
                      <small class="feed-time">{{ feed.createdAt | date: 'medium' }}</small>
                    </div>

                    <button 
                    data-toggle="dropdown"
                    [attr.aria-haspopup]="true"
                    [attr.aria-expanded]="false"
                    class="float-right btn btn-white btn-icon waves-effect btn-icon-mini btn-round">
                    <fa-icon [icon]="['fas','ellipsis-h']" size="lg"></fa-icon>
                  </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li>
                            <a [routerLink]="" (click)="hideFeed(feed.id)">
                              <fa-icon [icon]="['fas','tag']"></fa-icon>
                              <span class="pl-1 dropdown-link">Hide this post</span>
                            </a>
                          </li>
                            <li>
                                <a *ngIf="feed.user.id === currentUser.id" [routerLink]="" (click)="deleteFeed(feed)">
                                    <fa-icon [icon]="['fas','trash']"></fa-icon>
                                    <span class="pl-1 dropdown-link">Delete Feed</span>
                                </a>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>
                      <div class="post-feed-inner bg_grey">
                        <div class="" class="">
                         <!--  <cl-image
                            public-id={{feed.image}}
                            class="thumbnail inline" 
                            format="jpg">
                        </cl-image> -->
                          <img [src]="feed.image" alt="" [ngStyle]="{'height': '350px','width':'100%'}"/>
                        </div>
                      </div>
                      <div class="post-feed-inner bg_grey">
                       <p class="post-content p-3">{{ feed.content | excerpt: 137 }}
                        <a *ngIf="isMore(feed.content, 137)" [routerLink]="['/feed', feed.id]" class="btn btn-link read-more waves-effect">read more</a>
                      </p>

                    </div>


                    <!-- Post Type Like Box -->
                      <div class="" [@enterAnimation] *ngIf="count(feed.likers) > 0 || count(feed.comments) > 0">
                        <div class="row clearfix zero-m">
                          <div class="col-4 p-2">
                            <fa-icon [icon]="['fas','thumbs-up']" [ngStyle]="{'color':'#0073B1'}"></fa-icon>
                            <span class="pl-2">
                              {{ count(feed.likers) }}
                              <em *ngIf="count(feed.likers) > 1">likes</em>
                              <em *ngIf="count(feed.likers) <= 1">like</em>
                            </span>
                          </div>
                          <div class="col-8 negative-margin-30 p-2">
                            <fa-icon [icon]="['fas','comment']" [ngStyle]="{'color':'#0073B1'}"></fa-icon>
                            <span class="pl-2">
                              {{ count(feed.comments) }} 
                              <em *ngIf="count(feed.comments) > 1">comments</em>
                              <em *ngIf="count(feed.comments) <= 1">comment</em>
                            </span>
                          </div>
                          <div class="p-1"></div>
                          <!-- <div class="col-1"></div> -->
                        </div>
                        <div class="border"></div>
                      </div>



                    <!-- Picture Post Type Reaction Box -->
                    <div class="">
                     <div class="row zero-m">
                      <div class="col-lg-12 pl-2">
                        <button 
                        (click)="toggleLike(feed.id)"
                        [ngClass]="{'liked': feed.hasLiked}"
                        class="btn btn-white btn-icon  btn-icon-mini btn-round">
                        <i class="icon-like"></i>
                      </button>

                      <button 
                      (click)="toggleCommentBox(feed.id)" 
                      class="btn btn-white btn-icon  btn-icon-mini btn-round">
                      <i class="icon-speech"></i>
                    </button>

                    <!-- <button class="btn btn-white btn-icon  btn-icon-mini btn-round"><i class="icon-action-redo"></i></button> -->
                  </div>
                </div>
                <div class="border" *ngIf="showCommentBox && comment.feedId == feed.id"></div>
              </div>

              <!-- Picture Post Type Comment Box -->
              <div class="" [@fadeAnimation] *ngIf="showCommentBox && comment.feedId == feed.id">
                <div class="row clearfix m-1">
                  <div class="col-1 pt-2"  style="margin:0 !important; padding-right: 0 !important; padding-left:0 !important;">
                    <img src="{{ checkValue(currentUser.avatar, 'avatar', 'null') }}" class="rounded-circle" height="40" width="40"/>
                  </div>
                  <div class="col-11 pt-2">

                    <div class="input-group">
                      <input 
                      type="text" 
                      placeholder="enter comment..." 
                      class="form-control"
                      (keyup.enter)="submitComment()"
                      [(ngModel)]="comment.text">
                      <span class="input-group-addon pointer-move" (click)="submitComment()">
                        <i class="zmdi zmdi-mail-send"></i>
                      </span>
                    </div>

                  </div>
                </div>

                <!-- Comments -->
                <div class="row clearfix" *ngIf="count(feed.comments) > 0">
                  <div class="col-12 ml-4 p-2">
                   <ul class="chat-widget m-r-2 clearfix">
                    <li class="left float-left" *ngFor="let comment of feed.comments|orderBy:'id':true">
                     <a [routerLink]="['/general-profile', comment.user.slug]">
                      <img 
                      src="{{ checkValue(comment.user.avatar, 'avatar', 'null') }}" 
                      class="rounded-circle" alt=""></a>
                      <div class="chat-info">
                        <span class="message">
                          {{ comment.comment }}
                          <em class="text-muted comment-time">{{ comment.created_at | dateAgo }}</em>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>

            <!--// Reaction Box ends -->

          </div>
        </div>

        <div class="card feeds-container min-height-400" *ngIf="feed.postType === 'video'">
          <div class="body chat">
            <div class="chat-header clearfix post-feed-header">
              <div class="row">
                <div class="col-lg-12 zero-margin">
                  <img [src]="feed.user.avatar" alt="avatar">
                  <div class="chat-about feed-meta">
                    <h6 class="m-b-0 feed-user">{{ feed.user.name }}</h6>
                    <small class="feed-title">{{ feed.title }}</small><br/>
                    <small class="feed-time">{{ feed.createdAt | date: 'medium' }}</small>
                  </div>

                  <button 
                  data-toggle="dropdown"
                  [attr.aria-haspopup]="true"
                  [attr.aria-expanded]="false"
                  class="float-right btn btn-white btn-icon waves-effect btn-icon-mini btn-round">
                  <fa-icon [icon]="['fas','ellipsis-h']" size="lg"></fa-icon>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a [routerLink]="">
                      <fa-icon [icon]="['fas','tag']"></fa-icon>
                      <span class="pl-1 dropdown-link">Hide this post</span>
                    </a>
                  </li>
                             <li>
                                <a *ngIf="feed.user.id === currentUser.id" [routerLink]="" (click)="deleteFeed(feed)">
                                    <fa-icon [icon]="['fas','trash']"></fa-icon>
                                    <span class="pl-1 dropdown-link">Delete Feed</span>
                                </a>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>
                      <div class="pb-2 video-player">

                      </div>
                      <div class="">
                        <div class="row">
                          <div class="col-lg-6">
                            <p class="text-muted pt-3">26 Likes | 8 Comment</p>
                          </div>
                          <div class="col-lg-6 text-right">
                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-like"></i></button>
                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-speech"></i></button>
                            <!--  <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-action-redo"></i></button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="row clearfix">
                <div class="col-md-12">
                  <app-follow></app-follow>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <!-- Modal Section -->
      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #articlePostModal id="articlePostModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
            <img [src]="currentUser.avatar" class="rounded-circle img-raised img-border" height="45" width="45" />
          </div>
          <div class="modal-body"> 
            <br/>
            <div class="form-group">
              <input type="text" placeholder="enter a topic..." class="form-control" [(ngModel)]="title">
            </div>
            <div class="form-group">
              <textarea [(ngModel)]="content" rows="4" class="form-control" placeholder="What do you want to talk about"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="submitArticlePost()" class="btn btn-sm btn-warning waves-effect">Publish</button>
            <button (click)="closeModal('articlePostModal')" type="button" class="btn btn-sm btn-danger waves-effect">Close</button>
          </div>
        </div>
      </div>
    </div>


      <div class="modal fade" [ngStyle]="{'z-index':'9999'}" #imagePostModal id="imagePostModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div  class="modal-header custom-modal-header" 
            [ngStyle]="{'margin-top': 0, 'padding': '9px', 'text-align': 'center'}">
               <!--  <h6 class="title" [ngStyle]="{'font-weight': '400', 'text-transform':'lowercase'}">
               </h6> -->
               <img [src]="currentUser.avatar" class="rounded-circle img-raised img-border" height="45" width="45" />
             </div>
             <div class="modal-body"> 
              <br/>
              <div class="form-group text-center">
                <input
                type="file" 
                name="file" 
                id="file" 
                (change)="processPostImage(postImage)" 
                class="inputfile" #postImage/>
                <label for="file" class="waves-effect"><i class="icon-camera"></i></label>
              </div>
              <div class="form-group">
                <input type="text" placeholder="enter a topic..." class="form-control" [(ngModel)]="title">
              </div>
              <div class="form-group">
                <textarea [(ngModel)]="content" rows="4" class="form-control" placeholder="What do you want to talk about"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <div class="float-left">
                <img *ngIf="isImage" [src]="processedImage" alt="" class="img-raised" height="50" width="50">
              </div>
              <button type="button" (click)="submitImagePost()" class="btn btn-sm btn-warning waves-effect">Publish</button>
              <button (click)="closeModal('imagePostModal')" type="button" class="btn btn-sm btn-danger waves-effect">Close</button>
            </div>
          </div>
        </div>
      </div>