<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container">
		<div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">
			<div class="col-sm-12 col-md-12 col-lg-3 sticky">
				<div class="card member-card">
                    <div class="header" [ngStyle]="{'background-image': 'url('+currentUser.bg_image+')', 'background-position': 'center top'}">
                        <!-- <h4 class="m-t-10">{{ currentUser.name }}</h4> -->
                        &nbsp;
                    </div>
                    <div class="member-img">
                        <a href="#" class="">
                        <img src="{{ currentUser.avatar?currentUser.avatar : 'assets/images/default/avatar.jpg' }}" class="rounded-circle" alt="profile-image">
                        </a>
                    </div>
                    <div class="body">
                        <div class="col-12">
                            <p class="text-muted"> <span *ngIf="currentUser.state">{{ currentUser.state }}, 
                            </span> {{ currentUser.country? currentUser.country : 'Address not set' }}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <h5 class="m-b-0">0</h5>
                                <small>Trainers</small>
                            </div>
                            <div class="col-4">
                                <h5 class="m-b-0">0</h5>
                                <small>Connection</small>
                            </div>
                            <div class="col-4">
                                <h5 class="m-b-0">0</h5>
                                <small>Mentors</small>
                            </div>
                        </div>
                    </div>
                </div>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="row clearfix">
					<div class="col-sm-12 col-md-12">
						<div class="card feeds-container">
		                    <div class="body">
		                    	<div class="chat">
			                        <div class="chat-header clearfix">
			                            <div class="row">
			                                <div class="col-lg-6">
			                                  <h5> Write an article</h5>
			                                </div>
			                                <div class="col-lg-6 text-right">
			                                    <button class="btn btn-warning btn-icon waves-effect  btn-icon-mini btn-round"><i class="icon-camera"></i></button>
			                                    <button class="btn btn-warning btn-icon waves-effect  btn-icon-mini btn-round"><i class="icon-camcorder"></i></button>
			                                    <button class="btn btn-warning btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-settings"></i></button>
			                                    <button class="btn btn-warning btn-icon waves-effect btn-icon-mini btn-round"><i class="icon-question"></i></button>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="chat-history">
			                            <div class="form-group">
			                            	<textarea [(ngModel)]="content" rows="3" class="form-control"></textarea>
			                            </div>
			                        </div>
			                        <div class="clearfix">
			                           <button type="button" (click)="submitPost()" class="btn btn-warning btn-round waves-effect"><i class="zmdi zmdi-favorite-outline6"></i> Post</button>
			                        </div>
			                    </div>
		                    </div>
		                </div>
					</div>

					<div class="col-sm-12 col-md-12" *ngFor="let feed of feeds">
                        <div class="card feeds-container" *ngIf="feed.postType === 'post'">
                            <div class="body chat">
                                <div class="chat-header clearfix">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <img [src]="feed.user[0].avatar" alt="avatar">
                                            <div class="chat-about">
                                                <h6 class="m-b-0">{{ feed.user[0].name }}</h6>
                                                <small class="feed-title">{{ feed.title }}</small><br/>
                                                <small>{{ feed.createdAt | date: 'medium' }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-5">
                                    <p class="post-feed">{{ feed.content }}</p>
                                </div>
                                <div class="">
                                     <div class="row">
                                        <div class="col-lg-6">
                                          <p class="text-muted pt-1">0 Likes | 0 Comment</p>
                                        </div>
                                        <div class="col-lg-6 text-right">
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-like"></i></button>
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-speech"></i></button>
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-action-redo"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="card feeds-container min-height-400" *ngIf="feed.postType === 'picture'">
		                    <div class="body chat">
		                    	<div class="chat-header clearfix">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <img src="{{feed.user.avatar}}" alt="avatar">
                                            <div class="chat-about">
                                                <h6 class="m-b-0">{{ feed.user.name }}</h6>
                                                <small class="feed-title">Living the best life, even as a single.</small><br/>
                                                <small>{{ feed.createdAt | date: 'shortDate' }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2">
                                    <img src="assets/images/image-gallery/1.jpg" class="img-thumbnail" />
                                </div>
                                <div class="">
                                     <div class="row">
                                        <div class="col-lg-6">
                                          <p class="text-muted pt-3">2 Likes | 1 Comment</p>
                                        </div>
                                        <div class="col-lg-6 text-right">
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-like"></i></button>
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-speech"></i></button>
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-action-redo"></i></button>
                                        </div>
                                    </div>
                                </div>
		                    </div>
		                </div>

                        <div class="card feeds-container min-height-400" *ngIf="feed.postType === 'video'">
                            <div class="body chat">
                                <div class="chat-header clearfix">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <img src="../assets/images/xs/avatar3.jpg" alt="avatar">
                                            <div class="chat-about">
                                                <h6 class="m-b-0">Aiden Chavez </h6>
                                                <small class="feed-title">The absolute secret to success.</small><br/>
                                                <small>Last seen: 2 hours ago</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 video-player">
                                  <vg-player>
                                     <vg-overlay-play vgFor="feedVideo"></vg-overlay-play>
                                    <vg-controls>
                                        <vg-play-pause></vg-play-pause>
                                        <vg-playback-button></vg-playback-button>

                                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                                        
                                        <vg-mute></vg-mute>
                                        <vg-volume></vg-volume>

                                        <vg-fullscreen></vg-fullscreen>
                                    </vg-controls>
                                    <video [vgMedia]="media" #media id="feedVideo" preload="auto" crossorigin="">
                                        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                                    </video>
                                </vg-player>
                                </div>
                                 <div class="">
                                    <div class="row">
                                        <div class="col-lg-6">
                                          <p class="text-muted pt-3">26 Likes | 8 Comment</p>
                                        </div>
                                        <div class="col-lg-6 text-right">
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-like"></i></button>
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-speech"></i></button>
                                            <button class="btn btn-default btn-icon  btn-icon-mini btn-round"><i class="icon-action-redo"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>

				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-3 sticky">
				<div class="card feeds-container min-height-400">
                    <div class="body">
                    	<ul class="list-group custom-list">
                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar1.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">John Gidado</h6>
                    				<span class="list-position">Manager Sunflex</span>
                    			</div>
                    			<button class="btn btn-warning btn-sm btn-simple">Follow</button>
                    		</li>
                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar2.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">Kelvin Black</h6>
                    				<span class="list-position">CEO Grand More Inc.</span>
                    			</div>
                    			<button class="btn btn-warning btn-sm btn-simple">Follow</button>
                    		</li>
                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar3.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">Malcon Malvin</h6>
                    				<span class="list-position">Entrepreneur</span>
                    			</div>
                    			<button class="btn btn-warning btn-sm btn-simple">Follow</button>
                    		</li>

                    		<li class="list-group-item">
                    			<img src="assets/images/sm/avatar4.jpg" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">Bamidele Joshua</h6>
                    				<span class="list-position">CEO Health Ko.</span>
                    			</div>
                    			<button class="btn btn-warning btn-sm btn-simple">Follow</button>
                    		</li>
                    	</ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
