<div class="row cleafix">
	<div class="col-md-6">
		<div class="card feeds-container">
		  
		  <div class="body">
		  	<div class="media">
				<img src="../assets/images/ecommerce/1.png" width="40" class="float-left mr-3">
					<div class="content">
						<h6 class="apple-font">Wale Joshua</h6>
						<small>4 hours ago</small>
					</div>
			  </div>
			<div class="border"></div>
			<div class="pt-4" style="min-height: 100px;">
				<p>We had the best shopping experience of our lives just with you. Thanks you.</p>
			</div>
		  </div>
			
		</div>
	</div>

	<div class="col-md-6">
		<div class="card feeds-container">
		  
		  <div class="body">
		  	<div class="media">
				<img src="../assets/images/ecommerce/1.png" width="40" class="float-left mr-3">
					<div class="content">
						<h6 class="apple-font">Gbenga Osho</h6>
						<small>4 hours ago</small>
					</div>
			  </div>
			<div class="border"></div>
			<div class="pt-4" style="min-height: 100px;">
				<p>This is great! We had the best shopping experience of our lives just with you. Thanks you.</p>
			</div>
		  </div>
			
		</div>
	</div>


</div>