<div class="row cleafix" *ngIf="count(reviews) > 0">
	<div class="col-md-6" *ngFor="let review of reviews">
		<div class="card feeds-container">
		  
		  <div class="card-body">
		  	<div class="media">
				<img [src]="review.buyer.avatar" width="40" class="float-left mr-3">
					<div class="content">
						<h6 class="apple-font">{{ review.buyer.name }}</h6>
						<small>{{ review.created_at | dateAgo }}</small>
					</div>
			  </div>
			<div class="border"></div>
			<div class="pt-4" style="min-height: 100px;">
				<p>{{ review.comment }}</p>
			</div>
		  </div>
			
		</div>
	</div>

</div>

<div class="row cleafix" *ngIf="count(reviews) === 0">
	<div class="col-md-6 offset-3">
		<div class="card feeds-container">
		  
		  <div class="card-body">
		  	
			<div class="pt-4">
				<p>No reviews has been submitted. You can also admonish your customers to submit reviews for any order delivered with satisfaction</p>
			</div>
		  </div>
			
		</div>
	</div>
</div>