<section class="profile-account-setting">
	<div class="container">
		<div class="row clearfix">
			<div class="col-lg-4 col-md-12">
				<div class="card mb-3 bg-teal" style="max-width: 540px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="/assets/images/cart.png" class="p-3 card-img" alt="">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h2><strong>Total</strong> Payout</h2> 
								<p class="card-text text-success"> <strong>NGN {{ totalPayout|number:0 }}</strong> </p>
								<p class="card-text">
									&nbsp;
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-12">
				<div class="card mb-3 bg-teal" style="max-width: 540px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="/assets/images/delivery-icon.png" class="p-3 card-img" alt="">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h2><strong>Pending</strong> Payout</h2> 
								<p class="card-text text-success"> <strong>NGN {{ pendingPayout |number:0 }}</strong> </p>
								<p class="card-text">
									&nbsp;
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-12">

				<div class="card mb-3 bg-teal" style="max-width: 540px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="/assets/images/cash-icon.png" class="p-3 card-img" width="40" alt="">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h2><strong>Paid</strong> Settlements</h2>  
								<p class="card-text text-success"> <strong>NGN {{ paidSettlement |number:0 }}</strong> </p>
								<p class="card-text">
									&nbsp;
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-center">
						<thead>
							<tr>
								<th>S/N</th>
								<th>Batch ID</th>
								<th>Total</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of settlements; let index = index;">
								<td>{{ index + 1 }}</td>
								<td>
									{{ item.batch_ref_id?item.batch_ref_id:'processing...' }}
								</td>
								<td>NGN {{ item.total | number:0 }}</td>
								<td>{{ item.status }}</td>
								<td>
									<button 
									class="btn btn-icon btn-icon-mini btn-round btn-primary waves-effect" 
									(click)="editOrder(item.id)" [owlTooltip]="'View Details'">
									<i class="fa fa-eye"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</section>