<section class="top_breadcrumb">
    <div class="items-container">
        <div class="items">
            <a [routerLink]="['/']" class="apple-font"><i class="fa fa-arrow-left"></i> Back to News Feed</a>
        </div>
    </div>
</section>
<main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
              <div class="col-lg-3 col-md-4 pd-left-none no-pd">


                <!-- Left seidebar starts here -->
                <div class="main-left-sidebar no-margin">


                  <!-- user Box Panel -->
                  <div class="user-data full-width feeds-container">
                    <div class="user-profile">
                      <div class="username-dt">
                        <div class="usr-pic">
                          <img src="{{ checkValue(currentUser.avatar,'avatar','assets/images/default/avatar.jpg') }}" alt="">
                        </div>
                      </div><!--username-dt end-->
                      <div class="user-specs">
                        <h3 
                        *ngIf="profile.role ==='student' || profile.role ==='graduate'">{{ currentUser.name }}</h3>

                        <h3 
                        *ngIf="profile.role !=='student'">{{ echoJobTitle(profile.roleData, profile.role) }}</h3>

                        <span *ngIf="profile.role === 'student' || profile.role === 'graduate'">
                          <span *ngIf="profile.roleData.institution"> Student at {{ profile.roleData.institution }}</span>
                          <span *ngIf="!profile.roleData.institution"> in Africa</span>
                        </span>

                        <span *ngIf="profile.role === 'mentor'">

                          <span *ngIf="currentUser.email_verified_at"> Verified</span> Mentor on Startev

                         </span>

                        <span  *ngIf="profile.role === 'business'">
                          <span *ngIf="currentUser.email_verified_at"> Verified</span> Business on Startev
                        </span>

                      </div>
                    </div><!--user-profile end-->
                    <ul class="user-fw-status">
                     
                      <li>
                        <a class="waves-effect" [routerLink]="['/profile']" title="">View Profile</a>
                      </li>

                       <li *ngIf="profile.role !== 'student' && profile.role !== 'graduate'">
                         <a 
                           [routerLink]="['/my-publications']" 
                           class="">My Publications</a>
                      </li>

                      <li *ngIf="profile.role ==='business'">
                        <a 
                         [routerLink]="['/store-manager']"
                         class=""> Open Store Manager</a>
                      </li>

                      <li *ngIf="profile.role ==='student' && profile.role !== 'graduate'">
                         <a
                          *ngIf="hasStore"
                          [routerLink]="['/venture-dashboard']" 
                          class="">Open Venture Dashboard</a>
                      </li>

                      <li>
                         <a 
                          [routerLink]="['/knowledge-hub']" 
                          class="">Access Knowledge Hub</a>
                      </li>
                    </ul>
                  </div><!--user-data end-->

                    <!-- suggestion widget -->
                    <app-suggestions-widget></app-suggestions-widget>
                    <!--// end suggestions widget -->

                </div> <!--// end sidebar -->
              </div>


              <div class="col-lg-6 col-md-8 no-pd">
                <div class="main-ws-sec">

              		<div class="posts-section">

                    <div class="post-bar feeds-container">
                      <div class="" [@fadeAnimation]>
                        <div class="post_topbar">
                          <div class="usy-dt">
                            <img src="{{ checkValue(feed.user.avatar, 'avatar', 'null') }}" width="40" alt="">
                            <div class="usy-name">
                              <h3>{{ feed.user.name }}</h3>
                              <span>
                                <img  src="/assets/images/clock.png" alt="">{{ feed.time | date: 'medium' }}
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="job_descp">
                        <h3>{{ feed.title }}</h3>
                        <div class="feed-image mb-3" *ngIf="feed.image && !feed.images">
                          <img (click)="openImage(feed)" [src]="checkValue(feed.image, 'avatar', 'null')" class="feed-image-responsive"/>
                        </div>

                        <div class="feed-image mb-3" *ngIf="feed.images && !feed.image && count(feed.images) < 2">
                           <ngx-slick-carousel class="carousel" 
                              #feedSlickModal="slick-carousel"
                              [config]="feedSlideConfig">
                              <img ngxSlickItem *ngFor="let image of feed.images; let index = index" 
                              (click)="openStackedImages(feed.images, index, feed.title)" [src]="checkValue(image, 'avatar', 'null')" class="feed-image-responsive"/>
                            </ngx-slick-carousel>
                        </div>

                         <div class="feed-image mb-3" *ngIf="feed.images && !feed.image && count(feed.images) > 1">
                           <div class="images-container-single">
                              <img *ngFor="let image of feed.images; let index = index" 
                              (click)="openStackedImages(feed.images, index, feed.title)" [src]="checkValue(image,'avatar', 'null')" class=""/>
                            </div>
                        </div>

                        <p class="post-content" [innerHtml]="feed.content"></p>


                        </div>

                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a [routerLink]="" (click)="toggleLike(feed.id)" class="like-tc"><i class="la la-heart"></i> <b *ngIf="!feed.hasLiked">Like</b>
                                <b *ngIf="feed.hasLiked">Unlike</b>
                            </a>
                            <span>{{ count(feed.likers) }}</span>

                            <a [routerLink]="" (click)="toggleCommentBox(feed.id)" class="comment-tc"><i class="la la-comment-o"></i> Comment {{ count(feed.comments) }}</a>

                             <a [routerLink]="" (click)="openSharingBox()" class="comment-tc"><i class="fa fa-share"></i>
                            Share</a>
                          </li> 
                         
                        </ul>
                       <a><i class="la la-eye"></i>Views {{ feed.views }}</a>
                      </div>

                       <div class="" [@fadeAnimation] *ngIf="showSharingBox">
                        <div class="comment-section feeds-container">
                          <share-buttons [theme]="'circles-light'"
                           [include]="['facebook','twitter','linkedin','reddit','tumblr','whatsapp','email','copy']"
                           [exclude]="['pinterest','mix','vk','messenger','telegram','xing','line','sms','print']"
                           [show]="9"
                           [url]="'https://app.startev.africa/open-feeds/'+feed.id"
                           [autoSetMeta]="false"
                           [title]="feed.title"
                           [description]="feed.title"
                          ></share-buttons>
                        </div>
                      </div>

                      <div class="" [@fadeAnimation] *ngIf="showCommentBox && comment.feedId == feed.id">
                        <div class="comment-section feeds-container">
                        <div class="comment-sec" *ngIf="count(feed.comments) > 0">
                          <ul>
                            
                            <li *ngFor="let comment of feed.comments|orderBy:'id':true">
                              <div class="comment-list">
                                <div class="bg-img">
                                  <img src="{{ checkValue(comment.user.avatar, 'avatar', 'null') }}" alt="{{ comment.user.name }}" width="40" />
                                </div>
                                <div class="comment">
                                  <h3>{{ comment.user.name | titlecase }}</h3>
                                  <span><img src="/assets/images/clock.png" alt=""> {{ comment.created_at | dateAgo }}</span>
                                  <p>{{ comment.comment }}</p>
                                </div>
                              </div><!--comment-list end-->
                            </li>
                          </ul>
                        </div><!--comment-sec end-->
                        <div class="post-comment">
                          <div class="cm_img">
                            <img [src]="currentUser.avatar" class="rounded-circle" width="35"/>
                          </div>
                          <div class="comment_box">
                              <input 
                              type="text" 
                              placeholder="enter comment..." 
                              class="form-control"
                              (keyup.enter)="submitComment()"
                              [(ngModel)]="comment.text">
                          </div>
                          <div class="comment-action">
                            <button class="btn btn-primary waves-effect btn-round" type="button" (click)="submitComment()">Send</button>
                          </div>
                        </div><!--post-comment end-->
                      </div>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

              <div class="col-lg-3 pd-right-none no-pd">
                <div class="right-sidebar">

                  <!-- Advert Widget -->
                  <app-ads-widget></app-ads-widget>
                  <!--// end advert Widget -->

                  <!-- Career Fields Widget -->
                  <app-career-fields></app-career-fields>
                 
                 
                  <!-- Featured Mentors -->
                  <app-mentors-widget></app-mentors-widget>


                  <!-- New Sign ups -->
                  <app-sign-ups-widget></app-sign-ups-widget>

                  <!-- Footer Widget -->
                  <app-footer-widget></app-footer-widget>

                </div><!--right-sidebar end-->
              </div>

            </div>


          </div>

        </div>

      </div>
    </main>


    