<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
  <div class="container">
    <div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">
    	<div class="col-lg-12">
                <div class="card feeds-container fadeIn">
                    <div class="body">
                        <div class="row">
                            <div class="preview col-lg-4 col-md-12">
                                <div class="preview-pic tab-content">
                                    <div 
	                                    *ngFor="let preview of singleProduct.images; let index = index;" 
	                                    class="tab-pane" 
	                                    [ngClass]="{'active':selectedSingleImage === preview}"
	                                    id="product_{{ index+1 }}"><img [src]="preview" class="img-fluid"></div>
	                                    
	                                </div>
                                <ul class="preview-thumbnail nav nav-tabs">
                                    <li class="nav-item" *ngFor="let image of singleProduct.images">
                                        <a class="nav-link" [ngClass]="{'active':image === selectedSingleImage}" data-toggle="tab" [routerLink]="" (click)="setSelectedImage(image)">
                                        <img src="{{ image }}">
                                        </a>
                                    </li>                               
                                </ul> 

                            </div>
                            <div class="details col-lg-8 col-md-12">
                                 <h3 class="product-title m-b-0">{{ singleProduct.product_name | titlecase }}</h3>
                                <h4 class="price m-t-0">Current Price: <span class="col-amber">NGN {{ singleProduct.product_price | number:0 }}</span></h4>

                                <div class="rating">
                                    <div class="stars">
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star-outline"></span>
                                    </div>
                                    <span class="m-l-10">41 reviews</span>
                                </div>
                                <hr>
                               <p class="product-description">{{ singleProduct.highlight }}</p>
                                <!-- <p class="vote"><strong>78%</strong> of buyers enjoyed this product! <strong>(23 votes)</strong></p> -->
                                <h5 class="sizes">sizes:
                                    <span 
                                    *ngFor="let size of singleProduct.sizes" 
                                    class="size" title="{{ size }}">{{ getFirstLetter(size) }}</span>
                                </h5>
                                <h5 class="colors">colors:
                                    <!-- <span class="color bg-amber not-available" title="Not In store"></span> -->
                                    <span 
                                    *ngFor="let color of singleProduct.colors" 
                                    class="color bg-{{ color }}"></span>
                                </h5>
                                <hr>
                                <div class="action">
                                    <button class="btn btn-primary btn-round waves-effect" type="button">add to cart</button>
                                    <button
                                    (click)="goBack()" 
                                    class="btn bg-purple color-white btn-round waves-effect" type="button">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-lg-12">
                <div class="card">
                   <ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item" *ngFor="let tab of productTabs; let first = first">
					    <a class="nav-link" [class.active]="selectedTab === tab" [attr.data-toggle]="tab" href="javascript:void(0);" (click)="selectedTab = tab" role="tab" [attr.aria-controls]="tab" [attr.aria-selected]="{true: first}">{{ tab|titlecase }} </a>
					  </li>
					</ul>
                </div>
                <div class="card">
                    <div class="body">                        
                        <div class="tab-content">
                            <div *ngIf="selectedTab === productTabs[0]" 
	                		role="tabpanel" class="tab-pane active" 
	                		[class.in]="selectedTab === productTabs[0]" 
	                		id="{{ selectedTab }}">
                                <div [innerHtml]="singleProduct.product_description"></div>
                            </div>




                            <div *ngIf="selectedTab === productTabs[1]" 
	                		role="tabpanel" class="tab-pane active" 
	                		[class.in]="selectedTab === productTabs[1]" 
	                		id="{{ selectedTab }}">
                                <!-- <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied</p>
                                <ul class="row list-unstyled c_review">
                                   
                                    <li class="col-12">
                                        <div class="avatar">
                                            <a href="javascript:void(0);"><img class="rounded" src="../assets/images/xs/avatar3.jpg" alt="user" width="60"></a>
                                        </div>                                
                                        <div class="comment-action">
                                            <h5 class="c_name">Tim Hank</h5>
                                            <p class="c_msg m-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                            <div class="badge badge-primary">Nokia 8</div>
                                            <span class="m-l-10">
                                                <a href="javascript:void(0);"><i class="zmdi zmdi-star col-amber"></i></a>
                                                <a href="javascript:void(0);"><i class="zmdi zmdi-star col-amber"></i></a>
                                                <a href="javascript:void(0);"><i class="zmdi zmdi-star col-amber"></i></a>
                                                <a href="javascript:void(0);"><i class="zmdi zmdi-star col-amber"></i></a>
                                                <a href="javascript:void(0);"><i class="zmdi zmdi-star-outline text-muted"></i></a>
                                            </span>
                                            <small class="comment-date float-sm-right">Dec 18, 2017</small>
                                        </div>                                
                                    </li>                                   
                                </ul> -->
                                <p class="text-center">No review submitted yet.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>