 <div class="widget suggestions full-width" *ngIf="showMentors">
    <div class="sd-title">
      <h3>Featured Mentors</h3>
      <!-- <i class="la la-ellipsis-v"></i> -->
    </div><!--sd-title end-->
    <div class="suggestions-list">

      <div class="suggestion-usd" *ngFor="let mentor of featuredMentors">
        <a class="no-style" [routerLink]="['/general-profile', mentor.slug]">
          <img src="{{ checkValue(mentor.avatar, 'avatar', 'null') }}" width="40" alt="">
        </a>
        <div class="sgt-text">
          <h4>{{ shortenName( mentor.name ) | titlecase }}</h4>
          <div class="" *ngIf="mentor.roleData.data.verified === 1">
            <span class="user-badge"><i class="fa fa-check"></i> verified</span>
            </div>
          <span>{{ echoJobTitle(mentor.roleData.data, mentor.roleData.role) | titlecase }}</span>
        </div>
        <a [routerLink]="['/general-profile', mentor.slug]"><span><i class="la la-eye"></i></span></a>
      </div>

      <div class="view-more">
        <a [routerLink]="['/industry']">View More</a>
      </div>
    </div><!--suggestions-list end-->
  </div>
