<section class="companies-info">
	<div class="container">
		<div class="company-title">
			<h3>All Companies / Ventures</h3>
		</div><!--company-title end-->
		<div class="companies-list">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="card feeds-container">
					<div class="row clearfix">
						<div class="col-md-3">
							<img src="{{partner.venture.business.user.avatar?partner.venture.business.user.avatar:'assets/images/default/default.png'}}" class="img-thumbnail" />
							<h6 class="apple-font p-4 text-center">{{ partner.venture.business.name }}</h6>
						</div>
						<div class="col-md-9 p-3">
							<h5 class="apple-font pl-3 mb-2">{{ partner.venture.venture_name }}</h5>
							<h6 class="title text-muted pl-3">About {{ partner.venture.venture_name }}</h6>
							<div class="border"></div>
							<p class="p-3 partner-desc" [innerHtml]="partner.venture.venture_description"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="card feeds-container" [ngStyle]="{'min-height':'250px'}">
					<div class="partner-count pb-1">
						<h1>{{ count(venturePartners) }}</h1>
						<span>No. of Partners</span>
					</div>
					<div class="border"></div>

					<div *ngIf="!isVentureOwner(profile,partner.venture)">
						<button [ladda]="sendingRequest" type="button" (click)="applyToPartner(partner.venture.id)" *ngIf="!userIsPartner || userIsPartner.length === 0"  class="mt-5 btn btn-block btn-secondary waves-effect">Apply To Partner</button>

						<div *ngIf="userIsPartner && isAccepted(userIsPartner, partner)" class="m-3 alert alert-success"> You already partnered with {{ partner.venture.venture_name }}</div>
						<div 
						*ngIf="userIsPartner && isPending(userIsPartner, partner)" class="m-3 alert alert-info">Your Application is Under Consideration</div>

						<div class="m-3 alert alert-warning" role="alert" *ngIf="userIsPartner && isRejected(userIsPartner, partner)">
							Sorry! Your application to partner with {{ partner.venture.business.name }} was rejected.
						</div>
					</div>


				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-12 col-md-12 mb-3 mt-3">
				<div class="border p-2">Similar offer from {{ partner.venture.business.name | titlecase }}</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let venture of similar">
					<div class="company_profile_info pl-2 pr-2" *ngIf="venture.id !== partner.venture.id">
						<div class="company-up-info">
							<img src="{{ venture.business.user.avatar?venture.business.user.avatar:'assets/images/default/default.png' }}" width="110" />
							<h3>{{ venture.venture_name | titlecase }}</h3>
							<span>{{ venture.business.name | titlecase }}</span>
							<h4>Joined {{ venture.created_at | date:'mediumDate' }}</h4>
							<!-- <small class="text-muted location">{{ venture.business.user.state }}, {{ venture.business.user.country }}</small> -->
							<ul>
								<li><a *ngIf="!isVentureOwner(profile,venture)" [routerLink]="['/partner-view',venture.identifier]" title="" class="followw">Partner</a></li>
								<!-- <li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li> -->
							</ul>
						</div>
						<a [routerLink]="['/general-profile', venture.business.user.slug]" title="" class="view-more-pro">View Profile</a>
					</div><!--company_profile_info end-->
				</div>
		</div>
	</div>
</div>
</section>
