<div class="row clearfix">
	<div class="col-sm-12 col-md-12">
        <div class="card feeds-container fadeIn" *ngIf="showMainView">
            <div class="card-header">
                <h2><strong>Ventures</strong> List</h2>
            </div>
            <div class="card-body" *ngIf="ventures">
                <div class="row clearfix">
                    <div class="col-md-6 offset-3 text-center">
                        <button type="button" (click)="addNewVenture()" class="btn btn-round btn-sm btn-primary waves-effect">
                            <fa-icon [icon]="['fas','plus']" size="lg"></fa-icon> Add New Venture</button>
                    </div>
                </div>
                <div class="">
                    <table class="table m-b-0">
                        <tbody>
                            <tr *ngFor="let venture of ventures">
                                <td>
                                    <img [src]="checkValue(currentUser.avatar,'avatar','null')" width="40" class="rounded-circle img-raised" />
                                </td>
                                <td>
                                    <p class="margin-0">{{ venture.venture_name }}</p>
                                    <span>Attached products({{ venture.product_count }})</span>
                                </td>
                              
                                <td>
                                	<button 
                                    type="button"
                                    [swal]="detachSwal" (confirm)="detachProducts(venture.id)"
                                    class="btn btn-round btn-sm btn-primary waves-effect">Detach Products</button>

                                	<button 
                                    type="button" 
                                    (click)="editVenture(venture.id)"
                                    class="btn btn-round btn-sm btn-primary waves-effect">Edit Venture</button>
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>
                    <!-- Products Detachment confirmation Alert -->
                    <swal #detachSwal title="Detach Products ?"
                      text="This product might have been attached to 
                      ventures and imported by partners. 
                      This might cause disruption if order has been placed on any of the products. Are you sure ?"
                      type="question"
                      [showCancelButton]="true"
                      [focusCancel]="true">
                      </swal>
                </div>
            </div>
        </div>

        <div class="card feeds-container fadeIn" *ngIf="showModificationBox">
            <div class="card-header">
                <h2><strong>{{ formTitle }} </strong> Venture</h2>
                <button (click)="closeModificationBox()" class="float-right btn  btn-icon btn-icon-mini btn-white btn-round waves-effect">
                    <i class="la la-close 2x"></i>
                </button>
            </div>
            <div class="card-body mt-4">
                <div class="alert alert-info mb-4" *ngIf="showMaxVentureNotice">
                    <span [innerHtml]="noticeText"></span>
                </div>
                <div class="form-group">
                    <label>Venture Name: </label>
                    <input type="text" class="form-control" [(ngModel)]="ventureName">
                </div>

                <div class="form-group">
                    <label>Venture Location Address: </label>
                    <input type="text" class="form-control" [(ngModel)]="ventureAddress">
                </div>

                <div class="form-group">
                    <label>Venture Description: </label>
                    <textarea rows="6" class="form-control" [(ngModel)]="ventureDescription"></textarea>
                </div>

                <div class="form-group">
                    <button type="button" 
                    (click)="onSubmitVenture()" 
                    [ladda]="updateVentureLadda" 
                    class="btn btn-round btn-primary btn-sm waves-effect">{{ buttonTitle }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
