html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.zero-margin{
	margin-top: 0 !important;
}

.zero-m {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
.text-bold {
	color: #222;
	font-weight: 600;
}

.post-container{
	margin: 0 !important;
	padding: 0 !important;
}

.bg_grey{
	background-color: #F3F6F8 !important;
}
.post-feed-inner{
	margin: 0 !important;
	padding: 0 20px 0 20px !important;
	vertical-align: baseline;
}

.post-content {
	font-size: 1rem;
	color: rgba(0,0,0,0.9);
	font-family:  -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
	font-kerning: normal;
	font-weight: 400;
}
.feed-meta{
	line-height: 13px;
}
.feed-user{
	font-size: 12px;
}

.feed-title {
	font-weight: 600;
	text-transform: lowercase;
	color: var(--pink);
	font-size: 13px;
	font-style: italic;
}
.feed-time{
	font-size: 9px;
	color: rgba(0,0,0,0.6);
}

.custom-modal-header{
	background-color: rgba(177,32,0,0.8) !important;
	min-height: 40px;
}

.custom-modal-header img {
	position: absolute;
	top: 6%;
	left: 45%;
	bottom: 0;
	right: 0;
}

.img-border{
	border: 2px solid #fff;
}

.modal-backdrop {
	z-index: 20 !important;
}
.ng-select{
	border-radius: 50px !important;
}

#register-select,
#register-select .ng-select-container{
	background-color: rgba(255,255,255,0.1) !important;
}

.mentor-count {
	font-size: 15px;
	font-style: italic;
	line-height: 30px;
}
.inline-icon fa-icon{
	color: #c7d1d8 !important;
	opacity: 1;
	padding-right: 5px;
}

.inline-text {
	font-size: 14px;
	color: #c7d1d8;
	font-weight: 500;
}

.feeds-container{
	border-radius: 0 !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	vertical-align: baseline;
}

.custom-list li {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	margin-top: 5px;
}

.custom-list li img{
	margin-right: 25px;
}

.min-height-400{
	min-height: 400px;
}

.list-content{
	line-height:14px;
	font-family: Verdana;
	/*margin-bottom: 7px;*/
}

.list-content .list-title {
	font-size: 10px;
	padding: 0;
	margin: 0;
}

.list-content .list-position {
	font-size: 12px;
	font-style: italic;
}

.sticky {
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	height: 100%;
	top: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.btn-simple:hover{
	box-sizing: content-box;
	font-weight: 500;
	transition: 0.4s;
}

.info-box-2 {
	padding:0 !important;
}

.info-box-2 .icon {
	padding-right: 20px;
}
.info-box-2 .icon img {
	width: 60px;
	height: 60px;
	vertical-align: bottom;
}

.profession {
	color: #424242;
	padding: 0 10px;
}

.trainer {
	color: #ff4136;
	font-size: 14px;
	font-family: "Roboto" Helvetica;
	font-weight: 700;
}

.video-icon{
	text-align: center;
	width: 78px;
	height: 79px;
	left: 44%;
	right: 0;
	top:41%;
	bottom:0;
	position: absolute;
	border-radius: 40%;
	background-color: rgba(255,255,255,0.8);
}

.video-icon i {
	color: var(--red);
	text-align: center;
	font-size: 78px !important;
}

#feedVideo {
	width: 100%;
	height: 100%;
}


.profile-container img {
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}

.change-pics {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.profile-container:hover img {
	opacity: 0.6;
}

.profile-container:hover .change-pics {
	opacity: 1;
}

.change-pics a {
	background: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 16px;
	padding: 9px;
}

.profile-header form label {
	position: absolute;
	top: 50%;
	left: 47%;
	text-align:center;
}

.dim {
	background-color: rgba(0,0,0,0.8) !important;
}
.dim img{
	opacity: 0.3;
}

.min-height-200 {
	min-height: 240px;
}

.business img{
	padding-bottom: 10px;
	height: 90px;
	width: auto;
}
.business h5 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.business span {
	font-weight: normal;
	font-size: 15px;
}
.business .location {
	line-height: 14px;
}
.border {
	border: 1px solid #ccc;
}

.lesson-box{
	margin:0 !important;
	padding: 0 !important;
}
.lesson-body-top{
	min-height: 50px;
}

.lesson-body-bottom{
	padding:15px !important;
	margin: 5px;
}

.lesson-box .lesson-image{

}

.input-group-focus .is-invalid {
	outline: none;
	border: 1px solid var(--red) !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}


/* NG Select custom style */

.ng-select .ng-select-container {
	/*padding: 0 20px !important;*/
	border-radius: 60px !important;
}

.ng-select.disabled .ng-arrow-wrapper .ng-arrow {
	display: none;
}

.ng-select.disabled ng-dropdown-panel {
	display: none;
}

.ng-select.disabled .ng-clear-wrapper {
	display: none;
}

.fileLabel{
	cursor: pointer !important;
}

.hiddenFileInputField{
	font-weight: 700;
	font-size: 10pt;
	-webkit-appearance: none !important;
	background-color: none !important;
	border: none !important;
	position:absolute;
	cursor: pointer !important;
	top:0;
	left: 0;
	display: block !important;
	padding: 0 !important;
	margin:0 !important;
	opacity: 0 !important;
}



.overlay {
  z-index: 9999; 
}
  .overlay.nsm-overlay-open {
    background-color: rgba(0, 0, 0, 0.9) !important; 
}
  .overlay.transparent {
    background-color: rgba(0, 0, 0, 0.9) !important; 
}

.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}


.inputfile + label {
	text-align: center !important;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color:#F3F6F8;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    padding: 5px;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2)
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ccc;
    transition: all 1.5s;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.btn-follow {
	font-size: 12px;
	border-radius: 0 !important;
	border: 1px solid rgba(177,32,0,0.6);
	background-color: transparent;
	color: rgba(177,32,0,0.8);
	padding: 3px 10px !important;
}

.btn-follow:hover,
.btn-follow:active,
.btn-follow:focus,
.btn-follow:visited{
	background-color: transparent;
	color: rgba(177,32,0,1);
}

.follow-suggestion-text{
	font-size: 13px;
	padding: 4px 15px;
	color: #18ADEE;
	font-weight: 500;
}

.follow-subtext{
	font-size: 13px;
    color: #78909c;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.dd-list{
	list-style: none !important;
}

.partner-desc {
	word-wrap: normal;
	line-height: 20px;
	text-align: justify;
}

.apple-font{
	font-family:  -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
	font-kerning: normal;
	font-weight: 400;
}

.partner-count{
	line-height: 10px;
	text-align: center;
}

.partner-count h1 {
	font-family: sans-serif;
	font-weight: 600;
	color: #716d6d;
	font-size: 100px;
	margin: 0 !important;
	padding-bottom: 0 !important;
}
.pointer-move {
	cursor: move !important;
}
.negative-margin-50{
	margin-left: -50px;
}

.negative-margin-30{
	margin-left: -30px;
}

.liked i {
	color: #0073B1 !important;
}

.comment-time{
	font-size: 9px;
}

.dropdown-menu{
	border-radius: 2px !important;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 6px 9px rgba(0,0,0,.2);
	background-clip: padding-box;
	transition: visibility 0s linear 167ms,opacity 167ms cubic-bezier(.4,0,1,1) 0s,z-index 0s linear 167ms;
}

.dropdown li a {
	font-size: 14px;
	font-family: Roboto;
	color: rgba(0,0,0,1);
	font-weight: 400;
}

.dropdown-link{
	font-weight: normal;
}

.feed-detail-header img {
	width: 100%;
	height: 380px;
	border-radius: 2px solid #fff;
}

.image-preview{
	width: 100%;
	height: 290px;
	border: 2px dotted #0073B1;
	border-radius: 5px;
}

.image-preview img{
	height: 100%;
/*	background-size: cover;
	background-position: center center;*/
}