.live-broadcast{
	height: 100%;
	position: static;
}

/*.cam-container{
	margin-top: 0;
	padding-top: 0;
	min-height: 600px;
	background-color: #222;
}
*/

.f16 {
	font-size: 27px !important;
}
.cam-container {
	margin-top: 0;
	padding-top: 0;
	position: relative;
	width: 100%; min-height: 600px;
	max-height: 600px;
	background:url(/assets/images/chat-back.jpg);
	overflow-y: auto;
	background-size: cover;
	background-repeat: no-repeat;
}

.cam-container:before {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: inherit;
	content: ' ';
}

.live-users-list div{
	margin:1em;
	text-align: center;
	min-height: 200px;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.75);
}

.cam-container .cam-image-holder {
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-repeat: no-repeat;
}

.cam-holder {
	min-height: 280px;
	border: 2px solid #fff;
}

.remote-container {
	width: 100%;
}

.remote-item {
	float: left;
	border: 2px solid #fff;
	margin: 10px;
	width: 200px;
	height: 150px;
}

strong {
	font-weight: 600;
}

.owlng-tabs-content {
	min-height: 550px;
	max-height: 550px;
	overflow-y: auto;
}

.comment-sec {
	min-height: 400px;
	max-height: 400px;
	overflow-y: auto;
	padding: 20px 20px;
}

.live-chat-room-container {
	margin:0;
	padding:0;
	min-height: 500px;
}

.live-chat-input{
	
}

.live-chat-inner .live-chat-list{
	line-height: 30px;
}
.badge-success{
	background-color: #0FA119;
}