<div class="row clearfix">
	<div class="col-sm-12 col-md-12">
        <div class="card feeds-container" *ngIf="!showEdit" [@fadeAnimation]>
            <div class="card-header">
                <h2><strong>Store</strong> Settings</h2>
                <button (click)="openForModification()" class="btn btn-round btn-sm btn-primary waves-effect float-right">Modify Settings</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive m-b-0">
                    	
                        <tbody *ngIf="settings">
                            <tr style="width: 100% !mportant;">
                                <td>
                                    <strong>Store Name: </strong>
                                </td>
                               	<td>
                               		{{ checkValue(settings.store_name, 'text', 'Not Set') | titlecase }}
                               	</td>
                            </tr>
                             <tr>
                                <td>
                                    <strong>Store Logo: </strong>
                                </td>
                               	<td>
                               		<img src="{{ checkValue(settings.store_logo, 'avatar') }}" width="70" />
                               	</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Store Url: </strong>
                                </td>
                               	<td>
                               		<a href="{{settings.store_url}}" target="_blank">{{ checkValue(settings.store_url, 'text', 'Not Set') }}</a>
                               	</td>
                            </tr>
                            <tr>
                            	<td>Auto Forward Orders: </td>
                            	   <td>
                                    {{ checkValue(settings.auto_forward, 'bool', 'No') }}
                                </td>
                            </tr>
                            <tr>
                               <td colspan="2" class="text-center"><span>Bank Details</span></td>
                            </tr>
                             
                            <tr>
                            	<td><strong>Account Name: </strong> </td>
                            	<td>{{ checkValue(settings.account_name, 'text', 'Not Set') | titlecase }}</td>
                            </tr>
                            <tr>
                            	<td><strong>Account Number: </strong> </td>
                            	<td>{{ settings.account_number }}</td>
                            </tr>
                            <tr>
                            	<td><strong>Bank Name: </strong></td>
                            	<td>{{ checkValue(settings.bank_name, 'text', 'Not Set') | titlecase }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card feeds-container" *ngIf="showEdit" [@fadeAnimation]>
            <div class="card-header"><h2><strong>Edit Store</strong> Settings</h2></div>

            <div class="card-body">
                <span class="mb-3">Upload store logo</span>
                 <div class="form-group mb-3">
                    <input
                     type="file" 
                     name="file" 
                     id="file"
                     placeholder="choose logo"
                     (change)="processStoreLogo(storeLogo)" 
                     class="" #storeLogo/>
                </div>


                  <div class="form-group mb-3">
                      <input 
                      type="text" 
                      placeholder="Your preferred store name" 
                      class="form-control" [(ngModel)]="store_name">
                  </div>

                   <div class="form-group mb-3">
                      <input 
                      type="text"
                      [readonly]="true"
                      placeholder="Store url" 
                      class="form-control" [(ngModel)]="store_url">
                      <button *ngIf="!settings.store_url" (click)="generateStoreUrl(settings.identifier)" class="btn">generate url</button>
                  </div>

                  <div class="form-group form-check mt-2">
                    <input type="checkbox" class="form-check-input" id="auto_forward" [(ngModel)]="settings.auto_forward" (click)="changeAutoForward()">
                    <label class="form-check-label" for="auto_forward">Auto Forward Orders ?</label>
                  </div>

                   <div class="form-group">
                      <input 
                      type="text" 
                      placeholder="Bank Full Name" 
                      class="form-control" [(ngModel)]="bank_name">
                  </div>

                   <div class="form-group mb-3">
                      <input 
                      type="text" 
                      placeholder="Account Full Name" 
                      class="form-control" [(ngModel)]="account_name">
                  </div>

                   <div class="form-group">
                    <label>Account Number</label>
                      <input 
                      type="number" 
                      placeholder="Your Account Number" 
                      class="form-control" [(ngModel)]="account_number">
                  </div>

                  
                <div class="mt-2 p-3">
                     <div class="float-left">
                    <img *ngIf="isImage" [src]="processedImage" alt="" class="img-raised mr-3" height="60" width="60">
                    </div>
                    <button type="button" 
                    (click)="saveModifications()" 
                    class="btn btn-round btn-sm btn-primary waves-effect" [ladda]="sendingForm">Save Modifications</button>
                    <button
                    type="button"
                    (click)="closeForModification()" 
                    class="btn btn-round btn-sm btn-primary waves-effect">CLOSE</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
