<div class="row clearfix">
	<div class="col-sm-12 col-md-12">
        <div class="card feeds-container">
            <div class="header">
                <h2><strong>Store</strong> Settings</h2>
                <button class="btn btn-round btn-sm btn-warning waves-effect float-right">Modify Settings</button>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-responsive m-b-0">
                    	<thead class="sr-only">
                    		<tr>
                    			<th></th>
                    			<th></th>
                    		</tr>
                    	</thead>
                        <tbody>
                            <tr style="width: 100% !mportant;">
                                <td>
                                    Store Name: 
                                </td>
                               	<td>
                               		Epsalom Nig. Ltd.
                               	</td>
                            </tr>
                             <tr>
                                <td>
                                    Store Logo: 
                                </td>
                               	<td>
                               		<img src="assets/images/business/business1.jpg" width="40" />
                               	</td>
                            </tr>
                            <tr>
                                <td>
                                    Store Url: 
                                </td>
                               	<td>
                               		http://www.startev.server/store/JKNKGNNI;bdbjbdbJDH
                               	</td>
                            </tr>
                            <tr>
                            	<td>Referral Link: </td>
                            	<td>http://www.startev.server/ref-?JDKINBnnc8983b</td>
                            </tr>
                            <tr>
                               <td colspan="2" class="text-center"><span>Bank Details</span></td>
                            </tr>
                             
                            <tr>
                            	<td>Account Name: </td>
                            	<td>Ruth Ibiyemi Mosunmola</td>
                            </tr>
                            <tr>
                            	<td>Account Number: </td>
                            	<td>34001XXX3</td>
                            </tr>
                            <tr>
                            	<td>Bank Name: </td>
                            	<td>Guranty Trust bank</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
