<div class="row clearfix">
	<div class="col-sm-12 col-md-12">
        <div class="card feeds-container" *ngIf="!showEdit" [@fadeAnimation]>
            <div class="card-header">
                <h2><strong>Store</strong> Settings</h2>
                <button (click)="openForModification()" class="btn btn-round btn-sm btn-primary waves-effect float-right">Modify Settings</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive m-b-0">
                    	
                        <tbody *ngIf="settings">
                            <tr style="width: 100% !mportant;">
                                <td>
                                    <strong>Store Name: </strong>
                                </td>
                               	<td>
                               		{{ checkValue(settings.store_name, 'text', 'Not Set') | titlecase }}
                               	</td>
                            </tr>
                             <tr>
                                <td>
                                    <strong>Store Logo: </strong>
                                </td>
                               	<td>
                               		<img src="{{ checkValue(settings.store_logo, 'avatar') }}" width="70" />
                               	</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Store Url: </strong>
                                </td>
                               	<td>
                               		<a href="{{settings.store_url}}" target="_self">{{ checkValue(settings.store_url, 'text', 'Not Set') }}</a>
                               	</td>
                            </tr>
                            <!-- <tr>
                            	<td>Auto Forward Orders: </td>
                            	   <td>
                                    {{ checkValue(settings.auto_forward, 'bool', 'No') }}
                                </td>
                            </tr>
                            <tr>
                              <td>Referral Code: </td>
                              <td>{{ checkValue(settings.ref_code, 'text', 'Not set') }}</td>
                            </tr> -->
                           <!--  <tr>
                               <td colspan="2" class="text-center"><span>Bank Details</span></td>
                            </tr> -->
                             
                           <!--  <tr>
                            	<td><strong>Account Name: </strong> </td>
                            	<td>{{ checkValue(settings.account_name, 'text', 'Not Set') | titlecase }}</td>
                            </tr>
                            <tr>
                            	<td><strong>Account Number: </strong> </td>
                            	<td>{{ settings.account_number }}</td>
                            </tr>
                            <tr>
                            	<td><strong>Bank Name: </strong></td>
                            	<td>{{ checkValue(settings.bank_name, 'text', 'Not Set') | titlecase }}</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card feeds-container" *ngIf="showEdit" [@fadeAnimation]>
            <div class="card-header"><h2><strong>Edit Store</strong> Settings</h2></div>

            <div class="card-body">
                <span class="mb-3">Upload store logo</span>
                 <div class="form-group mb-3">
                    <input
                     type="file" 
                     name="file" 
                     id="file"
                     placeholder="choose logo"
                     (change)="processStoreLogo(storeLogo)" 
                     class="" #storeLogo/>
                </div>


                  <div class="form-group mb-3">
                      <label class="mb-2">Preferred Store Name</label>
                      <input 
                      type="text" 
                      placeholder="Your preferred store name" 
                      class="form-control" [(ngModel)]="store_name">
                  </div>

                   <div class="form-group mb-3">
                      <label class="mb-2">Store Url</label>
                      <input 
                      type="text"
                      [readonly]="true"
                      placeholder="Store url" 
                      class="form-control" [(ngModel)]="store_url">
                      <button *ngIf="!settings.store_url || settings.store_url === 'null'" (click)="generateStoreUrl(settings.identifier)" class="btn">generate url</button>
                  </div>

                  <hr>

                  <button type="button" 
                    (click)="saveModifications()" 
                    class="btn btn-round btn-sm btn-primary waves-effect" [ladda]="sendingForm">Update Store</button>

                  <hr>

                  <h2 class="mb-3"><strong>Bank Account Details</strong></h2>

                   <div class="form-group">
                         <label class="mb-3">Select Bank</label>
                          <ng-select [items]="banks"
                                   bindLabel="name"
                                   bindValue="code"
                                   (change)="changeBank()"
                                   placeholder="select bank"
                                   [(ngModel)]="bank_code">
                        </ng-select>

                    </div>

                    <div class="form-group" *ngIf="count(bank_name)">
                    <label class="mb-3">Account Number</label>
                      <input 
                      type="number"
                      [readonly]="readAccountNumber"
                      (keyup)="changeAccountNumber()"
                      placeholder="Your Account Number" 
                      class="form-control mb-3" [(ngModel)]="account_number">

                      <span class="text-danger pl-2" *ngIf="readAccountNumber">verifying...</span>
                      <span class="text-danger pl-2" *ngIf="verificationError">{{ verificationError }}</span>
                  </div>

                   <div class="form-group mb-3" *ngIf="count(bank_name) > 0">
                    <label class="mb-3">Account Name</label>
                      <input 
                      type="text" 
                      placeholder="Account Full Name" 
                      class="form-control" [(ngModel)]="account_name">
                  </div>

                   
                  
                <div class="mt-2 p-3">
                     <div class="float-left">
                    <img *ngIf="isImage" [src]="processedImage" alt="" class="img-raised mr-3" height="60" width="60">
                    <img *ngIf="!isImage" [src]="checkValue(processedImage,'avatar','null')" alt="" class="img-raised mr-3" height="60" width="60">
                    </div>
                    <button type="button" 
                    (click)="updateAccount()" 
                    class="btn btn-round btn-sm btn-primary waves-effect" [ladda]="sendingForm">Save Account</button>
                    <button
                    type="button"
                    (click)="closeForModification()" 
                    class="btn btn-round btn-sm btn-primary waves-effect">Close</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
