<main>
      <div class="main-section">
        <div class="container">
          <div class="main-section-data">
            <div class="row">
            <div class="col-sm-12 col-md-9">
              <div class="row clearfix">
               <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let industry of industries">
                <div class="card info-box-2 feeds-container fadeIn">
                 <div class="card-body">
                  <div class="content">
                    <div class="text text-bold pb-4">{{ industry.name }}</div>
                    <div class="mentor-count">
                     <a [routerLink]="['/industry', industry.slug]" class="btn btn-primary waves-effect btn-sm"> mentors ({{ total(industry.mentors) }}) </a>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      <div class="col-sm-12 col-md-9 col-lg-3">
        <!-- Featured Mentors -->
        <app-mentors-widget></app-mentors-widget>


        <!-- New Sign ups -->
        <app-sign-ups-widget></app-sign-ups-widget>

        <!-- Footer Widget -->
        <app-footer-widget></app-footer-widget>
      </div>
    </div>
  </div>
</div>
</div>
</main>
