<app-navbar *ngIf="currentUser"></app-navbar>
<!-- App Content -->
<div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">

	<router-outlet  #o="outlet"></router-outlet>
	<!-- Snotify -->
	<ng-snotify></ng-snotify>
</div>
<ngx-ui-loader></ngx-ui-loader>
<!-- <div *ngIf="currentUser">
<ng-chat
    [adapter]="adapter"
    [title]="messengerTitle"
    [isCollapsed]="true"
    [emojisEnabled]="true"
    [audioEnabled]="true"
    [messageDatePipeFormat]="dateAgo"
    [userId]="userId">
    </ng-chat>
</div> -->
