<!-- <div class="page-loader-wrapper" *ngIf="loading">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/logo/logo_.png" width="58" height="53" alt="Startev"></div>
        <p>Please wait...</p>        
    </div>
</div> -->
<app-navbar *ngIf="currentUser"></app-navbar>
<!-- App Content -->
<div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>

    <!-- Snotify -->
    <ng-snotify></ng-snotify>
</div>
<!-- <div *ngIf="currentUser">
<ng-chat
    [adapter]="adapter"
    [title]="messengerTitle"
    [isCollapsed]="true"
    [emojisEnabled]="true"
    [audioEnabled]="true"
    [messageDatePipeFormat]="dateAgo"
    [userId]="userId">
    </ng-chat>
</div> -->
