<section>
	<div class="container-fluid no-margin no-pdd">
		<div class="row no-margin no-pdd live-broadcast">

			<div class="col-md-8 no-margin no-pdd">

				<!-- if live broadcast session is on progress Display Live Cams-->
				<div [@fadeAnimation] class="cam-container">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-8 screen" *ngIf="localCallId">
							<div [id]="localCallId" class="local"></div>
							<!-- <div [id]="localCallId" class=""></div> -->
						</div>
					</div>
				</div>


				<!-- if live broadcst has not been started or joined, display cover image-->
				<!-- <div [@fadeAnimation] class="cam-container" *ngIf="!broadcastInProgress" style="background-image: url('/assets/images/cam-sec.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
				</div> -->

				<!-- if live broadcast session is on progress Display Live Cams-->
				<!-- <div [@fadeAnimation] class="cam-container">
					
					<div *ngIf="count(remoteCalls) > 0">
						<div *ngFor="let remote of remoteClass" [attr.id]="remote"></div>
					</div>
					<div class="row live-users-list" *ngIf="count(currentSchedule) > 0">
						<div class="col-md-3 text-center animated fadeIn" *ngFor="let user of currentSchedule">
							<img [src]="checkValue(user.avatar, 'avatar', 'null')" class="rounded-circle mx-auto d-block float-none mt-3" width="80" alt=""/>
							<br/>
							<h5>{{ user.name }}</h5>
							<br/>
							<span class="text-success apple-font rigid" *ngIf="user.status === 'online'">active</span><br/>
							<span class="text-danger apple-font rigid" *ngIf="user.status === 'offline'">offline</span>
						</div>
					</div>
				</div> -->


			</div>


			<div class="col-md-4">
				<owl-tab-view [selectedIndex]="selectedIndex">
				    <owl-tab label="Overview">
				        <div class="owlng-tabs-content" [style.padding.px]="20">
				        	<div *ngIf="userData.role === 'mentor'">
				        		<h3 class="apple-font">Dear {{ currentUser.name }}, <br/><br/>
				        		Welcome to your Online Broadcast Station</h3>

				        		<p class="pt-4"><span>Please read below instructions carefully.</span></p>

				        		
				        			<strong>Starting a Session</strong> <br/><br/>

				        			<i class="fa fa-arrow-right"></i> <span class="text-info"> You can only start a session at a time</span><br/><br/>

				        			<i class="fa fa-arrow-right"></i> To start a session, you need to select a schedule,
				        			and click on <strong>start</strong> button below. <br/><br/>
 				        		
 				        			If you have not create broadcast schedule, please navigate to <strong>Broadcast Schedule</strong> to create one.

 				        			<br/>
 				        			<br/>
 				        			<strong>Resuming a Session</strong> <br/><br/>
 				        			<i class="fa fa-arrow-right"></i> When resuming a session, all you need to do is click on <strong>Resume</strong> button below. Current session is selected automatically. <br/><br/>

 				        			<!-- <div class="cal-house">
 				        				<div [id]="localCallId" class="local"></div>
 				        			</div> -->
 				        		

 				        		<!-- Action button -->
 				        		<table class="table-center table mt-4">
 				        			<tr *ngIf="count(schedules) > 0">
 				        				<owl-radio-group 
 				        				class="owlng-radio-group" 
 				        				name="schedule" 
 				        				[(ngModel)]="selectedSchedule"
 				        				(change)="selectSchedule()">
 				        				<td>
    										<owl-radio-button *ngFor="let schedule of schedules" 
    										class="owlng-radio mt-3" [value]="schedule.id">
    											<span style="overflow-wrap: break-word !important;">{{ schedule.title }}</span>
    										</owl-radio-button>
    										
 				        				</td>
 				        				</owl-radio-group>
 				        				
 				        			</tr>
 				        		</table>

 				        		 <h5 *ngIf="currentSession" class="text-success">Live Now: 
 				        			<span *ngIf="count(currentSession) > 0" class="text-secondary">{{ currentSession.title }}</span>
 				        		</h5>
				                

				                <!-- if live session is not live yet -->
				               <div *ngIf="selectedSchedule">
				               	 <button
				               	 [ladda]="startSession"
				                *ngIf="!broadcastInProgress && currentSession.status === 'pending'"
				                (click)="startBroadcastSession()"
				                class="btn btn-primary btn-sm mt-3">
				                <i class="fa fa-send"></i> Start Session</button>

				                <button
				                *ngIf="!broadcastInProgress && currentSession.status === 'in progress'"
				                (click)="resumeBroadcastSession()"
				                class="btn btn-primary btn-sm mt-3">
				                <i class="fa fa-send"></i> Resume Session</button>
				            </div>

				               	<!-- If live session is active -->
				               	<div *ngIf="broadcastInProgress">
				               		<button
					                (click)="endBroadcastSession()"
					                class="btn btn-primary btn-sm mt-3">
					                <i class="fa fa-times"></i> End Session</button>
				               	</div>
				        	</div>
				        </div>
				    </owl-tab>
				    <owl-tab label="Chat Room" [disabled]="!broadcastInProgress">
				        <div class="owlng-tabs-content2">
				        	<div class="live-chat-room-container">
			                       <div class="comment-section feeds-container">
			                        <div class="comment-sec">
			                          <ul *ngIf="groupMessages">
			                            
			                            <li *ngFor="let bMessage of groupMessages">
			                              <div class="comment-list">
			                                <div class="bg-img">
			                                  <img src="{{ checkValue(bMessage.user_avatar, 'avatar', 'null') }}" alt="" width="40" />
			                                </div>
			                                <div class="comment">
			                                  <h3 
			                                  [ngClass]="{'text-warning': bMessage.is_mentor === 1 }">
			                              {{ bMessage.user_name }}</h3>
			                                  <span>
			                                  	<img src="/assets/images/clock.png" alt=""> {{ bMessage.created_at | dateAgo }}
			                                  </span>
			                                  <p>{{ bMessage.message }}</p>
			                                </div>
			                              </div><!--comment-list end-->
			                            </li>
			                           
			                          </ul>
			                        </div><!--comment-sec end-->
			                        <div class="post-comment">
			                          <div class="cm_img">
			                            <img [src]="checkValue(currentUser.avatar,'avatar','null')" class="rounded-circle" width="35"/>
			                          </div>
			                          <div class="comment_box">
			                              <input 
			                              type="text" 
			                              placeholder="type your message..." 
			                              class="form-control"
			                              (keyup.enter)="sendMessage()"
			                              [(ngModel)]="groupMessage">
			                          </div>
			                          <div class="comment-action">
			                            <button [attr.disabled]="isSending" class="btn btn-primary waves-effect btn-round" type="button" (click)="sendMessage()">
			                            	<span *ngIf="isSending">Sending...</span>
			                            	<span *ngIf="!isSending">Send</span>
			                            </button>
			                          </div>
			                        </div><!--post-comment end-->
			                      </div>

				        	</div>

				        </div>
				    </owl-tab>
				   <!--  <owl-tab label="Participants" [disabled]="!broadcastInProgress">
				        <div class="owlng-tabs-content" [style.padding.px]="20">
				        	<div class="" *ngIf="count(currentSchedule) > 0">
				        		<h3 class="text-center mb-2 apple-font"><span>Participants in this current schedule</span></h3>
				        		<div class="table-responsive">
				        			<table class="table-center table">

					        			<tr *ngFor="let user of currentSchedule">
					        				<td>
					        					<img [src]="checkValue(user.avatar, 'avatar', 'null')" width="50" class="rounded-circle" />
					        				</td>
					        				<td>{{ user.name }}</td>
					        			</tr>	
					        		</table>
				        		</div>
				        	</div>
				        	<div class="" *ngIf="count(currentSchedule) === 0">
				        		<h3 class="text-center"><span>No active session</span></h3>
				        	</div>
				        </div>
				    </owl-tab> -->
				</owl-tab-view>
			</div>
		</div>
	</div>
</section>