<section>
	<div class="container-fluid no-margin no-pdd">
		<div class="row no-margin no-pdd live-broadcast">

			<div class="col-md-8 no-margin no-pdd">

				<!-- if live broadcast session is on progress Display Live Cams-->
				<div [@fadeAnimation] class="cam-container" *ngIf="broadcastInProgress">
					<div class="row pt-1">
						<div class="col"></div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-body cam-holder">
									<div [id]="localCallId" class="local"></div>
								</div>
							</div>
						</div>
						<div class="col"></div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="remote-container">
								<div class="remote-item"  *ngFor="let callId of remoteCalls" [id]="callId"></div>
							</div>
						</div>
					</div>
				</div>


				<!-- if live broadcst has not been started or joined, display cover image-->
				<div [@fadeAnimation] class="cam-container" [hidden]="broadcastInProgress" style="background-image: url('/assets/images/cam-sec.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
				</div>

			</div>


			<div class="col-md-4">
				<owl-tab-view [selectedIndex]="selectedIndex">
				    <owl-tab label="Overview">
				        <div class="owlng-tabs-content" [style.padding.px]="20">
				        	<div *ngIf="userData.role === 'mentor'">
				        		<h3 class="apple-font">Dear {{ currentUser.name }}, <br/><br/>
				        		Welcome to your Online Broadcast Station</h3>

				        		<p class="pt-4"><span>Please read below instructions carefully.</span></p>

				        		
				        			<strong>Starting a Session</strong> <br/><br/>

				        			<i class="fa fa-arrow-right"></i> <span class="text-info"> You can only start a session at a time</span><br/><br/>

				        			<i class="fa fa-arrow-right"></i> To start a session, you need to select a schedule,
				        			and click on <strong>start</strong> button below. <br/><br/>
 				        		
 				        			If you have not create broadcast schedule, please navigate to <strong>Broadcast Schedule</strong> to create one.
 				        		

 				        		<!-- Action button -->
 				        		<table class="table-center table mt-4" style="width: 100%;">
 				        			<tr *ngIf="count(schedules) > 0">
 				        				<owl-radio-group 
 				        				class="owlng-radio-group" 
 				        				name="schedule-batch" 
 				        				[(ngModel)]="selectedSchedule">
 				        				<td>
    										<owl-radio-button *ngFor="let schedule of schedules" 
    										class="owlng-radio mt-3" [value]="schedule.id">{{ schedule.title }} - {{ count(schedule.participants) }} participants</owl-radio-button>
    										
 				        				</td>
 				        				</owl-radio-group>
 				        				
 				        			</tr>
 				        		</table>
				                

				                <!-- if live session is not live yet -->
				               <div *ngIf="!broadcastInProgress">
				               	 <button
				               	 [ladda]="startSession"
				                *ngIf="selectedSchedule"
				                (click)="startBroadcastSession()"
				                class="btn btn-primary btn-sm mt-3">
				                <i class="fa fa-send"></i> Start Session</button>

				                 <button
				                *ngIf="selectedSchedule"
				                (click)="clearSelection()"
				                class="btn btn-primary btn-sm mt-3">
				                <i class="fa fa-circle"></i> Clear</button>
				               </div>

				               	<!-- If live session is active -->
				               	<div *ngIf="broadcastInProgress">
				               		<button
					                (click)="endBroadcastSession()"
					                class="btn btn-primary btn-sm mt-3">
					                <i class="fa fa-times"></i> End Session</button>
				               	</div>


				        	</div>
				        </div>
				    </owl-tab>
				    <owl-tab label="Chat Room" [disabled]="!broadcastInProgress">
				        <div class="owlng-tabs-content2">
				        	<div class="live-chat-room-container">
			                       <div class="comment-section feeds-container">
			                        <div class="comment-sec">
			                          <ul *ngIf="groupMessages">
			                            
			                            <li *ngFor="let bMessage of groupMessages">
			                              <div class="comment-list">
			                                <div class="bg-img">
			                                  <img src="{{ checkValue(bMessage.user_avatar, 'avatar', 'null') }}" alt="" width="40" />
			                                </div>
			                                <div class="comment">
			                                  <h3 
			                                  [ngClass]="{'text-warning': bMessage.is_mentor === 1 }">
			                              {{ bMessage.user_name }}</h3>
			                                  <span>
			                                  	<img src="/assets/images/clock.png" alt=""> {{ bMessage.created_at | dateAgo }}
			                                  </span>
			                                  <p>{{ bMessage.message }}</p>
			                                </div>
			                              </div><!--comment-list end-->
			                            </li>
			                           
			                          </ul>
			                        </div><!--comment-sec end-->
			                        <div class="post-comment">
			                          <div class="cm_img">
			                            <img [src]="checkValue(currentUser.avatar,'avatar','null')" class="rounded-circle" width="35"/>
			                          </div>
			                          <div class="comment_box">
			                              <input 
			                              type="text" 
			                              placeholder="type your message..." 
			                              class="form-control"
			                              (keyup.enter)="sendMessage()"
			                              [(ngModel)]="groupMessage">
			                          </div>
			                          <div class="comment-action">
			                            <button [attr.disabled]="isSending" class="btn btn-primary waves-effect btn-round" type="button" (click)="sendMessage()">
			                            	<span *ngIf="isSending">Sending...</span>
			                            	<span *ngIf="!isSending">Send</span>
			                            </button>
			                          </div>
			                        </div><!--post-comment end-->
			                      </div>

				        	</div>

				        </div>
				    </owl-tab>
				    <owl-tab label="Participants" [disabled]="!broadcastInProgress">
				        <div class="owlng-tabs-content" [style.padding.px]="20">
				        	<div class="" *ngIf="count(currentSchedule) > 0">
				        		<h3 class="text-center mb-2 apple-font"><span>Participants in this current schedule</span></h3>
				        		<div class="table-responsive">
				        			<table class="table-center table">

					        			<tr *ngFor="let user of currentSchedule">
					        				<td>
					        					<img [src]="checkValue(user.avatar, 'avatar', 'null')" width="50" class="rounded-circle" />
					        				</td>
					        				<td>{{ user.name }}</td>
					        			</tr>	
					        		</table>
				        		</div>
				        	</div>
				        	<div class="" *ngIf="count(currentSchedule) === 0">
				        		<h3 class="text-center"><span>No active session</span></h3>
				        	</div>
				        </div>
				    </owl-tab>
				</owl-tab-view>
			</div>
		</div>
	</div>
</section>