<div class="row clearfix">
	<div class="col-sm-12 col-md-12" *ngIf="ventureList">
        <div class="card feeds-container">
            <div class="header">
                <h2><strong>Venture</strong> List</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table m-b-0">
                        <tbody>
                            <tr>
                              <td colspan="3"><p class="text-info"> Please not that copy of the same product that already exists on any of the ventures will not be re-imported.<br/>
                                Only unique products will be imported.</p>
                              </td>
                            </tr>
                            <tr *ngFor="let list of ventureList; let index = index">
                                <td>
                                    <img [src]="list.business.user.avatar" width="40" class="rounded-circle img-raised" />
                                </td>
                                <td>
                                    <p class="margin-0">{{ list.venture.venture_name }}</p>
                                    <span>Imported products({{ list.venture.product_count }})</span>
                                </td>
                              
                                <td>
                                	<button 
                                    type="button" 
                                    [disabled]="list.is_products_imported"
                                    (click)="importProducts(list.venture_id)"
                                    class="btn btn-round btn-sm btn-success waves-effect">Import Products 
                                    <small *ngIf=" importingId === list.venture_id"> importing..</small>
                                  </button>

                                	<button
                                    type="button"
                                    [swal]="syncSwal"
                                    (confirm)="syncronizeProducts(list.venture_id)"
                                    class="btn btn-round btn-sm btn-warning waves-effect">Sync Products
                                    <small *ngIf=" syncId === list.venture_id"> ...</small>
                                  </button>

                                	<button 
                                    type="button"
                                    [swal]="detachSwal" 
                                    (confirm)="detachProducts(list.venture_id)"
                                    class="btn btn-round btn-sm btn-danger waves-effect">Detach Products
                                    <small *ngIf=" detachId === list.venture_id"> ...</small>
                                  </button>
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                    <!-- Products Detachment confirmation Alert -->
                    <swal #detachSwal title="Detach Products ?"
                      text="Orders would have been places on this products. 
                       Are you sure you want to continue ?"
                      type="question"
                      [showCancelButton]="true"
                      [focusCancel]="true">
                      </swal>

                      <!-- Product Synscronization confirmation Alert -->
                      <swal #syncSwal title="Are You Sure ?"
                      text="This will import new product and update stock status of already imported ones. 
                       Are you sure you want to continue ?"
                      type="question"
                      [showCancelButton]="true"
                      [focusCancel]="true">
                      </swal>
            </div>
        </div>
    </div>
</div>
