<div class="row clearfix">
	<div class="col-sm-12 col-md-12" *ngIf="ventureList">
        <div class="card feeds-container">
            <div class="header">
                <h2><strong>Ventures</strong> List</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-responsive m-b-0">
                        <tbody>
                            <tr *ngFor="let list of ventureList">
                                <td>
                                    <img [src]="list.business.user.avatar" width="40" class="rounded-circle img-raised" />
                                </td>
                                <td>
                                    <p class="margin-0">{{ list.venture.venture_name }}</p>
                                    <span>Imported products(0)</span>
                                </td>
                              
                                <td>
                                	<button 
                                    type="button" 
                                    [disabled]="list.is_products_imported"
                                    (click)="importProducts(list.venture.id)"
                                    [ladda]="importLadda"
                                    class="btn btn-round btn-sm btn-success waves-effect">Import Products</button>

                                	<button
                                    type="button"
                                    (click)="syncronizeProducts(list.venture.id)"
                                    [ladda]="syncLadda"
                                    class="btn btn-round btn-sm btn-warning waves-effect">Sync Products</button>

                                	<button 
                                    type="button"
                                    (click)="detachProducts(list.venture.id)"
                                    [ladda]="detachLadda"
                                    class="btn btn-round btn-sm btn-danger waves-effect">Detach Products</button>

                                	<button 
                                    type="button" 
                                    (click)="manageProducts(list.venture.id)"
                                    [ladda]="manageLadda"
                                    class="btn btn-round btn-sm btn-info waves-effect">Manage Products</button>
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
