<div class="notification-box msg" *ngIf="count(notifications) > 0">
    <div class="nt-title">
        <h4>Setting</h4>
        <a href="javascript:;" title="">Clear all</a>
    </div>
    <div class="nott-list">

        <div class="notfication-details" *ngFor="let item of notifications">
            <div class="noty-user-img">
                <img [src]="item.user.avatar" alt="">
            </div>
            <div class="notification-info">
                <h3><a href="javascript:;" title="">{{ item.user.name }}</a> </h3>
                <p>{{ item.content }}</p>
                <span>{{ item.created_at | dateAgo }}</span>
            </div>
         </div>

        <div class="view-all-nots">
            <a href="#" title="">View All Messsages</a>
        </div>
    </div>

</div>

<div class="notification-box msg" *ngIf="count(notifications) < 1">
    <div class="view-all-nots">
        <a href="#" title="">No Notifications</a>
    </div>
</div>