<div class="authentication parallax">
  <div id="logo-container"> 

      <div class="logo-container-inner"> 
       <img src="assets/images/logo-auth.png" class="auth-logo slideDown" />
       <h6 style="color:#fff !important;" class="slideDown">AN ONLINE COMMUNITY FOR AFRICAN STUDENTS TO LEARN, CONNECT, <br/> AND LAUNCH THEIR ENTREPRENEURAL JOURNEY</h6>
      </div>

  </div>
  <div class="container">
      <div class="col-md-12 content-center">
          <div class="row clearfix"> 
              <div class="col-lg-6 col-md-12 offset-lg-3">
                  <div class="card-plain fadeIn">
                      <div class="header">
                          <h5>Sign In</h5>
                      </div>
                      <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
                          <div class="input-group">
                              <input type="text" formControlName="username" class="form-control" placeholder="User Name"
                              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>

                              <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                               <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                  <div *ngIf="f.username.errors.required">Username is required</div>
                              </div>
                          </div>
                          <div class="input-group">
                              <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                              <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                               <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                  <div *ngIf="f.password.errors.required">Password is required</div>
                              </div>
                          </div>
                           <div class="footer">
                              <button class="btn btn-warning btn-round waves-effect btn-block" [ladda]="loading">SIGN IN</button>
                              <a [routerLink]="['/register']" class="btn btn-sm btn-secondary waves-effect btn-simple btn-round">SIGN UP</a>
                          </div>
                          <div *ngIf="error" class="alert alert-danger">{{error}}</div>                            
                      </form>
                      <a [routerLink]="['/forgot-password']" class="link">Forgot Password?</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-text">
    <p>All Rights Reserved.<br/> Startev &copy; 2019</p>
  </div>
</div>
  