<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container-fluid">
		<div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">
		</div>
	</div>

	<div class="container"> 
		<div class="row clearfix">
			<div class="col-12 col-md-12 mb-3">
				<div class="border p-2">Commissions & Referral Details </div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-12 col-md-8">
				<div class="card feeds-container">
					<div class="row clearfix">
						<div class="col-md-3">
							<img src="{{partner.venture.business.user.avatar?partner.venture.business.user.avatar:'assets/images/default/default.png'}}" class="img-thumbnail" />
							<h6 class="apple-font p-4 text-center">{{ partner.venture.business.name }}</h6>
						</div>
						<div class="col-md-9 p-3">
							<h5 class="apple-font pl-3">{{ partner.venture.venture_name }}</h5>
							<div class="border"></div>
							<p><strong>Partner Referral Link: </strong> <a target="_blank" href="{{ userIsPartner.ref_link }}">{{ userIsPartner.ref_link }}</a></p>
							<div class="border"></div>
							<h6 class="apple-font pt-3">Services & Products: </h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="row clearfix">
					<div class="col-12">
		                <div class="card feeds-container">
		                    <div class="body">
		                        <div class="table-responsive">
		                            <table class="table table-hover m-b-0">
		                                <tbody>
		                                    <tr>
		                                        <td>
		                                            <h6 class="margin-0">Referral Profit</h6>
		                                            <span>Awerage Weekly Profit</span>
		                                        </td>
		                                        <td class="text-right">
		                                            <h4 class="margin-0 text-success">+NGN 0</h4>
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <td>
		                                            <h6 class="margin-0">Commissions PerClick</h6>
		                                            <span>Weekly Customer Orders</span>
		                                        </td>
		                                        <td class="text-right">
		                                            <h4 class="margin-0 text-info">+NGN 0</h4>
		                                        </td>
		                                    </tr>
		                                    <tr>
		                                        <td>
		                                            <h6 class="margin-0">Offers</h6>
		                                            <span>General Partnership offers</span>
		                                        </td>
		                                        <td class="text-right">
		                                            <h4 class="margin-0 text-danger">+NGN 0</h4>
		                                        </td>
		                                    </tr>
		                                </tbody>
		                            </table>
		                        </div>
		                    </div>
		                </div>
		            </div>
				</div>
			</div>
			
		</div>
	</div>
</section>
