<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container">
		<div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">
			<div class="col-sm-12 col-md-12 col-lg-9">
				<div class="row clearfix">

					<div class="col-lg-12 col-md-12 col-sm-12 m-b-40">
						<div class="feeds-container slideDown"> 
							<div class="body text-center p-2">
								<form [formGroup]="industryForm">
									<label>Select Career Field</label>
									 <ng-select 
									 		   [items]="industries"
	                                           bindLabel="name"
	                                           bindValue="slug"
	                                           (ngModelChange)="showCurrentIndustry()"
	                                           [dropdownPosition]="'bottom'"
	                                           placeholder="select industry"
	                                           formControlName="selected">
	                                </ng-select>
								</form>
							</div>
						</div>
					</div>


					<div class="col-lg-12 col-md-12 col-sm-12 m-b-20">
						<div class="feeds-container fadeIn"> 
							<div class="body text-center">
								<h6 class="p-2">{{ industry.industry.name }} </h6>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let mentor of industry.industry.mentors">
						<div class="card mentor_list feeds-container fadeIn" *ngIf="mentor.mentor">
							<div class="body">
								<div class="cp_img">
									<a [routerLink]="['/general-profile', mentor.slug]"><img src="{{ checkValue(mentor.avatar,'avatar') }}" alt="Mentor" class="img-fluid"></a>
									<div class="hover">


										<button 
										type="button" 
										(click)="toggleConnect(mentor.id)"
										class="btn btn-warning btn-sm waves-effect">
											<fa-icon [icon]="['fas','plus']"></fa-icon> 
										<span *ngIf="mentor.is_connected"> Disconnect</span>
										<span *ngIf="!mentor.is_connected"> Connect</span>
									</button>
										
									</div>
								</div>
								<div class="product_details">
									<h5>
										<a *ngIf="currentUser.id !== mentor.id" [routerLink] = "['/mentor',mentor.slug]">{{ mentor.name | titlecase }}</a>
										<a *ngIf="currentUser.id === mentor.id">{{ mentor.name | titlecase }}</a>
									</h5>
									<ul class="product_price list-unstyled">
										<li class="profession">{{ mentor.mentor.current_job_position?mentor.mentor.current_job_position:'Mentor' }}</li><br/>
										<li class="trainer">Trainees: {{ count(mentor.trainer_pivot) }}/{{ maximumTrainer }}</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card mentor_list feeds-container fadeIn" *ngIf="mentor.business">
							<div class="body">
								<div class="cp_img">
									<a [routerLink]="['/general-profile', mentor.slug]"><img src="{{ checkValue(mentor.avatar,'avatar') }}" alt="Mentor" class="img-fluid"></a>
									<div class="hover">

										<button *ngIf="mentor.id !== currentUser.id && !mentor.business"
										type="button" 
										(click)="toggleConnect(mentor.id)"
										class="btn btn-warning btn-sm waves-effect">
											<fa-icon [icon]="['fas','plus']"></fa-icon> 
										<span *ngIf="mentor.is_connected"> Disconnect</span>
										<span *ngIf="!mentor.is_connected"> Connect</span>
									</button>

									<a [routerLink]="['/general-profile', mentor.slug]"
										class="btn btn-warning btn-sm waves-effect">
										View Page
									</a>

									</div>
								</div>
								<div class="product_details">
									<h5><a [routerLink] = "['/mentor',mentor.slug]">{{ mentor.business.name | titlecase }}</a></h5>
									<ul class="product_price list-unstyled">
										<li class="profession"><small style="font-size: 9px;">{{ mentor.business.website }}</small></li>
										<li class="trainer">Services: {{ count(mentor.business.services) }}</li>
									</ul>
								</div>
							</div>
						</div>                
					</div>

				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-3 sticky">
				<div class="row clearfix">
					<div class="col-md-12">
						<app-follow></app-follow>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
