<div class="row" *ngIf="showMain">
	<div class="col-md-6" *ngFor="let publication of publications">
       <div class="post-bar feeds-container custom-bar">
        <div class="post_topbar">
          <div class="usy-dt">
            <div class="usy-name">
              <h3>{{ publication.title }}</h3>
              <span>
                <img  src="/assets/images/clock.png" alt="">{{ publication.created_at | date : 'medium' }}
              </span>
            </div>
          </div>
  		</div>


  		 <div class="job_descp">
          <h5>{{ publication.category.category_name | titlecase  }}</h5>
          	<p class="post-content" [innerHtml]="publication.content | excerpt: 300 ">
          	</p>


          <ul class="user-fw-status">

  			<li>
  				<a class="btn btn-block btn-white waves-effect" 
        href="javascript:;" (click)="openPublication(publication)" title=""> Available Downloads 
        <span class="custom-badge" style="font-size: 10px;">
        {{ count(publication.files) + count(publication.images) }}   
        </span> -  Read More</a>
  			</li>
  		</ul>
            
          </div>


  		</div>

  	</div>
  </div>

  <div class="row" *ngIf="showMain && count(publications) === 0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4>No published publications</h4>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="showDetails">
	<div class="col-md-12">
		 <div class="main-ws-sec">

      		<div class="posts-section">

            <div class="post-bar feeds-container">
              <div class="">
                <div class="post_topbar">
                  <div class="usy-dt">
                    <img src="{{ checkValue(currentView.user.avatar, 'avatar', 'null') }}" width="40" alt="">
                    <div class="usy-name">
                      <h3>{{ currentView.user.name }}</h3>
                      <span>
                        <img  src="/assets/images/clock.png" alt="">{{ currentView.created_at | date: 'medium' }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="job_descp">
                <h3>{{ currentView.title }}</h3>
               
                 <div class="feed-image mb-3" *ngIf="currentView.images">
                   <div class="images-container-single">
                      <img *ngFor="let image of currentView.images; let index = index" 
                      (click)="openStackedImages(currentView.images, index, currentView.title)" [src]="image" class=""/>
                    </div>
                </div>

                <p class="post-content" [innerHTML]="currentView.content"></p>

                <table class="table table-bordered" *ngIf="currentView.files">
                  <tr *ngFor="let file of currentView.files; let index = index">
                    <td>{{ filterFilePath(file, "/uploads/") }}</td>
                    <td> <a href="javascript:;" (click)="downloadFile(currentView, index, 'file')" target="_blank"><i class="la la-download"></i> Download</a></td>
                  </tr>
                </table>

                <table class="table table-bordered" *ngIf="currentView.images">
                  <tr *ngFor="let image of currentView.images; let index = index">
                    <td><img [src]="image" width="90" /></td>
                    <td> <a href="javascript:;" (click)="downloadFile(currentView, index, 'image')"><i class="la la-download"></i> Download</a></td>
                  </tr>
                </table>

                </div>

            </div>
          </div>

        </div>
	</div>
</div>