<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container-fluid">
		<div class="row clearfix m-t-123">
			<div class="col-md-12">
				<div class="card text-white feeds-container" style="margin: 0 !important;">
					<div class="body bg-pink profile-header">
                        <img src="{{ currentUser.bg_image?currentUser.bg_image : 'assets/images/default/default.png' }}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-3 m-t--30">
				<div class="card member-card transparent">
                    <div class="member-img">
                        <a href="#" class="">
                        <img src="{{ currentUser.avatar?currentUser.avatar : 'assets/images/default/avatar.jpg'}}" class="user_pic rounded-circle img-raised" alt="profile-image">
                        </a>
                    </div>
                    <div class="body">
                        <div class="col-12">
                        	<h6>{{ currentUser.name | titlecase }}</h6>
                        	<p *ngIf="profile.role === 'mentor'" class="text-muted"><strong>{{ profile.roleData.current_job_position }}</strong></p>

                        	<p *ngIf="profile.role === 'student'" class="text-muted"><strong>{{ profile.role | titlecase }}</strong></p>

                        	<p class="text-muted">{{ currentUser.bio?currentUser.bio : defaultBio }} </p>
                           
                            <p class="text-muted text-left"><i class="icon-pointer"></i> 
                            	 <span *ngIf="currentUser.state"> {{ currentUser.state }}, </span> 
                					{{ currentUser.country? currentUser.country : 'Address not set' }}
                            </p>
                            <p class="text-muted text-left"><i class="icon-link"></i> {{ currentUser.email }}</p>
                            <p class="text-muted text-left"><i class="icon-calendar"></i> Joined April 2019</p>
                        </div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-12">
                               <a [routerLink]="'/edit-profile'" class="btn btn-primary btn-round wave">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-6">
				<div class="profile-pane"> 
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item" *ngFor="let tab of profileTabs; let first = first">
					    <a class="nav-link" [class.active]="selectedTab === tab" [attr.data-toggle]="tab" href="javascript:void(0);" (click)="selectedTab = tab" role="tab" [attr.aria-controls]="tab" [attr.aria-selected]="{true: first}">{{ tab|titlecase }} </a>
					  </li>
					</ul>
				</div>
				<div class="row clearfix m-t-20"> 
					<div class="col-sm-12 col-md-12">
					<div class="tab-content">
                		<div
                		*ngIf="selectedTab === profileTabs[0]" 
                		role="tabpanel" class="tab-pane active" 
                		[class.in]="selectedTab === profileTabs[0]" 
                		id="{{ selectedTab }}">

                			<!-- Tab Contents -->

                			<div class="card feeds-container bg_grey zero-m" *ngIf="profile.followers.length === 0">
				                <div class="body">
				                    <p class="text-center">You don't have any follower yet.</p>
				                </div>
							</div>
                            <div class="card feeds-container" *ngIf="profile.followers.length > 0">
                                <div class="body">
                                    <ul class="follow_us list-unstyled m-b-0">                            
                                        <li class="online" *ngFor="let user of profile.followers">
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <img 
                                                    class="media-object" 
                                                    src="{{ user.avatar?user.avatar : 'assets/images/default/avatar.jpg'}}" 
                                                    alt="">
                                                    <div class="media-body">
                                                        <span class="name">{{ user.name | titlecase }}</span>
                                                        <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
                                                    </div>
                                                    <div class="float-right">
                                                        <button *ngIf="!isFollowing(user.id)" (click)="followUser(user.id)" class="btn btn-follow waves-effect">
                                                            <fa-icon [icon]="['fas','plus']"></fa-icon> Follow
                                                        </button>
                                                        <button *ngIf="isFollowing(user.id)" (click)="unFollowUser(user.id)" class="btn btn-follow waves-effect">
                                                            <fa-icon [icon]="['fas','plus']"></fa-icon> UnFollow
                                                        </button>
                                                    </div>
                                                </div>
                                            </a>                            
                                        </li>            
                                    </ul>
                                </div>
                            </div>

							<!--//Tab Contents -->

                		</div>
                	</div>

                	<div class="tab-content">
                		<div
                		*ngIf="selectedTab === profileTabs[1]" 
                		role="tabpanel" class="tab-pane active" 
                		[class.in]="selectedTab === profileTabs[1]" 
                		id="{{ selectedTab }}">

                			<!-- Tab Contents -->

							<div class="card feeds-container bg_grey zero-m" *ngIf="profile.following.length === 0">
				                <div class="body">
				                    <p class="text-center">You are not following anyone. Follow to receive their feeds and articles.</p>
				                </div>
							</div>
                            <div class="card feeds-container" *ngIf="profile.following.length > 0">
                                <div class="body">
                                    <ul class="follow_us list-unstyled m-b-0">                            
                                        <li class="online" *ngFor="let user of profile.following">
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <img 
                                                    class="media-object" 
                                                    src="{{ user.avatar?user.avatar : 'assets/images/default/avatar.jpg'}}" 
                                                    alt="">
                                                    <div class="media-body">
                                                        <span class="name">{{ user.name | titlecase }}</span>
                                                        <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
                                                    </div>
                                                    <div class="float-right">
                                                        <button (click)="unFollowUser(user.id)" class="btn btn-follow waves-effect">Unfollow</button>
                                                    </div>
                                                </div>
                                            </a>                            
                                        </li>            
                                    </ul>
                                </div>
                            </div>

							<!--//Tab Contents -->

                		</div>
                	</div>

                	<div class="tab-content">
                		<div
                		*ngIf="selectedTab === profileTabs[2]" 
                		role="tabpanel" class="tab-pane active" 
                		[class.in]="selectedTab === profileTabs[2]" 
                		id="{{ selectedTab }}">


                			<!-- Tab Contents -->

                			<div class="card feeds-container min-height-400">
				                <div class="body">
				                    	<h4 class="text-center">{{ selectedTab }}</h4>
				                </div>
							</div>

							<!--//Tab Contents -->
							
                		</div>
                	</div>
                </div>
				</div>
			</div>
			<div class="col-md-3 m-t-80 sticky">
				<div class="card feeds-container zero-m">
                    <div class="body zero-m" *ngIf="people.length > 0">
                        <div class="bg_grey">
                            <p class="follow-suggestion-text">People you might like to follow_</p>
                        </div>
                    	<ul class="list-group custom-list zero-m">
                    		<li class="list-group-item" *ngFor="let person of people">
                    			<img src="{{ person.avatar?person.avatar : 'assets/images/default/avatar.jpg' }}" height="50" class="rounded-circle float-left" />
                    			<div class="list-content">
                    				<h6 class="list-title">{{ person.name | titlecase }}</h6>
                    				<span class="list-position">{{ echoJobTitle(person.roleData.data, person.roleData.role) }}</span>
                    			</div>
                    			<button (click)="followUser(person.id)" class="btn btn-follow btn-sm waves-effect">
                                   <fa-icon [icon]="['fas','plus']"></fa-icon>  Follow
                                 </button>
                    		</li>
                    	</ul>
                    </div>
                    <div class="body zero-m" *ngIf="people.length === 0">
                        <div class="bg_grey">
                            <p class="follow-suggestion-text">Recommendations for you!</p>
                        </div>
                        <p class="p-3">
                            Nice business adverts
                        </p>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>