<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container">
		<div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">

			<div class="col-md-3 sticky" *ngIf="hasAccess()">
				<div class="card feeds-container zero-m">
					<div class="header"><h2><strong>Welcome</strong> To Store Manager</h2></div>
					<div class="body zero-m">
						<ul class="venture-nav">
							<li *ngFor="let nav of navigation" [ngClass]="{'active': selectedNavigation.id === nav.id}">
								<a [routerLink]="" (click)="setActiveNavigation(nav)">{{ nav.name }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-9" *ngIf="hasAccess()">
				<div *ngIf="selectedNavigation.alias === 'dashboard'" [@fadeAnimation]>
					<app-store-manager-dashboard></app-store-manager-dashboard>
				</div>
				<div *ngIf="selectedNavigation.alias === 'manage_orders'" [@fadeAnimation]>
					<app-store-manager-orders></app-store-manager-orders>
				</div>
				<div *ngIf="selectedNavigation.alias === 'manage_products'" [@fadeAnimation]>
					<app-store-manager-products></app-store-manager-products>
				</div>
				<div *ngIf="selectedNavigation.alias === 'manage_ventures'" [@fadeAnimation]>
					<app-store-manager-ventures></app-store-manager-ventures>
				</div>
				<div *ngIf="selectedNavigation.alias === 'store_settings'" [@fadeAnimation]>
					<app-store-manager-settings></app-store-manager-settings>
				</div>
				<div *ngIf="selectedNavigation.alias === 'order_tracking'" [@fadeAnimation]>
					<app-store-manager-tracker></app-store-manager-tracker>
				</div>
			</div>

			<div class="col-md-12" *ngIf="!hasAccess()">
				<app-no-access></app-no-access>
			</div>

		</div>
	</div>
</section>