<div class="row clearfix">
	<div class="col-lg-12">
		<div class="card product_item_list fadeIn" *ngIf="showMainBox">
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <button 
                        type="button"
                        (click)="triggerAddNew()"
                        class="btn btn-lg btn-block btn-info waves-effect">Add New Product</button>
                    </div>
                    <div class="col-md-6">
                        <button 
                        type="button"
                        (click)="assignSelected()"
                        class="btn btn-lg btn-block bg-orange waves-effect"
                        role="button">
                            Assign Selected
                        </button>
                       <!--  <button 
                        type="button" 
                        class="btn btn-lg btn-block bg-orange waves-effect"
                        data-toggle="dropdown" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                            Bulk Actions
                        </button>
                        <ul class="dropdown-menu fadeIn">
                            <li><a href="javascript:void(0);">Assign Selected</a></li>
                            <li><a href="javascript:void(0);">Remove Selected</a></li>
                        </ul> -->
                    </div>
                    <div class="col-md-12 col-sm-12 mt-1 fadeIn" *ngIf="showVentureSelect">
                        <div class="card shadow">
                            <button type="button" (click)="closeVentureSelect()" class="float-right btn btn-icon btn-icon-mini btn-white waves-effect">
                                <i class="zmdi zmdi-close 2x"></i>
                            </button>
                            <div class="body mt-1">
                                <div class="alert alert-info mt-3">
                                    <span>If there are products already assigned, they'll automatically be skipped.</span>
                                </div>
                                <div class="form-group">
                                    <label>select venture to assign selected product(s)</label>
                                   <ng-select [items]="ventures"
                                           bindLabel="venture_name"
                                           [(ngModel)]="selectedVenture">
                                </ng-select>
                                </div>
                                <div class="form-group">
                                    <button type="button" [ladda]="sendingAssignment" (click)="assignSelected()" class="btn btn-danger btn-round waves-effect">Assign</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 text-center">
                     <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Type to filter the name column..."
                                (keyup)="updateFilter($event)"
                              />
                       </div>
                    <!-- ngx datatable -->
                    <div class="table-responsive">
                      
                      <ngx-datatable
                        class="material"
                        [rows]="products"
                        [columnMode]="'force'"
                        [sortType]="'multi'"
                        [selected]="selectedProducts"
                        [selectionType]="'checkbox'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="60"
                        (select)='onSelect($event)'
                        [selectAllRowsOnPage]="false">
                        <ngx-datatable-column
                        [width]="5"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false"
                        [headerCheckboxable]="true"
                        [checkboxable]="true">
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Image" sortable="false" [width]="20">
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                              <img src="{{ value?value:'assets/images/default/default.jpg' }}" width="40"/>
                          </ng-template>
                      </ngx-datatable-column>


                      <ngx-datatable-column 
                      name="Product Name" 
                      prop="name" [width]="10" 
                      [canAutoResize]="true"></ngx-datatable-column>

                      <!-- Product Sku Column -->
                      <ngx-datatable-column name="Product Sku" prop="sku" [width]="10"></ngx-datatable-column>

                      <!-- Price Column -->
                      <ngx-datatable-column name="Amount" prop="amount" [width]="10">
                         <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                              {{value}}
                          </ng-template>
                      </ngx-datatable-column>


                        <!-- Status Column -->
                      <ngx-datatable-column name="Status" prop="status" [width]="20" [canAutoResize]="true" >
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                             <span 
                             class="badge badge-success bg-success text-white" 
                             *ngIf="value === 'inStock'">In Stock</span>

                             <span 
                             class="badge badge-warning bg-warning text-white" 
                             *ngIf="value !== 'inStock'">Out of Stock</span>
                          </ng-template>
                      </ngx-datatable-column>


                      <ngx-datatable-column name="Actions" sortable="false" 
                      prop="id" [width]="45" [canAutoResize]="true">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            {{column.name}}
                        </ng-template>


                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                            <!-- Edit product -->
                            <button 
                            class="btn btn-icon btn-icon-mini btn-round btn-warning waves-effect" 
                            (click)="editProduct(value)">
                             <i class="zmdi zmdi-edit"></i>
                            </button>


                            <!-- Remove Product From Store -->
                            <button 
                            [swal]="deleteSwal" (confirm)="deleteProduct(value)"
                            class="btn btn-icon btn-icon-mini btn-round btn-danger waves-effect">
                                <i class="zmdi zmdi-delete"></i>
                            </button>


                            <!-- View Product -->
                            <button 
                            class="btn btn-icon btn-icon-mini btn-round btn-info waves-effect" 
                            (click)="viewProduct(value)">
                                <i class="zmdi zmdi-eye"></i>
                            </button>

                        </ng-template>
                    </ngx-datatable-column>


                      </ngx-datatable>

                    </div>
                </div>
            </div>
        </div>

        <!-- Product Removal confirmation Alert -->
        <swal #deleteSwal title="Delete Product ?"
          text="This product might have been attached to 
          ventures and imported by partners. 
          This might cause disruption if order has been placed on this. Are you sure ?"
          type="question"
          [showCancelButton]="true"
          [focusCancel]="true">
          </swal>

        <div class="row clearfix fadeIn" *ngIf="showAddNew">
            <div class="col-md-12">
                <div class="card feeds-container">
                    <div class="header"><h2><strong>Add New </strong> Product</h2></div>
                    <div class="body">
                        <form [formGroup]="newProductForm">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input 
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && p.product_name.errors }"
                                type="text" formControlName="product_name"/>
                                  <div *ngIf="submitted && p.product_name.errors" class="invalid-feedback">
                                      <div *ngIf="p.product_name.errors.required">Product Name is required</div>
                                  </div>
                            </div>

                            <div class="form-group">
                                <label>Product SKU</label>
                                <input 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && p.sku.errors }"
                                type="text" formControlName="sku"/>
                                <div *ngIf="submitted && p.sku.errors" class="invalid-feedback">
                                      <div *ngIf="p.sku.errors.required">Product Stock Keeping Unit is required</div>
                                  </div>
                            </div>

                            <div class="form-group">
                                <label>Product Price</label>
                                <input 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && p.product_price.errors }"
                                type="number" formControlName="product_price"/>
                                <div *ngIf="submitted && p.product_price.errors" class="invalid-feedback">
                                      <div *ngIf="p.product_price.errors.required">Product Price is required</div>
                                      <div *ngIf="p.product_price.errors">Product Price is too low </div>
                                  </div>
                            </div>

                            <div class="form-group">
                                 <label>Enter Sizes and hit enter ( If applicable )</label>
                                 <ng-select [items]="[]"
                                           [addTag]="true"
                                           [multiple]="true"
                                           [isOpen]="false"
                                           formControlName="sizes">
                                </ng-select>
                            </div>

                            <div class="form-group">
                                 <label>Enter Colors and hit enter ( If applicable )</label>
                                 <ng-select [items]="[]"
                                           [addTag]="true"
                                           [multiple]="true"
                                           [isOpen]="false"
                                           formControlName="colors">
                                </ng-select>
                            </div>

                             <div class="form-group">
                                <label>Discount Price ( If applicable )</label>
                                <input 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && p.discount_price.errors }"
                                type="number" formControlName="discount_price"/>
                            </div>

                            <div class="form-group">
                                <label>Brief information about product</label>
                                <textarea 
                                class="form-control" 
                                rows="3" 
                                [ngClass]="{ 'is-invalid': submitted && p.highlight.errors }"
                                formControlName="highlight" placeholder="Enter brief information about product"></textarea>
                                 <div *ngIf="submitted && p.highlight.errors" class="invalid-feedback">
                                      <div *ngIf="p.highlight.errors.required">Product Highlight is required</div>
                                  </div>

                            </div>

                            <div class="form-group mt-4">
                                <label>Product's Detailed Description</label>
                                <ck-editor 
                                name="editor2" 
                                formControlName="product_description"
                                skin="kama" 
                                language="en"
                                [config]="{'height':'300'}"
                                [fullPage]="true">
                                </ck-editor>
                           </div>

                           <div class="text-center">
                               <span>Upload Your Product Images </span>
                               <p class="apple-font text-danger" *ngIf="uploadNotice">Any image you upload will replace old ones.</p>
                           </div>
                           <div class="uploader-wrapper">
                               <ngx-file-picker 
                                [totalMaxSize]="14"
                                [fileMaxCount]="4"
                                [fileMaxSize]="7"
                                [uploadType]="'multi'"
                                [showeDragDropZone]="true"
                                [showPreviewContainer]="true"
                                [adapter]="imageAdapter"
                                [fileExtensions]="['jpg', 'png', 'jpeg']"
                                (uploadSuccess)="onUploadSuccess($event)"
                                (fileAdded)="onFileAdded($event)"
                                [enableCropper]="true">
                                   
                               </ngx-file-picker>
                           </div>

                           <div class="form-group text-center">
                               <button type="submit"
                               (click)="onSubmitProduct()"
                               class="btn btn-lg btn-round btn-success waves-effect" 
                               [ladda]="submitting">Submit</button>
                               <button type="button"


                               (click)="closeNewProductForm()"
                               class="btn btn-lg btn-round btn-warning waves-effect">Close</button>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix" *ngIf="showProduct">
            <div class="card fadeIn feeds-container">
                <div class="body" *ngIf="singleProduct">
                        <div class="row">
                            <div class="preview col-lg-4 col-md-12">
                                <div class="preview-pic tab-content">

                                    <div 
                                    *ngFor="let preview of singleProduct.images; let index = index;" 
                                    class="tab-pane" 
                                    [ngClass]="{'active':selectedSingleImage === preview}"
                                    id="product_{{ index+1 }}"><img [src]="preview" class="img-fluid"></div>
                                    
                                </div>
                                <ul class="preview-thumbnail nav nav-tabs">
                                    <li class="nav-item" *ngFor="let image of singleProduct.images">
                                        <a class="nav-link" [ngClass]="{'active':image === selectedSingleImage}" data-toggle="tab" [routerLink]="" (click)="setSelectedImage(image)">
                                        <img src="{{ image }}">
                                        </a>
                                    </li>
                                                                        
                                </ul>                
                            </div>
                            <div class="details col-lg-8 col-md-12">
                                <h3 class="product-title m-b-0">{{ singleProduct.product_name | titlecase }}</h3>
                                <h4 class="price m-t-0">Current Price: <span class="col-amber">NGN {{ singleProduct.product_price | number:0 }}</span></h4>
                                <div class="rating">
                                    <div class="stars">
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star col-amber"></span>
                                        <span class="zmdi zmdi-star-outline"></span>
                                    </div>
                                    <span class="m-l-10">41 reviews</span>
                                </div>
                                <hr>
                                <p class="product-description">{{ singleProduct.highlight }}</p>
                                <p class="vote"><strong>78%</strong> of buyers enjoyed this product! <strong>(23 votes)</strong></p>
                                <h5 class="sizes">sizes:
                                    <span 
                                    *ngFor="let size of singleProduct.sizes" 
                                    class="size" title="{{ size }}">{{ getFirstLetter(size) }}</span>
                                </h5>
                                <h5 class="colors">colors:
                                    <!-- <span class="color bg-amber not-available" title="Not In store"></span> -->
                                    <span 
                                    *ngFor="let color of singleProduct.colors" 
                                    class="color bg-{{ color }}"></span>
                                </h5>
                                <hr>
                                <div class="action">
                                    <button 
                                    class="btn btn-warning btn-round waves-effect" 
                                    type="button">Edit Product</button>

                                    <button 
                                    class="btn btn-round btn-info waves-effect"
                                    type="button"
                                    (click)="closeViewProduct()">Go Bank</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
	</div>
</div>

