<div class="row" *ngIf="dashboardData && dashboardData.hasActiveStore">
	<div class="col-lg-4 col-md-12">
        <div class="card mb-3 bg-teal" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/assets/images/orders.png" class="card-img" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2><strong>Orders</strong> Received</h2> 
                <p class="card-text">NGN {{ dashboardData.orders_amount|number:0 }}</p>
                <p class="card-text"><small class="text-muted">{{ dashboardData.orders_amount_avg }} on average</small></p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12">

        <div class="card mb-3 bg-teal" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/assets/images/delivered.jpg" class="card-img" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2><strong>Delivered</strong> Orders</h2> 
                <p class="card-text">NGN {{ dashboardData.delivered_orders|number:0 }}</p>
                <p class="card-text"><small class="text-muted">{{ dashboardData.delivered_orders_avg }} on average</small></p>
              </div>
            </div>
          </div>
        </div>
	</div>

	<div class="col-lg-4 col-md-12">

        <div class="card mb-3 bg-teal" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/assets/images/com2.png" class="card-img" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2><strong>Commission</strong></h2>  
                <p class="card-text">NGN {{ dashboardData.total_commission }}</p>
                <p class="card-text"><small class="text-muted">&nbsp;</small></p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- recent Orders -->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card slideDown">
            <div class="header p-2">
                <h2><strong>Recent</strong> Orders</h2>
            </div>
            <div class="card-body table-responsive members_profiles">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:60px;">#</th>
                            <th>Name</th>
                            <th>Item</th>
                            <th>Quantity</th>                                    
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="count(recentOrders) > 0">
                        <tr *ngFor="let order of recentOrders">
                            <td><img [src]="checkValue(order.image,'avatar','null')" alt="Product img" width="45"></td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.product_name }}</td>
                            <td>{{ order.quantity }}</td>
                            <td><span class="text-warning">{{ order.status }}</span></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="count(dashboardData.recent_orders) === 0">
                        <tr>
                            <td colspan="6" class="text-center"><span>No recent order has been placed.</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
