
<header class="sticky-top shadow" *ngIf="nav.visible">
    <div class="container-fluid">
        <div class="header-data">
            <div class="logo">
                <a href="#" title=""><img src="/assets/images/logo_1.png" width="138" alt="Startev"></a>
            </div><!--logo end-->
            <div class="search-bar">
                <form>
                    <input type="text" #search (keyup.enter)="doTheSearch($event)" name="search" placeholder="Search...">
                    <button type="button" (click)="doTheSearch($event)"><i class="la la-search"></i></button>
                </form>
            </div><!--search-bar end-->
            <nav>
                <ul>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a 
                        [routerLink]="['/']"
                        title="">
                        <span><i class="fa fa-home"></i></span>
                        Home
                    </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a 
                    [routerLink]="['/knowledge-hub']" 
                    title="">
                    <span><i class="fa fa-universal-access"></i></span>
                    Knowledge Hub
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a 
                [routerLink]="['/venture-hub']" 
                title="">
                <span><i class="fa fa-archive"></i></span>
                Ventures Hub
            </a>
        </li>

        <li routerLinkActive="active">
            <a [routerLink]="['/messages']">
                <span><i class="fa fa-comment"></i></span>
                Messages
            </a>
        </li>

        <li class="noty-box">
            <a href="javascript:;" title="" class="not-box-open">
                <span><i class="fa fa-bell"></i></span>
                Notifications <span class="noty-count">{{ notyCount }}</span>
            </a>
            <div class="notification-box msg" *ngIf="count(notifications) > 0">
                <div class="nt-title">
                    <h4>Setting</h4>
                    <a href="javascript:;" (click)="markAsRead()" title="">Mark all as read</a>
                </div>
                <div class="nott-list">

                    <div class="notfication-details" *ngFor="let item of notifications">
                        <div class="noty-user-img">
                            <!-- <img [src]="item.user.avatar" alt=""> -->
                            <i class="fa fa-bell lg"></i>
                        </div>
                        <div class="notification-info">
                            <h6><a href="javascript:;" title="">{{ item.title }}</a> </h6>
                            <p>{{ item.content }}</p>
                            <span>{{ item.created_at | dateAgo }}</span>
                        </div>
                     </div>

                    <!-- <div class="view-all-nots">
                        <a href="javascript:;" title="">View All Messsages</a>
                    </div> -->
                </div>

            </div>

            <div class="notification-box msg" *ngIf="count(notifications) < 1">
                <div class="notification-info">
                    <p style="padding: 20px;">No New Notification</p>
                </div>
            </div>
        </li>


    </ul>
</nav><!--nav end-->
<div class="menu-btn">
    <a [routerLink]=""><i class="fa fa-bars"></i></a>
</div><!--menu-btn end-->
<div class="user-account">
    <div class="user-info">
        <img src="{{ checkValue(currentUser.avatar,'avatar','null') }}" width="32" alt="">
        <a href="javascript:;" (click)="toggleOptionClass()">{{ splitName(currentUser.name) }} <i class="la la-sort-down"></i></a>
    </div>
    <div class="user-account-settingss">
        <!-- <h3>Account</h3> -->
        <!-- <h3 class="tc"><a href="#" title="">Setting</a></h3> -->
        <h3>Manage</h3>
        <h3 class="tc"><a [routerLink]="['/profile']" title="">My Profile</a></h3>
        <h3 class="tc"><a [routerLink]="['/edit-profile']" title="">Edit Profile</a></h3>
        <h3 class="tc"><a [routerLink]="" (click)="logout()" title="">Logout</a></h3>
    </div><!--user-account-settingss end-->
   
</div>
</div><!--header-data end-->
</div>
</header><!--header end-->  



<header class="sticky-top shadow" *ngIf="!nav.visible">
    <div class="container-fluid">
        <div class="header-data">
            <div class="logo">
                <a href="#" title=""><img src="/assets/images/logo_1.png" width="138" alt="Startev"></a>
            </div><!--logo end-->
           
            <nav>
                <ul>
                    <li>
                        <a href="javascript:;" title="">
                            <span>&nbsp;</span>
                            &nbsp;
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header><!--header end--> 


<!-- <div *ngIf="profile.progress < 82" class="alert alert-warning m-t-120 feeds-container" role="alert">
    <span style="font-weight: 400; color: #222 !important;"> <strong>Incomplete Profile &nbsp; </strong> Please complete your profile to make you visible to other users on the platform</span>
</div> -->