

<section class="cover-sec">
    <img src="{{ profile.user.bg_image?profile.user.bg_image : 'assets/images/default/default.png' }}" alt="">
</section>
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    <img src="{{ profile.user.avatar?profile.user.avatar : 'assets/images/default/avatar.jpg'}}" width="170" alt="">
                                </div><!--user-pro-img end-->
                                <div class="mb-2">
                                   <h3 
                        *ngIf="profile.role ==='student' || profile.role ==='graduate'">{{ currentUser.name }}</h3>

                        <h3 
                        *ngIf="profile.role !=='student'">{{ echoJobTitle(profile.roleData, profile.role) }}</h3>
                                   
                        <span *ngIf="profile.role === 'student' || profile.role === 'graduate'">
                          <span *ngIf="profile.roleData.institution"> Student at {{ profile.roleData.institution }}</span>
                          <span *ngIf="!profile.roleData.institution"> in Africa</span>
                        </span>

                        <span *ngIf="profile.role === 'mentor'">

                          <span *ngIf="currentUser.email_verified_at"> Verified</span> Mentor on Startev

                         </span>

                        <span  *ngIf="profile.role === 'business'">
                          <span *ngIf="currentUser.email_verified_at"> Verified</span> Business on Startev
                        </span>

                              </div>
                              <div class="border"></div>
                              <div class="user_pro_status mt-3">
                                <ul class="flw-status">
                                    <li>
                                        <span>Following</span>
                                        <b>{{ count(profile.following) }}</b>
                                    </li>
                                    <li>
                                        <span>Followers</span>
                                        <b>{{ count(profile.followers) }}</b>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- suggestions Widget -->
                        <app-suggestions-widget></app-suggestions-widget>

                    </div><!--main-left-sidebar end-->

                </div>
                <div class="col-lg-6">
                    <div class="main-ws-sec">
                        <div class="user-tab-sec">

                            <div class="tab-feed">
                                <ul>
                                    <li *ngFor="let tab of profileTabs; let first = first; let index = index"  [class.active]="selectedTab.id === tab.id">
                                        <a [routerLink]="" (click)="selectTab(index)" title="">
                                            <img [src]="tab.image" alt="">
                                            <span>{{ tab.name | titlecase }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- tab-feed end-->

                             <div *ngIf="selectedTab.id === profileTabs[0].id" class="product-feed-tab" [class.current]="selectedTab.id === profileTabs[0].id" id="feed-single-0">
                            <div class="posts-section" *ngIf="count(userFeeds) > 0">

                             <div class="post-bar feeds-container" *ngFor="let feed of userFeeds">
                              <div class="">
                                <div class="post_topbar">
                                  <div class="usy-dt">
                                    <img src="{{ checkValue(feed.user.avatar, 'avatar', 'null') }}" width="40" alt="">
                                    <div class="usy-name">
                                      <h6>{{ feed.user.name }}</h6>
                                      <span>
                                        <img  src="/assets/images/clock.png" alt="">{{ feed.time | date: 'medium' }}
                                    </span>
                                </div>
                            </div>
                            <div class="ed-opts">
                                <button type="button" class="ed-options btn btn-round btn-icon btn-icon-mini btn-white waves-effect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="la la-ellipsis-v"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <button 
                                  class="dropdown-item" 
                                  type="button" (click)="hideFeed(feed.id)"> <i class="fa fa-ban"></i> Hide</button>
                                  <button 
                                  *ngIf="feed.user.id === currentUser.id" 
                                  class="dropdown-item" type="button" (click)="deleteFeed(feed)">  <i class="fa fa-trash"></i> Remove</button>
                              </div>

                          </div>
                      </div>

                      <div class="job_descp">
                        <h5>{{ feed.title }}</h5>

                        <!-- if single image -->
                        <div class="feed-image" *ngIf="feed.image && !feed.images">
                          <img (click)="openImage(feed)" [src]="feed.image" class="feed-image-responsive"/>
                      </div>


                      <div class="feed-image mb-3" *ngIf="feed.images && !feed.image">
                           <div class="images-container-single">
                              <img *ngFor="let image of feed.images; let index = index" 
                              (click)="openStackedImages(feed.images, index, feed.title)" [src]="image" class=""/>
                            </div>
                        </div>


                         <!-- content -->
                         <p class="post-content" 
                         [innerHtml]="feed.content | excerpt: 257"></p>

                         <a 
                         *ngIf="isMore(feed.content, 257)" 
                         [routerLink]="['/feed', feed.id]" 
                         class="btn-sm btn btn-round btn-white">read more
                     </a>
                 </div>

                 <div class="job-status-bar">
                    <ul class="like-com">
                      <li>
                        <span>{{ count(feed.likers) }}</span>

                        <a href="javascript:;" (click)="toggleCommentBox(feed.id)" class="comment-tc"><i class="la la-comment-o"></i> Comment {{ count(feed.comments) }}</a>
                    </li> 

                </ul>
                <!-- <a><i class="la la-eye"></i>Views 50</a> -->
            </div>

            <div *ngIf="showCommentBox && comment.feedId == feed.id">

                <div class="comment-section feeds-container">
                    <div class="comment-sec" *ngIf="count(feed.comments) > 0">
                      <ul>

                        <li *ngFor="let comment of feed.comments|orderBy:'id':true">
                          <div class="comment-list">
                            <div class="bg-img">
                              <img src="{{ checkValue(comment.user.avatar, 'avatar', 'null') }}" alt="{{ comment.user.name }}" width="40" />
                          </div>
                          <div class="comment">
                              <h4>{{ comment.user.name | titlecase }}</h4>
                              <span><img src="images/clock.png" alt=""> {{ comment.created_at | dateAgo }}</span>
                              <p>{{ comment.comment }}</p>
                          </div>
                      </div><!--comment-list end-->
                  </li>
              </ul>
          </div><!--comment-sec end-->

        </div>

        </div>

        </div>
        </div>
        </div><!---feed-tab end-->

        <div class="posts-section" *ngIf="count(userFeeds) === 0">
            <div class="post-bar">
                <div class="post_topbar">
                    You have not published any feed.
                </div>
            </div>
        </div>


        </div>




        <div *ngIf="selectedTab.id === profileTabs[1].id" class="product-feed-tab" id="feed-single-1" [class.current]="selectedTab.id === profileTabs[1].id">

   <div class="" *ngIf="profile.role === 'student' || profile.role === 'graduate'">
        <div class="user-profile-ov st2">
        <h3>Education Highlight</h3>
        <h4>Program: {{ profile.roleData.department }}</h4>
        <h6>Faculty: {{ profile.roleData.faculty }}</h6>
        <p>{{ profile.roleData.institution }}</p>

        <h4>Primary Career Path</h4>
        <p>{{ profile.roleData.careerPath }}</p>

        <h4>Secondary Career Path</h4>
        <p class="no-margin">{{ profile.roleData.secondaryCP }}</p>
    </div><!--user-profile-ov end-->

   </div>

      <div class="" *ngIf="profile.role === 'mentor'">
       
       <div class="" *ngIf="count(profile.roleData.education) > 0">
            <h5 class="mb-2 text-center">Education Highlight</h5>

            <div class="user-profile-ov st2" *ngFor="let edu of profile.roleData.education; let index = index">
            <h4>Program: {{ edu.program | titlecase }}</h4>
            <h6>Institution: {{ edu.institution | titlecase }}</h6>
            <p>{{ edu.from_date | date:'mediumDate' }} - 
                <span *ngIf="edu.till_present">Present</span>
                <span *ngIf="edu.to_date">{{ edu.to_date | date: 'mediumDate' }}</span>
             </p>
        </div><!--user-profile-ov end-->
       </div>



       <div class="" *ngIf="count(profile.roleData.workExperience) > 0">
            <h5 class="mb-2 text-center">Work Highlight</h5>

            <div class="user-profile-ov st2" *ngFor="let work of profile.roleData.workExperience;">
            <h4>Position: {{ work.position | titlecase }}</h4>
            <h6>Company: {{ work.company | titlecase }}</h6>
            <p>{{ work.location }}</p>
            <p>{{ work.from_date | date:'mediumDate' }} - 
                <span *ngIf="work.till_present">Present</span>
                <span *ngIf="work.to_date">{{ work.to_date | date: 'mediumDate' }}</span>
             </p>
        </div><!--user-profile-ov end-->
       </div>

     </div>


   <div class="" *ngIf="profile.role === 'business'">
       <div class="user-profile-ov">
            <h3>Overview</h3>
            <p>
                {{ profile.roleData.description }}
            </p>
        </div><!--user-profile-ov end-->
       
        <div class="user-profile-ov">
            <h3>Contact</h3>
            <h4>Phone: {{ profile.roleData.phone }}</h4>
            <p>Website: {{ profile.roleData.website }}</p>
        </div><!--user-profile-ov end-->
        <div class="user-profile-ov" *ngIf="count(profile.roleData.services) > 0">
            <h3>Services</h3>
            <ul>
                <li *ngFor="let service of profile.roleData.services"g><a href="javascript:;" title="">{{ service }}</a></li>
            </ul>
        </div><!--user-profile-ov end-->
   </div>

</div><!--product-feed-tab end-->


<div *ngIf="selectedTab.id === profileTabs[2].id" class="product-feed-tab" id="feed-single-2" [class.current]="selectedTab.id === profileTabs[2].id">


    <div class="suggestions-list bg-white" *ngIf="count(profile.following) > 0">
        <h4 class="mb-2 text-center">Followings</h4>

      <div class="suggestion-usd" *ngFor="let user of profile.following">
        <img src="{{ checkValue(user.avatar, 'avatar', 'null') }}" alt="user.name" width="40">
        <div class="sgt-text">
              <h4>{{ user.name | titlecase }}</h4>
              <div class="media-body">
                <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
            </div>
        </div>

        
             <a [routerLink]=""
            *ngIf="!isFollowing(user.id) && currentUser.id !== user.id" 
            (click)="followUser(user.id)" 
            class="waves-effect">
            <span><i class="la la-plus"></i></span>
            </a>

            <a [routerLink]="" 
            *ngIf="isFollowing(user.id) && currentUser.id !== user.id" 
            (click)="unFollowUser(user.id)"
            class="waves-effect">
            <span><i class="la la-minus"></i></span>
            </a>
        

        <a [routerLink]="['/general-profile', user.slug]"><span><i class="la la-eye"></i></span></a>

    </div>


</div>


 <div class="suggestions-list bg-white" *ngIf="count(profile.followers) > 0">
        <h4 class="mb-2 text-center">Followers</h4>
        
      <div class="suggestion-usd" *ngFor="let user of profile.followers">
        <img src="{{ checkValue(user.avatar, 'avatar', 'null') }}" alt="user.name" width="40">
        <div class="sgt-text">
              <h4>{{ user.name | titlecase }}</h4>
              <div class="media-body">
                <span class="follow-subtext">Joined: {{ user.created_at | date: 'mediumDate' }} - {{ user.state }}, {{ user.country }}</span>
            </div>
        </div>

        
             <a [routerLink]=""
            *ngIf="!isFollowing(user.id) && currentUser.id !== user.id" 
            (click)="followUser(user.id)" 
            class="waves-effect">
            <span><i class="la la-plus"></i></span>
            </a>

            <a [routerLink]="" 
            *ngIf="isFollowing(user.id) && currentUser.id !== user.id" 
            (click)="unFollowUser(user.id)"
            class="waves-effect">
            <span><i class="la la-minus"></i></span>
            </a>
        

        <a [routerLink]="['/general-profile', user.slug]"><span><i class="la la-eye"></i></span></a>

    </div>


</div>         

                 <div class="suggestions-list bg-white" *ngIf="profile.user.trainer_pivot && count(profile.user.trainer_pivot) > 0">
                        <h4 class="mb-2 text-center">Mentees</h4>
                        
                      <div class="suggestion-usd" *ngFor="let trainee of profile.user.trainer_pivot">
                        <img src="{{ trainee.lone_trainee.avatar?trainee.lone_trainee.avatar : 'assets/images/default/avatar.jpg'}}" alt="user.name" width="40">
                        <div class="sgt-text">
                              <h4>{{ trainee.lone_trainee.name | titlecase }}</h4>
                              <div class="media-body">
                                <span class="follow-subtext">Joined: {{ trainee.lone_trainee.created_at | date: 'mediumDate' }} 
                                    <small *ngIf="trainee.lone_trainee.state || trainee.lone_trainee.country">- {{ trainee.lone_trainee.state }}, {{ trainee.lone_trainee.country }}</small>
                                </span>
                            </div>
                        </div>

                        <a [routerLink]="['/general-profile', trainee.lone_trainee]"><span><i class="la la-eye"></i></span></a>

                    </div>


                </div>

                </div>

                </div>

            </div>
        </div>


        <div class="col-lg-3">
            <div class="right-sidebar">
                    <!-- Advert Widget -->
                      <app-ads-widget></app-ads-widget>
                      <!--// end advert Widget -->

                    <app-mentors-widget></app-mentors-widget>

                    <app-sign-ups-widget></app-sign-ups-widget>

                    <app-footer-widget></app-footer-widget>

                </div><!--right-sidebar end-->
            </div>
            </div>
        </div>
    </div>
</div>
</main>