<div class="card feeds-container min-height-400">
	<div class="body">
		<ul class="list-group custom-list">
			<li class="list-group-item">
				<img src="assets/images/sm/avatar1.jpg" height="50" class="rounded-circle float-left" />
				<div class="list-content">
					<h6 class="list-title">John Gidado</h6>
					<span class="list-position">Manager Sunflex</span>
				</div>
				<button class="btn btn-primary btn-sm btn-simple">Follow</button>
			</li>
			<li class="list-group-item">
				<img src="assets/images/sm/avatar2.jpg" height="50" class="rounded-circle float-left" />
				<div class="list-content">
					<h6 class="list-title">Kelvin Black</h6>
					<span class="list-position">CEO Grand More Inc.</span>
				</div>
				<button class="btn btn-primary btn-sm btn-simple">Follow</button>
			</li>
			<li class="list-group-item">
				<img src="assets/images/sm/avatar3.jpg" height="50" class="rounded-circle float-left" />
				<div class="list-content">
					<h6 class="list-title">Malcon Malvin</h6>
					<span class="list-position">Entrepreneur</span>
				</div>
				<button class="btn btn-primary btn-sm btn-simple">Follow</button>
			</li>

			<li class="list-group-item">
				<img src="assets/images/sm/avatar4.jpg" height="50" class="rounded-circle float-left" />
				<div class="list-content">
					<h6 class="list-title">Bamidele Joshua</h6>
					<span class="list-position">CEO Health Ko.</span>
				</div>
				<button class="btn btn-primary btn-sm btn-simple">Follow</button>
			</li>
		</ul>
	</div>
</div>