<div class="card feeds-container fadeIn" *ngIf="count(people) > 0">
	<div class="body zero-m">
        <div class="bg_grey">
            <p class="follow-suggestion-text">People you might like to follow</p>
        </div>
    	<ul class="list-group custom-list zero-m">
    		<li class="list-group-item" *ngFor="let person of people">
    			<a [routerLink]="['/general-profile', person.slug]">
                <img src="{{ checkValue(person.avatar,'avatar') }}" 
                height="50" class="rounded-circle img-raised float-left" />         
                </a>
    			<div class="list-content">
    				<a [routerLink]="['/general-profile', person.slug]">
                        <h6 class="list-title">{{ person.name | titlecase }}</h6></a>
    				<span class="list-position">{{ echoJobTitle(person.roleData.data, person.roleData.role) }}</span>
    			</div>
    			<button (click)="followUser(person.id)" class="btn btn-follow btn-sm waves-effect">
                   <fa-icon [icon]="['fas','plus']"></fa-icon>  Follow
                 </button>
    		</li>
    	</ul>
    </div>
</div>

<div class="card feeds-container fadeIn" *ngIf="count(people) < 4">
    <div class="body zero-m">
        <div class="zero-m">
            <img src="assets/images/adverts/2.png" />
        </div>
    </div>
</div>