/* You can add global styles to this file, and also import other style files */
@import "assets/lib/bootstrap/css/bootstrap.min.css";
@import "assets/lib/bootstrap-select/css/bootstrap-select.css";
@import "assets/lib/multi-select/css/multi-select.css";
@import "assets/css/main.css";
@import "assets/css/mentors.css";
@import "assets/css/chatapp.css";
@import "assets/css/feed-box.css";
@import "assets/css/color_skins.css";

@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-bold {
	color: #222;
	font-weight: 600;
}

.mentor-count {
	font-size: 15px;
	font-style: italic;
	line-height: 30px;
}
.inline-icon i{
	font-size: 22px !important;
    color: #c7d1d8;
    opacity: 1;
    padding-right: 5px;
}

.inline-text {
    font-size: 14px;
    color: #c7d1d8;
    font-weight: 500;
}

.feeds-container{
	border-radius: 0 !important;
	box-shadow: 0 0 3px #000;
}

.custom-list li {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	margin-top: 5px;
}

.custom-list li img{
	margin-right: 25px;
}

.min-height-400{
	min-height: 400px;
}

.list-content{
	line-height:14px;
	font-family: Verdana;
	margin-bottom: 7px;
}

.list-content .list-title {
	font-size: 10px;
	padding: 0;
	margin: 0;
}

.list-content .list-position {
	font-size: 12px;
	font-style: italic;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 100%;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn-simple:hover{
	box-sizing: content-box;
	font-weight: 500;
	transition: 0.4s;
}

.info-box-2 {
	padding:0 !important;
}

.info-box-2 .icon {
	padding-right: 20px;
}
.info-box-2 .icon img {
	width: 60px;
	height: 60px;
	vertical-align: bottom;
}

.profession {
	color: #424242;
	padding: 0 10px;
}

.trainer {
	color: #ff4136;
	font-size: 14px;
	font-family: "Roboto" Helvetica;
	font-weight: 700;
}

.feed-title {
	font-weight: 700;
	text-transform: lowercase;
	color: var(--pink);
	font-size: 14px;
	font-style: italic;
}

.video-icon{
	text-align: center;
	width: 78px;
	height: 79px;
	left: 44%;
	right: 0;
	top:41%;
	bottom:0;
	position: absolute;
	border-radius: 40%;
	background-color: rgba(255,255,255,0.8);
}

.video-icon i {
	color: var(--red);
	text-align: center;
	font-size: 78px !important;
}