<section class="companies-info">
	<div class="container">
		<div class="company-title">
			<h3>All Companies / Ventures</h3>
		</div><!--company-title end-->
		<div class="companies-list">
			<div class="row">
				<div class="col-sm-12 col-md-12 mb-5">
				<div class="row clearfix justify-content-md-center">
					<div class="col-md-6 text-center slideDown">

						<form class="form-group">
							<input type="text" id="ventureSearch" #search (keyup.enter)="searchVentures($event)" class="form-control" name="search" placeholder="Search ventures...">
							<button type="button" class="btn btn-round btn-primary" (click)="clearSearch()">reload</button>
						</form>
					</div>
				</div>
			</div>

				<div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let venture of ventures">
					<div class="company_profile_info pl-2 pr-2">
						<div class="company-up-info">
							<img src="{{ venture.business.user.avatar?venture.business.user.avatar:'assets/images/default/default.png' }}" width="110" />
							<h3>{{ venture.venture_name | titlecase }}</h3>
							<h4>Joined {{ venture.created_at | date:'mediumDate' }}</h4>
							<ul>
								<li><a *ngIf="!isVentureOwner(profile,venture)" [routerLink]="['/partner-view',venture.identifier]" title="" class="followw">Partner</a></li>
							</ul>
						</div>
						<a [routerLink]="['/general-profile', venture.business.user.slug]" title="" class="view-more-pro">View Profile</a>
					</div><!--company_profile_info end-->
				</div>
				
			</div>
		</div><!--companies-list end-->
		<!-- <div class="process-comm">
			<a href="companies.html#" title=""><img src="images/process-icon.png" alt=""></a>
		</div> -->
	</div>
</section><!--companies-info end-->