<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container-fluid">
		<div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">
			<div class="col-sm-12 col-md-12">
				<div class="row clearfix">
					<div class="col-md-6 offset-3 m-b-40">

						<form [formGroup]="businessForm">
							<label class="text-center">Select Business/Organzation</label>
							 <ng-select 
							 		   [items]="businesses"
                                       bindLabel="name"
                                       bindValue="id"
                                       (ngModelChange)="showCurrentVentures()"
                                       [dropdownPosition]="'bottom'"
                                       placeholder="select business"
                                       formControlName="selected">
                            </ng-select>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container"> 
		<div class="row clearfix">
			<div class="col-md-3 col-lg-3 col-sm-12" *ngFor="let venture of ventures">
				<div class="card feeds-container">
					<div class="body business">
						<div class="business-content min-height-200">
							<img src="{{ venture.business.user.avatar?venture.business.user.avatar:'assets/images/default/default.png' }}" />
							<h5>{{ venture.venture_name | titlecase }}</h5>
							<span>{{ venture.business.name | titlecase }}</span>
							<p class="text-muted location">{{ venture.business.user.state }}, {{ venture.business.user.country }}</p>
						</div>
						
						<div class="border"></div>
						<div class="">
							<span class="text-muted">{{ venture.created_at | dateAgo }}</span>
							<a *ngIf="!isVentureOwner(profile,venture)" [routerLink]="['/partner-view',venture.identifier]" class="btn btn-sm btn-warning float-right waves-effect">Partner</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
