<section class="companies-info">
    <div class="container-fluid">
            <div class="row">
             
                <div class="col-md-4 mt-5" *ngIf="store">
                    <div class="card fadeIn">
                        <div class="card-body">

                             <div class="row">
                                 <div class="col-md-12">
                                    <div class="text-center">
                                        <img [src]="checkValue(store.store_logo, 'avatar', 'null')"  class="img-responsive" />
                                    </div>
                                 </div>
                             </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="apple-font rigid" [innerHtml]="store.store_name"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row clearfix m-b-20">
                         <div class="col-md-6 m-b-20">
                             <div class="form-group text-center slideDown">
                              <label for="search">Search for Products</label>
                              <input type="text" class="form-control" id="search" #search (ngxInputSearch)="doTheSearch($event)"/>
                          </div>
                        </div>
                        <div class="col-md-3">
                            <span class="pr-2 text-warning rigid">Shopping cart</span>
                            <a [routerLink]="['/store/cart-view']" 
                            class="cart-box btn btn-primary btn-round">
                                <span class="">
                                    <fa-icon [icon]="['fas','shopping-cart']" size="lg" [ngStyle]="{'color':'#e9c656'}">
                                    
                                    </fa-icon>
                                    <sup class="cart-count">{{ count(cart) }}</sup>
                                    
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row clearfix mt-5" *ngIf="products">
                        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let product of products">
                            <div class="card product_item fadeIn">
                                <div class="card-body">
                                    <div class="cp_img">
                                        <a [routerLink]=""><img [src]="checkValue(product.images[0],'avatar','null')" alt="Product" class="img-fluid"></a>
                                        <div class="hover">
                                            <button
                                            type="button"
                                            (click)="triggerView(product.id)"
                                             class="btn btn-primary btn-round btn-icon btn-icon-mini waves-effect"><i class="fa fa-eye"></i></button>

                                            <button 
                                            type="button"
                                            (click)="addToCart(product.sku, product.id)"
                                            class="btn btn-primary btn-round btn-icon btn-icon-mini waves-effect">
                                            <i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                    </div>
                                    <div class="product_details">
                                        <h5>
                                            <a 
                                            [routerLink]="['/product-view',product.id]">{{ product.product_name |excerpt : 20 }}</a></h5>
                                        <ul class="product_price list-unstyled">
                                            <li class="new_price mt-2">NGN {{ product.product_price | number:0 }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                
                        </div>
               
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="modal fade" [ngStyle]="{'z-index':'9999'}" #productPreviewModal id="productPreviewModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content m-4">
            
          <div class="row clearfix p-4" *ngIf="singleProduct">
                <div class="preview col-lg-4 col-md-12">
                    <div class="preview-pic tab-content">

                        <div 
                        *ngFor="let preview of singleProduct.images; let index = index;" 
                        class="tab-pane" 
                        [ngClass]="{'active':selectedSingleImage === preview}"
                        id="product_{{ index+1 }}"><img [src]="checkValue(preview,'avatar','null')" class="img-fluid"></div>
                        
                    </div>      
                </div>
                <div class="details col-lg-8 col-md-12 p-2">
                    <h3 class="product-title m-b-0">{{ singleProduct.product_name | titlecase }}</h3>
                    <h4 class="price mt-3">Current Price: <span class="col-amber rigid">NGN {{ singleProduct.product_price | number:0 }}</span></h4>
                   
                    <hr>
                    <p class="product-description" [innerHtml]="singleProduct.highlight"></p>
                   
                    <hr>
                    <div class="action">
                        <button 
                        class="btn btn-round btn-primary waves-effect"
                        type="button"
                        (click)="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" [ngStyle]="{'z-index':'9999'}" #cartViewModal id="cartViewModal" [attr.tabindex]="-1" role="dialog" [attr.aria-hidden]="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content m-4">
            
            <div class="p-4">
                <table class="table" *ngIf="count(cart) > 0">
                    <tr *ngFor="let item of cart">
                        <td>
                            <img [src]="checkValue(item.product.images[0],'avatar','null')" width="40" />
                        </td>
                        <td>{{ item.product.product_name }}</td>
                        <td>NGN {{ item.product.product_price | number:0 }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Subtotal</strong>
                        </td>
                        <td colspan="2">NGN {{ calculateTotal()|number:0 }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button *ngIf="count(cart) > 0" (click)="goToCart()" type="button" class="btn btn-primary btn-sm waves-effect">Modify Cart & Checkout</button>
                            <button type="button" (click)="closeCartModal()" class="btn btn-secondary btn-simple waves-effect">Close</button>
                        </td>
                    </tr>
                </table>

                <table *ngIf="count(cart) === 0">
                    <tr>
                        <td colspan="3" class="text-center"><strong>Your shopping cart is empty</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>