<div class="authentication parallax">
  <div id="logo-container"> 

      <div class="logo-container-inner"> 
       <img src="assets/images/logo-auth.png" class="auth-logo" />
       <h6>AN ONLINE COMMUNITY FOR AFRICAN STUDENTS TO LEARN, CONNECT, <br/> AND LANCH THEIR ENTREPRENEURAL JOURNEY</h6>
      </div>

  </div>
  <div class="container">
      <div class="col-md-12 content-center">
          <div class="row clearfix"> 
              <div class="col-lg-8 col-md-12 offset-lg-2">
                  <div class="card-plain register">
                      <div class="header">
                          <h5>Sign Up</h5>
                      </div>

                      <form class="form">                            
                            <div class="row">
                            	<div class="col-md-6 input-group">
	                                <input type="text" class="form-control" placeholder="Enter Full Name">
	                                <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                            	</div>

                            	<div class="col-md-6 input-group">
	                                <input type="text" class="form-control" placeholder="Position Name">
	                                <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                            	</div>
                            </div>

                            <div class="row mb-2">
                            	<div class="col-md-6">
                            
                                    <select class="form-control" name="">
                                        <option>career field</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" name="">
                                        <option>secondary career field</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                            	<div class="col-md-6 input-group">
	                                <input type="email" class="form-control" placeholder="Enter Email">
	                                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
	                            </div>
	                            <div class="col-md-6 input-group">
	                                <input type="text" class="form-control" placeholder="Phone">
	                                <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
	                            </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6 input-group">
                                  <input type="password" class="form-control" placeholder="Enter Password">
                                  <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                              </div>
                              <div class="col-md-6 input-group">
                                  <input type="password" class="form-control" placeholder="Confirm Password">
                                  <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                              </div>
                            </div>
             
                          
                            <div class="checkbox">
                                <input id="terms" type="checkbox">
                                <label for="terms">I read and Agree to the <a href="javascript:void(0);">Terms of Usage</a></label>
                            </div>
                             <div class="footer">
                            <button class="btn btn-primary btn-round btn-block">SIGN UP</button>
                        </div>                      
                        </form>
                        <a class="link" [routerLink]="'/login'">You already have a membership?</a>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-text">
    <p>All Rights Reserved.<br/> Startev &copy; 2019</p>
  </div>
</div>