<div class="authentication parallax">
	<div id="logo-container"> 

		<div class="logo-container-inner"> 
			<img src="assets/images/logo-auth.png" class="auth-logo" />
			<h6>AN ONLINE COMMUNITY FOR AFRICAN STUDENTS TO LEARN, CONNECT, <br/> AND LANCH THEIR ENTREPRENEURAL JOURNEY</h6>
		</div>

	</div>
	<div class="container">
		<div class="col-md-12 content-center">
			<div class="row clearfix"> 
				<div class="col-lg-6 col-md-12 offset-lg-3">
					<div class="card-plain">
						<div class="header">
							<h5>Enter New Password</h5>
						</div>
						<form [formGroup]="resetForm" [ngClass]="form" (ngSubmit)="onSubmit()">

							<div class="input-group">
								<input type="password" formControlName="password" class="form-control" placeholder="New Password" [ngClass]="{'is-invalid': submitted && f.password.errors}">
								<span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
								<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
									<div *ngIf="f.password.errors.required">Password is required</div>
									<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
								</div>
							</div>
							<div class="input-group">
								<input type="password" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
								<span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
								<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
									<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
									<div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
								</div>
							</div>

							<div class="footer">
								<button class="btn btn-warning btn-round waves-effect btn-block" [ladda]="loading">CHANGE PASSWORD</button>
							</div>
							<div *ngIf="error" class="alert alert-danger">{{error}}</div>                            
						</form>
						<a [routerLink]="['login']" class="link">Go back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-text">
		<p>All Rights Reserved.<br/> Startev &copy; 2019</p>
	</div>
</div>
