<section class="profile-account-setting">
      <div class="container">
        <div class="account-tabs-setting">
          <div class="row mt-3">
            <div class="col-lg-3">
            	<!-- <div class="header"><h2><strong>Manage</strong> Your Store</h2></div> -->
	              <div class="acc-leftbar">
	                <div class="nav nav-tabs" id="nav-tab" >
	                    <a *ngFor="let nav of navigation" 
	                    [ngClass]="{'active': selectedNavigation.id === nav.id}"
	                    class="nav-item nav-link" id="nav-acc-tab" 
	                    [routerLink]="" 
	                    (click)="setActiveNavigation(nav)"><i class="la la-arrow-right"></i> 
	                    {{ nav.name | titlecase }}
	                  </a>
	                  </div>
	              </div><!--acc-leftbar end-->
	         </div>

			<div class="col-md-9" *ngIf="hasAccess()">
				<div *ngIf="selectedNavigation.alias === 'dashboard'">
					<app-user-dashboard></app-user-dashboard>
				</div>
				<div *ngIf="selectedNavigation.alias === 'manage_orders'">
					<app-user-orders></app-user-orders>
				</div>
				<div *ngIf="selectedNavigation.alias === 'venture_products'">
					<app-user-ventures></app-user-ventures>
				</div>
				<div *ngIf="selectedNavigation.alias === 'customer_reviews'">
					<app-user-reviews></app-user-reviews>
				</div>
				<div *ngIf="selectedNavigation.alias === 'store_settings'">
					<app-user-settings></app-user-settings>
				</div>
				<div *ngIf="selectedNavigation.alias === 'order_tracking'">
					<app-user-tracker></app-user-tracker>
				</div>
			</div>

			<div class="col-md-12" *ngIf="!hasAccess()">
				<app-no-access></app-no-access>
			</div>

		</div>
	</div>
</div>
</section>