<section class="content" [ngClass]="{'zero-margin': profile.progress < 82}">
	<div class="container">
		<div class="row clearfix" [ngClass]="{'m-t-125': profile.progress >= 82, 'zero-margin': profile.progress < 82}">

			<div class="col-md-3 sticky m-b-40" *ngIf="hasAccess()">
				<div class="card feeds-container zero-m">
					<div class="header"><h2><strong>Manage</strong> Your Store</h2></div>
					<div class="body zero-m">
						<ul class="venture-nav">
							<li *ngFor="let nav of navigation" [ngClass]="{'active': selectedNavigation.id === nav.id}">
								<a [routerLink]="" (click)="setActiveNavigation(nav)">{{ nav.name }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-9" *ngIf="hasAccess()">
				<div *ngIf="selectedNavigation.alias === 'dashboard'" [@fadeAnimation]>
					<app-user-dashboard></app-user-dashboard>
				</div>
				<div *ngIf="selectedNavigation.alias === 'manage_orders'" [@fadeAnimation]>
					<app-user-orders></app-user-orders>
				</div>
				<div *ngIf="selectedNavigation.alias === 'venture_products'" [@fadeAnimation]>
					<app-user-ventures></app-user-ventures>
				</div>
				<div *ngIf="selectedNavigation.alias === 'customer_reviews'" [@fadeAnimation]>
					<app-user-reviews></app-user-reviews>
				</div>
				<div *ngIf="selectedNavigation.alias === 'store_settings'" [@fadeAnimation]>
					<app-user-settings></app-user-settings>
				</div>
				<div *ngIf="selectedNavigation.alias === 'order_tracking'" [@fadeAnimation]>
					<app-user-tracker></app-user-tracker>
				</div>
			</div>

			<div class="col-md-12" *ngIf="!hasAccess()">
				<app-no-access></app-no-access>
			</div>

		</div>
	</div>
</section>