<section class="profile-account-setting">
      <div class="container-fluid">
      	<div class="notice_bar info mt-3 shadow text-center">
			<marquee direction="left" scrolldelay="2s">
				<div id="scrollNotice">
					<span>Market your products, relax and earn!!!</span>
					<span>Do you know? any imported product(s) is/are automatically syncronized so you don't have to bother on stock availability.</span>
					<span>Also be aware that our settlement period is 30 days after which accumulated commissions are paid out.</span>
				</div>
			</marquee>
		</div>
        <div class="account-tabs-setting">
          <div class="row mt-3">
            <div class="col-lg-3">
            	<!-- <div class="header"><h2><strong>Manage</strong> Your Store</h2></div> -->
	              <div class="acc-leftbar">
	                <div class="nav nav-tabs" id="nav-tab" >
	                    <a *ngFor="let nav of navigation" 
	                    [ngClass]="{'active': selectedNavigation.id === nav.id}"
	                    class="nav-item nav-link" id="nav-acc-tab" 
	                    [routerLink]="" 
	                    (click)="setActiveNavigation(nav)">
	                    {{ nav.name | titlecase }}
	                    <i class="float-right {{ nav.icon }}"></i> 
	                  </a>
	                  </div>
	              </div><!--acc-leftbar end-->
	         </div>

			<div class="col-md-9" *ngIf="hasAccess()">


				
				<div *ngIf="selectedNavigation.alias === 'dashboard'">
					<div class="row" *ngIf="dashboardData && dashboardData.hasActiveStore">
						<div class="col-lg-4 col-md-12">
					        <div class="card mb-3 bg-teal" style="max-width: 540px;">
					          <div class="row no-gutters">
					            <div class="col-md-4">
					             <img src="/assets/images/cart.png" class="p-3 card-img" alt="">
					            </div>
					            <div class="col-md-8">
					              <div class="card-body">
					                <h2><strong>Orders</strong> Received</h2> 
					                <p class="card-text">NGN {{ dashboardData.orders_amount|number:0 }}</p>
					                <p class="card-text"><small class="text-muted">{{ dashboardData.orders_amount_avg }} on average</small></p>
					              </div>
					            </div>
					          </div>
					        </div>
					    </div>

					    <div class="col-lg-4 col-md-12">

					        <div class="card mb-3 bg-teal" style="max-width: 540px;">
					          <div class="row no-gutters">
					            <div class="col-md-4">
					              <img src="/assets/images/delivery-icon.png" class="p-3 card-img" alt="">
					            </div>
					            <div class="col-md-8">
					              <div class="card-body">
					                <h2><strong>Delivered</strong> Orders</h2> 
					                <p class="card-text">NGN {{ dashboardData.delivered_orders|number:0 }}</p>
					                <p class="card-text"><small class="text-muted">{{ dashboardData.delivered_orders_avg }} on average</small></p>
					              </div>
					            </div>
					          </div>
					        </div>
						</div>

						<div class="col-lg-4 col-md-12">

					        <div class="card mb-3 bg-teal" style="max-width: 540px;">
					          <div class="row no-gutters">
					            <div class="col-md-4">
					              <img src="/assets/images/payment-icon.png" class="p-3 card-img" width="40" alt="">
					            </div>
					            <div class="col-md-8">
					              <div class="card-body">
					                <h2><strong>Commission</strong></h2>  
					                <p class="card-text">NGN {{ dashboardData.total_commission }}</p>
					                <p class="card-text"><small class="text-muted">&nbsp;</small></p>
					              </div>
					            </div>
					          </div>
					        </div>
					    </div>

					    <!-- recent Orders -->
					    <div class="col-sm-12 col-md-12 col-lg-12">
					        <div class="card slideDown">
					            <div class="header p-2">
					                <h2><strong>Recent</strong> Orders</h2>
					            </div>
					            <div class="card-body table-responsive members_profiles">
					                <table class="table table-hover">
					                    <thead>
					                        <tr>
					                            <th style="width:60px;">#</th>
					                            <th>Name</th>
					                            <th>Item</th>
					                            <th>Quantity</th>                                    
					                            <th>Status</th>
					                        </tr>
					                    </thead>
					                    <tbody *ngIf="count(recentOrders) > 0">
					                        <tr *ngFor="let order of recentOrders">
					                            <td><img [src]="checkValue(order.image,'avatar','null')" alt="Product img" width="45"></td>
					                            <td>{{ order.name }}</td>
					                            <td>{{ order.product_name }}</td>
					                            <td>{{ order.quantity }}</td>
					                            <td><span class="text-warning">{{ order.status }}</span></td>
					                        </tr>
					                    </tbody>
					                    <tbody *ngIf="count(dashboardData.recent_orders) === 0">
					                        <tr>
					                            <td colspan="6" class="text-center"><span>No recent order has been placed.</span></td>
					                        </tr>
					                    </tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</div>

				</div>




				<div *ngIf="selectedNavigation.alias === 'view_orders'">
					<div class="row clearfix" *ngIf="orders">
						<div class="col-md-12">
					        <div class="card feeds-container fadeIn" *ngIf="showModBox">
					            <div class="card-header">
					              <h2><strong>View</strong> Order</h2>
					              <button type="button" (click)="closeModBox()" class="float-right btn btn-icon btn-round btn-icon-mini btn-white waves-effect">
					                  <i class="la la-close"></i>
					              </button>
					            </div>
					            <div class="card-body" *ngIf="singleOrder">
					                <table class="table">
					                  <tr>
					                    <td>
					                      Transaction Refference: 
					                    </td>
					                    <td>
					                      <strong class="text-success">{{ singleOrder.orders_student[0].transaction_ref }}</strong>
					                    </td>
					                  </tr>

					                  <tr>
					                    <td><strong>Buyer Name: </strong></td>
					                    <td>{{ singleOrder.buyer.name }}</td>
					                  </tr>

					                  <tr>
					                    <td><strong>Delivery Address: </strong></td>
					                    <td>{{ singleOrder.orders_student[0].delivery_address }}</td>
					                  </tr>

					                  <tr>
					                    <td><strong>Order Date: </strong></td>
					                    <td>{{ singleOrder.created_at | date: 'mediumDate' }}</td>
					                  </tr>
					                  <tr>
					                    <td><strong>Order Status: </strong></td>
					                    <td>{{ singleOrder.orders_student[0].status }}</td>
					                  </tr>
					                </table>

					                <div class="table-responsive">
					                  <p>Items</p>
					                <table class="table mt-3" *ngFor="let order of singleOrder.orders_student">
					                	<tr>
					                		<td>ORDER ID: </td>
					                		<td>{{ order.identifier }}</td>
					                	</tr>
					                  <tr>
					                      <td><strong>Item:</strong> </td>
					                      <td>
					                        {{ order.product.product_name }}
					                      </td>
					                  </tr>
					                  <tr>
					                      <td><strong>Unit Price</strong></td>
					                      <td>
					                        {{ order.product.product_price }}
					                      </td>
					                  </tr>
					                  <tr>

					                      <td><strong>Total:</strong> </td>
					                      <td>
					                        {{ order.amount | number:0 }}
					                      </td>
					                  </tr>
					                  <tr>
					                      <td><strong>Quantity: </strong></td>
					                      <td>
					                        {{order.quantity}}
					                      </td>
					                  </tr>
					                  <tr>
					                      <td><strong>Venture</strong></td>
					                      <td class="text-danger">{{ order.venture.venture_name }}</td>
					                  </tr>
					                </table>

					                </div>
					            </div>
					        </div>
					        <div class="card slideDown product_item_list product-order-list feeds-container" *ngIf="showMainOrders">
					            <div class="card-body">
					                <div class="mt-3 text-center">
					                     <div class="form-group">
					                            <input
					                                type="text"
					                                class="form-control"
					                                placeholder="Type to filter order id column..."
					                                (keyup)="updateFilter($event)"
					                              />
					                       </div>
					                    <!-- ngx datatable -->
					                    <div class="table-responsive">
					                      <table class="table table-center">
					                        <thead>
					                          <tr>
					                            <th>S/N</th>
					                            <th>Batch ID</th>
					                            <th>Buyer Name</th>
					                            <th>Buyer Phone</th>
					                            <th>Total Amount</th>
					                            <th>Total Items</th>
					                            <th>Actions</th>
					                          </tr>
					                        </thead>
					                        <tbody *ngIf="orders">
					                          <tr *ngFor="let item of orders; let index = index;">
					                            <td>{{ index + 1 }}</td>
					                            <td>
					                              {{ item.batch_id }}
					                            </td>
					                            <td>{{ item.buyer.name }}</td>
					                            <td>{{ item.buyer.phone?item.buyer.phone:'N/A' }}</td>
					                            <td>NGN {{ item.grant_total|number:0 }}</td>
					                            <td>{{ count(item.orders_student) }}</td>
					                            <td>
					                              <!-- Edit product -->
					                            <button 
					                            class="btn btn-icon btn-icon-mini btn-round btn-primary waves-effect" 
					                            (click)="viewOrder(item)" [owlTooltip]="'View Details'">
					                             <i class="fa fa-eye"></i>
					                            </button>

					                            </td>
					                          </tr>
					                        </tbody>
					                      </table>

					                    </div>
					                </div>
					            </div>
					        </div>
					        
					    </div>
					</div>

				</div>
				<div *ngIf="selectedNavigation.alias === 'venture_products'">
					<app-user-ventures></app-user-ventures>
				</div>

				<div *ngIf="selectedNavigation.alias === 'view_products'">
					<app-user-manage-products></app-user-manage-products>
				</div>
				
				<div *ngIf="selectedNavigation.alias === 'customer_reviews'">
					<app-user-reviews></app-user-reviews>
				</div>
				<div *ngIf="selectedNavigation.alias === 'store_settings'">
					<app-user-settings></app-user-settings>
				</div>
				<div *ngIf="selectedNavigation.alias === 'order_tracking'">
					<app-user-tracker></app-user-tracker>
				</div>
				<div *ngIf="selectedNavigation.alias === 'transactions'">
					<app-user-transactions></app-user-transactions>
				</div>
			</div>

			<div class="col-md-12" *ngIf="!hasAccess()">
				<app-no-access></app-no-access>
			</div>

		</div>
	</div>
</div>
</section>